
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-harga-1PN {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #fafbff;
}
.edit-harga-1PN .dasbor-kLx {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fafbff;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn {
  box-sizing: border-box;
  padding: 7rem 0rem 1.2rem 0rem;
  width: 24.2rem;
  height: 102.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc {
  box-sizing: border-box;
  padding: 6.2rem 4rem 6.2rem 6.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ {
  box-sizing: border-box;
  padding-bottom: 9.9rem;
  width: 100%;
  height: 34.7rem;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .text-4FA {
  box-sizing: border-box;
  padding: 0.4rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #1c1c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-js6 {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-js6 .icon-text-tEC {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-js6 .icon-text-tEC .text-dSg {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-7ck {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-7ck .text-GVe {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-MX6 {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-MX6 .text-uHi {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-bAY {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-bAY .text-Ldv {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-bAY .text-Ldv .riwayat-barang-masuk-6NC {
  max-width: 10.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-PcC {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314413-Hbn .frame-54-QAc .frame-8cQ .content-PcC .text-M3E {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .riwayat-pesanan-9Dz {
  width: 16.8rem;
  height: 2.8rem;
  position: absolute;
  left: 28.6rem;
  top: 30.5rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-718-EFS {
  width: 12.8rem;
  height: 4.6rem;
  position: absolute;
  left: 32.8rem;
  top: 34.5rem;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.017rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #413b89;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3rem;
}
.edit-harga-1PN .dasbor-kLx .frame-723-Ghv {
  width: 12.8rem;
  height: 4.6rem;
  position: absolute;
  left: 47.2rem;
  top: 34.3rem;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.017rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ebebee;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3rem;
}
.edit-harga-1PN .dasbor-kLx .frame-722-jbW {
  width: 12.8rem;
  height: 4.6rem;
  position: absolute;
  left: 61.6rem;
  top: 34.5rem;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.017rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ebebee;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3rem;
}
.edit-harga-1PN .dasbor-kLx .frame-721-Pg4 {
  width: 12.8rem;
  height: 4.6rem;
  position: absolute;
  left: 75.6rem;
  top: 34.5rem;
  overflow: hidden;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.017rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ebebee;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3rem;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 113rem;
  height: 62.1rem;
  position: absolute;
  left: 28.5rem;
  top: 40.3rem;
  overflow: hidden;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ebebee;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .frame-696-V6p {
  width: 25rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .frame-697-9BN {
  width: 20.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .frame-698-Dh2 {
  width: 15rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .frame-699-6kp {
  width: 20.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .auto-group-uvus-Pzp {
  box-sizing: border-box;
  padding: 1.8rem 4rem 1.7rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .auto-group-uvus-Pzp .frame-708-XLL {
  margin-right: 11.6rem;
  width: 4.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-702-9oe .auto-group-uvus-Pzp .frame-709-dPN {
  width: 7.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-696-2gQ {
  margin: 0.3rem 22.6rem 0.2rem 0rem;
  width: 5.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-697-4d6 {
  margin: 0.3rem 8.2rem 0.2rem 0rem;
  width: 10.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-698-Gz4 {
  margin: 0.3rem 9.8rem 0.2rem 0rem;
  width: 8.2rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-699-hJg {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-707-9wN {
  margin: 0.3rem 8.6rem 0.2rem 0rem;
  width: 6.4rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: #0978f2;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-708-yfW {
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-708-yfW .frame-1321314409-WfS {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-703-Wi4 .frame-708-yfW .frame-1321314409-WfS .frame-3-RnQ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-696-Jji {
  margin: 0.3rem 21.8rem 0.2rem 0rem;
  width: 4.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-697-Wat {
  margin: 0.3rem 7.9rem 0.2rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-698-WzC {
  margin: 0.3rem 10.4rem 0.2rem 0rem;
  width: 6.5rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-699-7j6 {
  margin: 0.3rem 8.9rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-708-jEg {
  margin: 0.3rem 9.3rem 0.2rem 0rem;
  width: 6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(14, 173, 105, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-707-YC8 {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-707-YC8 .frame-1321314409-qwv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-704-efA .frame-707-YC8 .frame-1321314409-qwv .frame-3-bw6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-696-AMv {
  margin: 0.3rem 22.1rem 0.2rem 0rem;
  width: 4.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-697-PVa {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-698-Z2g {
  margin: 0.3rem 10.5rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-699-8V6 {
  margin: 0.3rem 9.1rem 0.2rem 0rem;
  width: 7.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-708-xDE {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(193, 11, 14, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-707-PJY {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-707-PJY .frame-1321314409-Wtx {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-705-4pg .frame-707-PJY .frame-1321314409-Wtx .frame-3-5SG {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 {
  margin-bottom: 14.1rem;
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.5rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-696-zSk {
  margin: 0.3rem 14.1rem 0.2rem 0rem;
  width: 12rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-697-zLG {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-698-b5A {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-699-F9i {
  margin: 0.3rem 8rem 0.2rem 0rem;
  width: 9.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-708-hnQ {
  margin: 0.3rem 5.5rem 0.2rem 0rem;
  width: 10.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(35, 0, 255, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-707-YY8 {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-707-YY8 .frame-1321314409-3Dz {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .frame-706-Xp4 .frame-707-YY8 .frame-1321314409-3Dz .frame-3-B5J {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .auto-group-ngwz-EJU {
  margin: 0rem 0.014rem 0rem 3.5rem;
  width: calc(100% - 3.5143rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .auto-group-ngwz-EJU .pay-button-LcQ {
  margin-right: 69rem;
  width: 25.2rem;
  height: 4.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #0acf83;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .auto-group-ngwz-EJU .pagination-ArL {
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 1.16rem 1.8rem 1.16rem 2.057rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .auto-group-ngwz-EJU .pagination-ArL .bold-arrows-alt-arrow-left-5iQ {
  margin-right: 8.8571rem;
  width: 1.3714rem;
  height: 2.48rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-695-r3r .auto-group-ngwz-EJU .pagination-ArL .bold-arrows-alt-arrow-right-QEt {
  width: 1.2rem;
  height: 2.48rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-58-r6t {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  position: absolute;
  left: 28.6rem;
  top: 18.7rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-58-r6t .total-pendapatan-kCG {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-58-r6t .rp100000000-fa8 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314404-y52 {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  cursor: pointer;
  position: absolute;
  left: 28.5rem;
  top: 5.6rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #f5f6f8;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314404-y52 .telur-tersisa-GK2 {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314404-y52 .kg-MrG {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314404-y52 .tekan-untuk-menambah-stok-telur-5XN {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314405-v2C {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.4rem 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  position: absolute;
  left: 103.5rem;
  top: 5.1rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314405-v2C .harga-telur-perkg-nKJ {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314405-v2C .rp31000-fP6 {
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314405-v2C .tekan-untuk-mengganti-harga-NoJ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314406-S2U {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 3.4rem 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  cursor: pointer;
  position: absolute;
  left: 53.5rem;
  top: 5.1rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #f5f6f8;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314406-S2U .telur-masuk-total-55S {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314406-S2U .kg-mDA {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314407-2Pz {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 3.4rem 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  cursor: pointer;
  position: absolute;
  left: 78.5rem;
  top: 5.1rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #f5f6f8;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314407-2Pz .telur-masuk-bulan-ini-GJL {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314407-2Pz .kg-Xk4 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314408-oha {
  box-sizing: border-box;
  padding: 0.2rem 3.4rem 0.1rem 3.3rem;
  width: 12.8rem;
  height: 4.6rem;
  position: absolute;
  left: 90rem;
  top: 34.3rem;
  overflow: hidden;
  border: solid 0.1rem #ebebee;
  background-color: #ffffff;
  border-radius: 3rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314408-oha .barang-masuk-rfr {
  max-width: 6.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.017rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
}
.edit-harga-1PN .dasbor-kLx .frame-1321314409-gun {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  position: absolute;
  left: 53.5rem;
  top: 18.7rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314409-gun .uang-keluar-jt4 {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314409-gun .rp100000000-qAQ {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314410-teU {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
  width: 22.1rem;
  height: 10.3rem;
  position: absolute;
  left: 78.7rem;
  top: 18.7rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314410-teU .uang-keluar-bulan-ini-XhS {
  margin: 0rem 3.4rem 1.4rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .frame-1321314410-teU .rp100000000-bhJ {
  margin-right: 2.4rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt {
  box-sizing: border-box;
  padding: 37rem 44rem;
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v {
  width: 100%;
  height: 100%;
  position: relative;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-ySx {
  width: 56rem;
  height: 28.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg {
  width: 34.2667rem;
  height: 21.1659rem;
  position: absolute;
  left: 9.3rem;
  top: 3.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .edit-harga-telur-2AL {
  margin: 0rem 11.367rem 2.6rem 0rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4a4b4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-1321314410-fj6 {
  margin: 0rem 3.955rem 4.166rem 8.2rem;
  width: calc(100% - 12.1547rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-1321314410-fj6 .rp-LaL {
  margin-right: 0.012rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4a4b4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-1321314410-fj6 .stylelayer-TQ4 {
  width: 16.2rem;
  height: 4.8rem;
  border: solid 0.1rem #232321;
  box-sizing: border-box;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-2609075-ktx {
  margin-left: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-2609075-ktx .button-gGp {
  margin-right: 3.3333rem;
  width: 14.1667rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-2609075-ktx .button-gGp .stylelayer-DXe {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #232321;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #232321;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-2609075-ktx .button-4YG {
  width: 14.1667rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.edit-harga-1PN .dasbor-kLx .desktop-1-VGt .group-24-21v .group-23-Wxg .frame-2609075-ktx .button-4YG .stylelayer-PaY {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bc237;
  border-radius: 0.8rem;
}
