
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bayar-request-3Ap {
  height: 102.4rem;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');
  background-position: center;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-repeat: no-repeat;

  .header-top-B28 {
    padding: 0rem 2.2rem 0rem 4.3rem;
    top: 0;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    box-sizing: border-box;
    height: 8rem;
    position: absolute;
    left: 0;
    display: flex;
    background-position: center;
    width: 144rem;

    .rectangle-56-sfe {
      margin: 0rem 58.4rem 1rem 0rem;
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .your-account-items-nnc {
      flex-shrink: 0;
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;
      column-gap: 1.6rem;
      align-items: flex-start;

      .frame-6-hua {
        color: #23263b;
        line-height: 1.3999999653;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 2.4rem;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        background-color: #60fd00;
        border-radius: 2.5rem;
        display: flex;
        margin-top: 0.1rem;
        width: 20.2rem;
        font-size: 1.1rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .frame-3-mPe {
        position: relative;
        font-weight: 800;
        line-height: 2.4097223282;
        color: #ffffff;
        border-radius: 0.4819rem;
        flex-shrink: 0;
        text-align: center;
        font-size: 1rem;
        background-color: #556ab7;
        box-sizing: border-box;
        padding: 0 4.2rem;
        font-family: Lato, 'Source Sans Pro';
        margin-top: 0.05rem;
        height: 2.2rem;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
      }
      .frame-3-F3v {
        padding: 0 3.8rem;
        height: 2.2rem;
        font-weight: 800;
        border-radius: 0.4819rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        text-align: center;
        line-height: 2.4097223282;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        background-color: #ff0000;
        box-sizing: border-box;
        font-size: 1rem;
        white-space: nowrap;
      }
    }
  }
  .frame-55-87i {
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
    width: 24.2rem;
    height: 94rem;
    position: absolute;
    left: 0;
    top: 7rem;

    .frame-Fy2 {
      padding-bottom: 22.3rem;
      width: 13.7rem;
      height: 34.7rem;
      row-gap: 0.4rem;
      align-items: center;
      display: flex;
      border-radius: 2rem;
      box-sizing: border-box;
      left: 6.6rem;
      top: 6.9rem;
      flex-direction: column;
      position: absolute;

      .text-AKJ {
        font-weight: 400;
        line-height: 1.4285714286;
        color: rgba(28, 28, 28, 0.400000006);
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 0.4rem 1.2rem;
        font-size: 1.4rem;
        flex-shrink: 0;
        width: 100%;
        white-space: nowrap;
        border-radius: 0.8rem;
      }
      .content-fWx {
        box-sizing: border-box;
        padding: 0.4rem 0;
        width: 100%;
        height: 2.8rem;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .icon-text-26c {
          margin-right: 0.8rem;
          width: 12.9rem;
          height: 100%;
          border-radius: 0.8rem;

          .text-yXe {
            border-radius: 0.8rem;
            width: 100%;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            color: #0f0000;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .content-Gme {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0;
        width: 100%;
        height: 2.8rem;
        border-radius: 0.8rem;

        .text-cqW {
          font-weight: 400;
          color: #0f0000;
          white-space: nowrap;
          width: 12.9rem;
          height: 100%;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
          margin-right: 0.8rem;
          font-size: 1.4rem;
        }
      }
      .content-XBn {
        background-color: rgba(2, 2, 2, 0.0599999987);
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0;
        width: 100%;
        height: 2.8rem;

        .text-UMv {
          margin-right: 0.8rem;
          width: 12.9rem;
          height: 100%;
          line-height: 1.4285714286;
          color: #0f0000;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
          font-size: 1.4rem;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
    .frame-54-9ix {
      left: 0;
      top: 7rem;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      height: 94rem;
      padding: 6.9rem 3.9rem 6.9rem 6.6rem;
      width: 24.2rem;
      position: absolute;
      overflow: hidden;
      box-sizing: border-box;

      .frame-fxC {
        box-sizing: border-box;
        row-gap: 0.4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 2rem;
        padding-bottom: 19.1rem;
        width: 100%;
        height: 34.7rem;

        .text-QPz {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          padding: 0.4rem 1.2rem;
          width: 100%;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #1c1c1c;
          white-space: nowrap;
          border-radius: 0.8rem;
          box-sizing: border-box;
          font-size: 1.4rem;
        }
        .content-KWx {
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;

          .icon-text-sHa {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .text-dGk {
              white-space: nowrap;
              width: 100%;
              height: 100%;
              font-size: 1.4rem;
              color: #0f0000;
              font-weight: 400;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
            }
          }
        }
        .content-8DW {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .text-sgt {
            margin-right: 0.8rem;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            width: 12.9rem;
            font-weight: 400;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
        .content-yjv {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;

          .text-jDJ {
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .content-R68 {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .text-y7e {
            width: 12.9rem;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 0.8rem;
            height: 100%;
            font-weight: 400;
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
      }
    }
  }
  .payment-NQg {
    left: 34.4rem;
    top: 12.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 4rem;
    position: absolute;
    align-items: center;
    border-radius: 2rem;
    width: 90.5rem;
    height: 88.6rem;

    .title-page-ggG {
      letter-spacing: 0.02rem;
      white-space: nowrap;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 10.25rem 1.9rem 10.25rem;
      text-align: center;
      font-size: 4rem;
      font-family: Montserrat, 'Source Sans Pro';
      width: 100%;
      font-weight: 700;
      line-height: 0.5;
      color: #000000;
    }
    .auto-group-9ohr-y9a {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 0rem 2.1rem 0.3rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-fcqq-hbN {
        margin-bottom: 5.4328rem;
        width: 90.5rem;
        height: 66.1672rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-3-2tY {
          background-color: #f6f6f6;
          border-radius: 3rem;
          width: 90.5rem;
          height: 66.1rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .metode-pembayaran-Ajr {
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 3.3rem;
          top: 8.2rem;
          font-size: 1.8rem;
          font-family: Montserrat, 'Source Sans Pro';
          width: 19.4rem;
          height: 2.2rem;
          line-height: 1.2175;
          letter-spacing: 0.02rem;
        }
        .payment-methods-rcg {
          top: 13.4rem;
          display: flex;
          align-items: center;
          width: 31.3511rem;
          height: 6.6rem;
          position: absolute;
          left: 3.3rem;

          .payment-1-aoa {
            box-sizing: border-box;
            padding: 0.8rem 1.499rem 0.8rem 1.713rem;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 0.9489rem;

            .credit-card-uqr {
              width: 6.6388rem;
              height: 5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .payment-2-ogL {
            background-color: #ffffff;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 0.8489rem;
            box-sizing: border-box;
            padding: 0.8rem 2.679rem 0.8rem 2.883rem;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

            .paypal-wXe {
              width: 4.2891rem;
              height: 5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .payment-3-46U {
            box-sizing: border-box;
            padding: 0.8rem 0.86rem 0.8rem 0.9rem;
            height: 100%;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;

            .dan-QAL {
              vertical-align: top;
              width: 8.0907rem;
              height: 5rem;
              object-fit: contain;
            }
          }
        }
        .nomor-rekening-nomor-dana-iwi {
          font-family: Montserrat, 'Source Sans Pro';
          position: absolute;
          left: 3.7rem;
          font-size: 1.8rem;
          color: #3a3c3f;
          line-height: 1.2175;
          width: 16.3rem;
          height: 4.4rem;
          top: 26.3rem;
          font-weight: 500;
        }
        .rectangle-24-dYt {
          top: 31.1rem;
          background-color: #eef1f4;
          border-radius: 0.8rem;
          width: 36rem;
          height: 5.5rem;
          position: absolute;
          left: 3.6rem;
        }
        .card-number-Mjn {
          height: 7.4rem;
          position: absolute;
          left: 3.6rem;
          top: 37.3rem;
          border-radius: 0.8rem;
          width: 35.7rem;

          .nama-Vb6 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #3a3c3f;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.45rem 0.1rem;
          }
          .rectangle-24-2L8 {
            width: 100%;
            height: 4.75rem;
            background-color: #eef1f4;
            border-radius: 0.8rem;
          }
        }
        .expiry-date-a6k {
          position: absolute;
          left: 3.6rem;
          top: 44.7rem;
          border-radius: 0.8rem;
          width: 35.1rem;
          height: 8.6rem;

          .nomor-telp-wa-hhA {
            margin-bottom: 0.9rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #3a3c3f;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-25-3FE {
            background-color: #eef1f4;
            border-radius: 0.8rem;
            width: 100%;
            height: 5.5rem;
          }
        }
        .cvv-zAU {
          border-radius: 0.8rem;
          width: 36rem;
          height: 12.1672rem;
          position: absolute;
          left: 3rem;
          top: 54rem;

          .alamat-Xw6 {
            margin: 0rem 0rem 0.6rem 0.6rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2175;
            color: #3a3c3f;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-26-rTa {
            background-color: #eef1f4;
            border-radius: 0.8rem;
            width: 100%;
            height: 9.3672rem;
          }
        }
        .product-card-ns2 {
          padding: 0.8rem 1.6rem 0.5rem 0.8rem;
          width: 28.8rem;
          height: 53.1rem;
          top: 4.8rem;
          align-items: center;
          background-color: #fcfcfc;
          border-radius: 1.2rem;
          box-sizing: border-box;
          left: 51.2rem;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
          position: absolute;

          .frame-7-gxQ {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            width: 100%;
            overflow: hidden;
            position: relative;
            background-color: #ffffff;

            .image-2-Sgg {
              width: 26.4rem;
              height: 26.4rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .frame-15-NqE {
            margin: 0rem 0.7rem 0rem 1.3rem;
            width: calc(100% - 2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .pesan-telur-dengan-jumlah-diinginkan-WgY {
              margin-bottom: 1.5rem;
              max-width: 24.4rem;
              display: flex;
              font-size: 2rem;
              line-height: 1.2;
              color: #00171f;
              font-weight: 400;
              font-family: Basic, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .auto-group-bcsl-Dqr {
              width: 22.4rem;
              height: 18.9rem;
              position: relative;
              flex-shrink: 0;

              .frame-2609047-NTr {
                width: 22.4rem;
                height: 11.1rem;
                position: absolute;
                left: 0;
                top: 7.8rem;

                .harga-yang-harus-dibayar-Wpx {
                  margin-bottom: 1.5rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.26;
                  color: #232321;
                  font-family: Basic, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .frame-1429-3K6 {
                  width: 13.3rem;
                  height: 7rem;

                  .input-initial-CSt {
                    letter-spacing: 0.05rem;
                    border: solid 0.1rem #232321;
                    box-sizing: border-box;
                    margin-bottom: 2.2rem;
                    align-items: center;
                    font-size: 1.6rem;
                    line-height: 1.2125;
                    display: flex;
                    border-radius: 0.8rem;
                    width: 100%;
                    height: 4.8rem;
                    font-weight: 400;
                    color: #1f1a24;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    justify-content: center;
                  }
                }
              }
              .kg-3yJ {
                white-space: nowrap;
                width: 2.3rem;
                height: 2.6rem;
                font-size: 2rem;
                line-height: 1.26;
                color: #232321;
                font-family: Basic, 'Source Sans Pro';
                position: absolute;
                left: 14.4rem;
                top: 0.9rem;
                font-weight: 400;
              }
              .frame-1429-mPW {
                position: absolute;
                left: 0;
                top: 0;
                width: 13.3rem;
                height: 7rem;

                .input-initial-7iG {
                  border-radius: 0.8rem;
                  margin-bottom: 2.2rem;
                  box-sizing: border-box;
                  padding: 0.8rem 1.6rem;
                  width: 100%;
                  height: 4.8rem;
                  border: solid 0.1rem #232321;

                  .placeholder-rQx {
                    max-width: 6.7rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    letter-spacing: 0.05rem;
                    color: rgba(31, 26, 36, 0.5);
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
              }
            }
          }
        }
      }
      .auto-group-rixj-75z {
        margin: 0rem 9.85rem 0rem 14.7rem;
        width: calc(100% - 24.55rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-116-EAc {
          width: 19.1rem;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          margin: 0.4rem 5rem 0rem 0rem;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5422rem;
          border: solid 0.0964rem #333333;
          overflow: hidden;
          line-height: 1.5625000773;
          justify-content: center;
          height: 5rem;
          position: relative;
          font-weight: 800;
          background-color: #ff0000;
          border-radius: 0.4819rem;
          cursor: pointer;
        }
        .frame-115-H8t {
          height: 5rem;
          overflow: hidden;
          position: relative;
          font-weight: 800;
          justify-content: center;
          border-radius: 0.4819rem;
          width: 19.1rem;
          line-height: 1.5625000773;
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          box-sizing: border-box;
          margin: 0rem 5.55rem 0.4rem 0rem;
          text-align: center;
          font-size: 1.5422rem;
          align-items: center;
          border: solid 0.0964rem #333333;
          color: #ffffff;
          white-space: nowrap;
          background-color: #43c522;
          flex-shrink: 0;
        }
        .cek-email-jika-membayar-dengan-bank-wDS {
          color: #3a3c3f;
          margin-bottom: 0.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.2175;
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 16.9rem;
          flex-shrink: 0;
        }
      }
    }
  }
}
