
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dasbrod-qHz {
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');

  .header-top-Bck {
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    padding: 0rem 2.2rem 0rem 4.3rem;
    height: 8rem;
    align-items: center;
    background-size: 100% 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-position: center;

    .rectangle-56-Wf2 {
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 58.4rem 1rem 0rem;
    }
    .your-account-items-qhJ {
      column-gap: 1.6rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;

      .frame-6-ZNQ {
        line-height: 1.3999999653;
        display: flex;
        justify-content: center;
        overflow: hidden;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        font-size: 1.1rem;
        position: relative;
        width: 20.2rem;
        height: 2.4rem;
        color: #23263b;
        background-color: #60fd00;
        border-radius: 2.5rem;
        margin-top: 0.1rem;
      }
      .frame-3-qKv {
        padding: 0 4.2rem;
        font-size: 1rem;
        line-height: 2.4097223282;
        font-weight: 800;
        font-family: Lato, 'Source Sans Pro';
        margin-top: 0.05rem;
        height: 2.2rem;
        text-align: center;
        color: #ffffff;
        background-color: #556ab7;
        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
        flex-shrink: 0;
        position: relative;
        white-space: nowrap;
        border-radius: 0.4819rem;
      }
      .frame-3-6me {
        height: 2.2rem;
        cursor: pointer;
        font-size: 1rem;
        white-space: nowrap;
        box-sizing: border-box;
        line-height: 2.4097223282;
        font-family: Lato, 'Source Sans Pro';
        text-align: center;
        font-weight: 800;
        color: #ffffff;
        border-radius: 0.4819rem;
        flex-shrink: 0;
        padding: 0 3.8rem;
        overflow: hidden;
        position: relative;
        background-color: #ff0000;
      }
    }
  }
  .auto-group-36he-AWc {
    height: 94.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 5.8rem;
    width: calc(100% - 5.8rem);

    .frame-2609093-VYt {
      flex-shrink: 0;
      margin-right: 7.4rem;
      width: 24.2rem;
      height: 100%;
      position: relative;
      overflow: hidden;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);

      .frame-34c {
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 22.3rem;
        height: 34.7rem;
        left: 6.6rem;
        top: 6.9rem;
        row-gap: 0.4rem;
        width: 13.7rem;
        position: absolute;
        align-items: center;
        display: flex;
        border-radius: 2rem;

        .text-L3i {
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          width: 100%;
          font-weight: 400;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          color: rgba(28, 28, 28, 0.400000006);
          white-space: nowrap;
          flex-shrink: 0;
        }
        .content-doW {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-text-C5v {
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;

            .text-9G4 {
              width: 100%;
              font-size: 1.4rem;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 0.8rem;
              height: 100%;
              font-weight: 400;
              line-height: 1.4285714286;
            }
          }
        }
        .content-T1r {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-D12 {
            font-size: 1.4rem;
            font-weight: 400;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .content-WVv {
          height: 2.8rem;
          background-color: rgba(2, 2, 2, 0.0599999987);
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .text-fNp {
            margin-right: 0.8rem;
            width: 12.9rem;
            font-weight: 400;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
          }
        }
      }
      .frame-54-kfA {
        background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
        box-sizing: border-box;
        height: 94rem;
        left: 0;
        top: 7rem;
        overflow: hidden;
        padding: 6.9rem 3.9rem 6.9rem 6.6rem;
        width: 24.2rem;
        position: absolute;

        .frame-sjn {
          box-sizing: border-box;
          row-gap: 0.4rem;
          height: 34.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 2rem;
          padding-bottom: 22.3rem;
          width: 100%;

          .text-otL {
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 0.8rem;
            box-sizing: border-box;
            width: 100%;
            color: #1c1c1c;
            white-space: nowrap;
            flex-shrink: 0;
            padding: 0.4rem 1.2rem;
            font-size: 1.4rem;
          }
          .content-vi4 {
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .icon-text-tPz {
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;
              border-radius: 0.8rem;

              .text-e8G {
                border-radius: 0.8rem;
                width: 100%;
                font-weight: 400;
                color: #0f0000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                height: 100%;
                font-size: 1.4rem;
                line-height: 1.4285714286;
              }
            }
          }
          .content-XSx {
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;

            .text-gKr {
              border-radius: 0.8rem;
              width: 12.9rem;
              font-size: 1.4rem;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 0.8rem;
              height: 100%;
              font-weight: 400;
              line-height: 1.4285714286;
            }
          }
          .content-Akp {
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .text-7g4 {
              border-radius: 0.8rem;
              width: 12.9rem;
              color: #0f0000;
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 0.8rem;
              height: 100%;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .auto-group-4zy8-LHv {
      margin: 9.7rem 0rem 13.7rem 0rem;
      box-sizing: border-box;
      padding: 3.2rem 2.6rem 2.5rem 2.5rem;
      width: 106.6rem;
      height: calc(100% - 23.4rem);
      background-color: #ffffff;
      flex-shrink: 0;

      .auto-group-awwu-dXv {
        margin: 0rem 50.7rem 3.1rem 2.9rem;
        width: calc(100% - 53.6rem);
        height: 10.3rem;
        display: flex;
        align-items: center;

        .frame-1321314409-MTv {
          box-sizing: border-box;
          padding: 1.6rem 1.6rem 2.4rem 1.6rem;
          height: 100%;
          overflow: hidden;
          border: solid 0.1rem #f3f4f6;
          background-color: #dcfaed;
          border-radius: 0.5rem;
          margin-right: 3.7rem;
          width: 22.1rem;
          position: relative;
          flex-shrink: 0;

          .telur-terkirim-bulam-ini-U2k {
            margin-bottom: 1.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.26;
            letter-spacing: 0.016rem;
            color: rgba(34, 34, 34, 0.8999999762);
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
          }
          .kg-nJL {
            white-space: nowrap;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.26;
            color: #0ead69;
            font-family: Outfit, 'Source Sans Pro';
          }
        }
        .frame-1321314410-tcG {
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 1.6rem 2.9rem 2.4rem 1.6rem;
          height: 100%;
          display: flex;
          border: solid 0.1rem #f3f4f6;
          overflow: hidden;
          position: relative;
          flex-direction: column;
          background-color: #dcfaed;
          flex-shrink: 0;

          .uang-diterima-bulam-ini-DeY {
            margin-bottom: 1.4rem;
            font-weight: 400;
            line-height: 1.26;
            flex-shrink: 0;
            font-size: 1.6rem;
            letter-spacing: 0.016rem;
            color: rgba(34, 34, 34, 0.8999999762);
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rp10000-LUG {
            color: #0ead69;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.26;
          }
        }
      }
      .riwayat-pesanan-3da {
        color: rgba(73, 69, 79, 0.8000000119);
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.3rem 3.3rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.26;
      }
      .frame-2609092-ATJ {
        padding: 0.2rem 2.2rem;
        width: 100%;
        height: 48rem;
        background-color: #ffffff;
        border-radius: 2rem;
        box-sizing: border-box;

        .frame-695-WXA {
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          position: relative;
          align-items: flex-end;
          flex-direction: column;
          background-color: #ffffff;
          padding-bottom: 2rem;
          overflow: hidden;
          display: flex;
          border: solid 0.1rem #ebebee;
          border-radius: 1.2rem;

          .frame-702-FUk {
            border: solid 0.1rem #cecece;
            flex-shrink: 0;
            padding-right: 7.6rem;
            width: 100%;
            height: 5.6rem;
            display: flex;
            align-items: center;
            margin-bottom: 1.1rem;
            box-sizing: border-box;

            .frame-696-B7W {
              box-sizing: border-box;
              margin-right: 6.8rem;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.26;
              display: flex;
              align-items: center;
              height: 100%;
              position: relative;
              letter-spacing: 0.016rem;
              overflow: hidden;
              color: rgba(73, 69, 79, 0.8000000119);
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 25rem;
              justify-content: center;
              border: solid 0.1rem #cecece;
            }
            .frame-697-f2g {
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              width: 20.9rem;
              height: 100%;
              text-align: center;
              line-height: 1.26;
              letter-spacing: 0.016rem;
              color: rgba(73, 69, 79, 0.8000000119);
              display: flex;
              box-sizing: border-box;
              font-weight: 400;
              border: solid 0.1rem #cecece;
              flex-shrink: 0;
              overflow: hidden;
              margin-right: 6.8rem;
              position: relative;
              font-size: 1.6rem;
              align-items: center;
              justify-content: center;
            }
            .frame-698-jHS {
              color: rgba(73, 69, 79, 0.8000000119);
              border: solid 0.1rem #cecece;
              box-sizing: border-box;
              flex-shrink: 0;
              width: 15rem;
              line-height: 1.26;
              font-size: 1.6rem;
              white-space: nowrap;
              margin-right: 10.4rem;
              position: relative;
              font-weight: 400;
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              text-align: center;
              overflow: hidden;
              letter-spacing: 0.016rem;
            }
            .frame-708-d7v {
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: center;
              margin: 1.8rem 0rem 1.7rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              justify-content: center;
              width: 4.6rem;
              flex-shrink: 0;
              height: calc(100% - 3.5rem);
              overflow: hidden;
              position: relative;
              line-height: 1.26;
              letter-spacing: 0.016rem;
              color: rgba(73, 69, 79, 0.8999999762);
            }
          }
          .frame-703-gM6 {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.8rem 7.4rem 1.7rem 2.4rem;
            width: 100%;
            height: 5.6rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #000000;

            .frame-696-1PN {
              width: 8.8rem;
              position: relative;
              font-size: 1.6rem;
              line-height: 1.26;
              align-items: center;
              margin-right: 26.4rem;
              font-weight: 400;
              letter-spacing: 0.016rem;
              white-space: nowrap;
              display: flex;
              overflow: hidden;
              justify-content: center;
              flex-shrink: 0;
              height: 100%;
              font-family: Outfit, 'Source Sans Pro';
              color: rgba(34, 34, 34, 0.8999999762);
            }
            .frame-697-iHn {
              color: rgba(34, 34, 34, 0.8999999762);
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              margin-right: 15.4rem;
              line-height: 1.26;
              width: 9rem;
              font-size: 1.6rem;
              display: flex;
              height: 100%;
              overflow: hidden;
              position: relative;
              font-weight: 400;
              letter-spacing: 0.016rem;
              font-family: Outfit, 'Source Sans Pro';
            }
            .frame-698-23a {
              line-height: 1.26;
              font-family: Outfit, 'Source Sans Pro';
              margin-right: 11.6rem;
              font-weight: 400;
              white-space: nowrap;
              align-items: center;
              width: 10.1rem;
              height: 100%;
              color: rgba(34, 34, 34, 0.8999999762);
              display: flex;
              text-align: center;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              justify-content: center;
              flex-shrink: 0;
              overflow: hidden;
              position: relative;
            }
            .frame-707-vek {
              font-family: Outfit, 'Source Sans Pro';
              width: 6rem;
              position: relative;
              line-height: 1.26;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              color: rgba(14, 173, 105, 0.8999999762);
              white-space: nowrap;
              flex-shrink: 0;
              height: 100%;
              overflow: hidden;
              letter-spacing: 0.016rem;
              align-items: center;
              justify-content: center;
            }
          }
          .frame-707-pk8 {
            flex-shrink: 0;
            margin-bottom: 22.5rem;
            padding: 1.8rem 5.4rem 1.7rem 2.4rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            border: solid 0.1rem #000000;

            .frame-696-jcC {
              height: 100%;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              font-size: 1.6rem;
              line-height: 1.26;
              letter-spacing: 0.016rem;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              position: relative;
              margin-right: 26.2rem;
              width: 8.2rem;
              font-weight: 400;
              color: rgba(34, 34, 34, 0.8999999762);
              display: flex;
            }
            .frame-697-dxU {
              width: 10.8rem;
              flex-shrink: 0;
              height: 100%;
              overflow: hidden;
              text-align: center;
              color: rgba(34, 34, 34, 0.8999999762);
              white-space: nowrap;
              align-items: center;
              position: relative;
              font-weight: 400;
              line-height: 1.26;
              justify-content: center;
              margin-right: 15.3rem;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
            }
            .frame-698-7Mr {
              margin-right: 12.7rem;
              height: 100%;
              position: relative;
              line-height: 1.26;
              display: flex;
              color: rgba(34, 34, 34, 0.8999999762);
              justify-content: center;
              overflow: hidden;
              letter-spacing: 0.016rem;
              white-space: nowrap;
              align-items: center;
              width: 8.1rem;
              font-size: 1.6rem;
              font-weight: 400;
              font-family: Outfit, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .frame-708-c3i {
              overflow: hidden;
              white-space: nowrap;
              height: 100%;
              font-size: 1.6rem;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              width: 8rem;
              position: relative;
              line-height: 1.26;
              letter-spacing: 0.016rem;
              color: rgba(193, 11, 14, 0.8000000119);
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
            }
          }
          .auto-group-rjpe-odz {
            margin: 0rem 0.5rem 0rem 2.4rem;
            width: calc(100% - 2.9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .pay-button-vic {
              cursor: pointer;
              justify-content: center;
              font-weight: 800;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              background-color: #0acf83;
              flex-shrink: 0;
              margin-right: 53.7rem;
              align-items: center;
              height: 4.6rem;
              display: flex;
              border-radius: 0.8rem;
              width: 25.2rem;
              font-size: 2rem;
              line-height: 1.2175;
              white-space: nowrap;
            }
            .pagination-bZr {
              margin-top: 0.4rem;
              box-sizing: border-box;
              padding: 1.16rem 1.8rem 1.16rem 2.057rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bold-arrows-alt-arrow-left-iuN {
                height: 2.48rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 8.8714rem;
                width: 1.3714rem;
              }
              .bold-arrows-alt-arrow-right-T6G {
                width: 1.2rem;
                height: 2.48rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}
