
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dasbor-xPi {
  align-items: flex-end;
  background-color: #fafbff;
  box-sizing: border-box;
  padding-right: 2.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .frame-1321314413-Hwn {
    width: 24.2rem;
    overflow: hidden;
    margin-bottom: 0.2rem;
    box-sizing: border-box;
    padding: 7rem 0rem 1.2rem 0rem;
    height: 102.2rem;
    position: relative;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
    flex-shrink: 0;

    .frame-54-Cor {
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      box-sizing: border-box;
      padding: 6.2rem 4rem 6.2rem 6.5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .frame-9UC {
        padding-bottom: 7.9rem;
        row-gap: 1.2rem;
        align-items: center;
        flex-direction: column;
        border-radius: 2rem;
        box-sizing: border-box;
        height: 34.7rem;
        display: flex;
        width: 100%;

        .text-UWU {
          font-weight: 400;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          width: 100%;
          font-size: 1.4rem;
          flex-shrink: 0;
          line-height: 1.4285714286;
          color: #1c1c1c;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
        }
        .content-kyn {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-text-Wi4 {
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;

            .text-fax {
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              border-radius: 0.8rem;
              width: 100%;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .content-kcQ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;

          .text-7Sx {
            margin-right: 0.8rem;
            width: 12.9rem;
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .content-zWk {
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;

          .text-YYG {
            font-weight: 400;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
        .content-eLQ {
          width: 100%;
          height: 4.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;

          .text-bFe {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .riwayat-barang-masuk-MEp {
              max-width: 10.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .content-eji {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 4.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-1KN {
            margin-right: 2.5rem;
            width: 11.2rem;
            height: 100%;
            border-radius: 0.8rem;

            .buat-pesanan-ke-suplier-Mu2 {
              max-width: 11.2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .auto-group-ycji-aFz {
    flex-shrink: 0;
    width: 117.5rem;

    .auto-group-kke8-vak {
      width: calc(100% - 47.7rem);
      height: 10.3rem;
      display: flex;
      align-items: center;
      margin: 0rem 47.7rem 7.6rem 0rem;

      .frame-1321314404-qxc {
        height: 100%;
        border: solid 0.1rem #f3f4f6;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 4.2rem;
        box-sizing: border-box;
        padding: 1.6rem;
        width: 32.8rem;
        overflow: hidden;
        position: relative;
        background-color: #f5f6f8;

        .telur-tersisa-NSk {
          letter-spacing: 0.016rem;
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.26;
        }
        .kg-67r {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.26;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.5rem;
        }
        .tekan-untuk-menambah-stok-telur-q5S {
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.26;
          letter-spacing: 0.01rem;
          color: rgba(73, 69, 79, 0.8000000119);
        }
      }
      .frame-1321314414-iQ8 {
        box-sizing: border-box;
        padding: 1.6rem 1.6rem 1.4rem 1.6rem;
        width: 32.8rem;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #f3f4f6;
        background-color: #dcfaed;
        border-radius: 0.5rem;
        flex-shrink: 0;
        height: 100%;

        .harga-telur-perkg-dmz {
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.26;
          letter-spacing: 0.016rem;
        }
        .rp31000-LgQ {
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.26;
          color: #0ead69;
        }
        .tekan-untuk-mengganti-harga-swE {
          line-height: 1.26;
          letter-spacing: 0.01rem;
          color: rgba(73, 69, 79, 0.8000000119);
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
    .pesanan-xhn {
      margin: 0rem 0rem 1rem 4.5rem;
      display: flex;
      font-size: 5rem;
      font-weight: 500;
      line-height: 1.26;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-695-tLY {
      margin-left: 4.5rem;
      box-sizing: border-box;
      padding-bottom: 21.3rem;
      width: 113rem;
      overflow: hidden;
      position: relative;
      row-gap: 3.2rem;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #ebebee;
      background-color: #ffffff;
      align-items: center;
      border-radius: 1.2rem;

      .frame-702-Po6 {
        align-items: center;
        border: solid 0.1rem #cecece;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 5.6rem;
        display: flex;

        .frame-696-91a {
          overflow: hidden;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 25rem;
          font-weight: 400;
          color: rgba(73, 69, 79, 0.8000000119);
          align-items: center;
          box-sizing: border-box;
          font-size: 1.6rem;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          display: flex;
          border: solid 0.1rem #cecece;
          text-align: center;
        }
        .frame-697-Dn8 {
          height: 100%;
          text-align: center;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          color: rgba(73, 69, 79, 0.8000000119);
          white-space: nowrap;
          align-items: center;
          font-size: 1.6rem;
          display: flex;
          width: 20.9rem;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          font-family: Outfit, 'Source Sans Pro';
          justify-content: center;
          border: solid 0.1rem #cecece;
          box-sizing: border-box;
          flex-shrink: 0;
        }
        .frame-698-K4U {
          position: relative;
          line-height: 1.26;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #cecece;
          box-sizing: border-box;
          flex-shrink: 0;
          font-weight: 400;
          display: flex;
          justify-content: center;
          letter-spacing: 0.016rem;
          color: rgba(73, 69, 79, 0.8000000119);
          width: 15rem;
          height: 100%;
          overflow: hidden;
          text-align: center;
          font-size: 1.6rem;
        }
        .frame-699-Ce4 {
          width: 20.5rem;
          height: 100%;
          font-weight: 400;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          border: solid 0.1rem #cecece;
          overflow: hidden;
          position: relative;
          text-align: center;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          color: rgba(73, 69, 79, 0.8000000119);
          flex-shrink: 0;
          font-size: 1.6rem;
          align-items: center;
          box-sizing: border-box;
        }
        .auto-group-dztg-hKv {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.8rem 4rem 1.7rem 3.6rem;
          height: 100%;

          .frame-708-Rmi {
            letter-spacing: 0.016rem;
            align-items: center;
            width: 4.6rem;
            font-size: 1.6rem;
            overflow: hidden;
            font-weight: 400;
            line-height: 1.26;
            color: rgba(73, 69, 79, 0.8999999762);
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            margin-right: 11.6rem;
            height: 100%;
            flex-shrink: 0;
            position: relative;
            display: flex;
          }
          .frame-709-K6Q {
            align-items: center;
            width: 7.8rem;
            height: 100%;
            font-weight: 400;
            color: rgba(73, 69, 79, 0.8999999762);
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            line-height: 1.26;
            font-family: Outfit, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            letter-spacing: 0.016rem;
            white-space: nowrap;
          }
        }
      }
      .frame-703-CR6 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.2rem 1.5rem 2.4rem;
        width: 100%;
        height: 5.6rem;

        .frame-696-Kkc {
          overflow: hidden;
          position: relative;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          margin: 0.3rem 22.6rem 0.2rem 0rem;
          font-weight: 400;
          line-height: 1.26;
          white-space: nowrap;
          flex-shrink: 0;
          width: 5.8rem;
          height: calc(100% - 0.5rem);
          color: rgba(34, 34, 34, 0.8999999762);
          display: flex;
          font-size: 1.6rem;
          align-items: center;
          justify-content: center;
        }
        .frame-697-bi8 {
          display: flex;
          width: 10.3rem;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          font-size: 1.6rem;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.26;
          color: rgba(34, 34, 34, 0.8999999762);
          white-space: nowrap;
          align-items: center;
          margin: 0.3rem 8.2rem 0.2rem 0rem;
          position: relative;
          font-weight: 400;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
        }
        .frame-698-HL4 {
          align-items: center;
          overflow: hidden;
          position: relative;
          font-size: 1.6rem;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 9.8rem 0.2rem 0rem;
          height: calc(100% - 0.5rem);
          font-weight: 400;
          line-height: 1.26;
          display: flex;
          width: 8.2rem;
          text-align: center;
          color: rgba(34, 34, 34, 0.8999999762);
          justify-content: center;
        }
        .frame-699-yCt {
          overflow: hidden;
          font-family: Outfit, 'Source Sans Pro';
          width: 7.7rem;
          position: relative;
          font-size: 1.6rem;
          font-weight: 400;
          color: rgba(34, 34, 34, 0.8999999762);
          white-space: nowrap;
          height: calc(100% - 0.5rem);
          justify-content: center;
          letter-spacing: 0.016rem;
          text-align: center;
          line-height: 1.26;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.3rem 9.4rem 0.2rem 0rem;
        }
        .frame-707-4EL {
          color: #0978f2;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          width: 6.4rem;
          position: relative;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          display: flex;
          align-items: center;
          justify-content: center;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          margin: 0.3rem 8.6rem 0.2rem 0rem;
        }
        .frame-708-8zt {
          width: 11.4rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .frame-1321314409-tz4 {
            width: 100%;
            height: 100%;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            padding: 0.2rem 1rem;

            .frame-3-Skg {
              text-align: center;
              font-weight: 800;
              font-family: Lato, 'Source Sans Pro';
              display: flex;
              width: 100%;
              height: 100%;
              color: #ffffff;
              box-sizing: border-box;
              background-color: #0ba7ff;
              font-size: 1.5422rem;
              line-height: 1.5625000773;
              white-space: nowrap;
              justify-content: center;
              border-radius: 0.4819rem;
              overflow: hidden;
              position: relative;
              align-items: center;
              border: solid 0.0964rem #333333;
            }
          }
        }
      }
      .frame-704-X1S {
        height: 5.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.2rem 1.5rem 2.4rem;
        width: 100%;

        .frame-696-SeC {
          margin: 0.3rem 21.8rem 0.2rem 0rem;
          font-size: 1.6rem;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          height: calc(100% - 0.5rem);
          position: relative;
          font-weight: 400;
          color: rgba(34, 34, 34, 0.8999999762);
          overflow: hidden;
          line-height: 1.26;
          justify-content: center;
          width: 4.3rem;
          letter-spacing: 0.016rem;
          flex-shrink: 0;
        }
        .frame-697-vpG {
          text-align: center;
          white-space: nowrap;
          align-items: center;
          margin: 0.3rem 7.9rem 0.2rem 0rem;
          flex-shrink: 0;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          position: relative;
          font-weight: 400;
          line-height: 1.26;
          justify-content: center;
          width: 13.8rem;
          letter-spacing: 0.016rem;
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
          display: flex;
          font-size: 1.6rem;
        }
        .frame-698-cSC {
          height: calc(100% - 0.5rem);
          overflow: hidden;
          position: relative;
          color: rgba(34, 34, 34, 0.8999999762);
          flex-shrink: 0;
          margin: 0.3rem 10.4rem 0.2rem 0rem;
          display: flex;
          justify-content: center;
          width: 6.5rem;
          text-align: center;
          line-height: 1.26;
          align-items: center;
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-699-VVz {
          font-size: 1.6rem;
          color: rgba(34, 34, 34, 0.8999999762);
          flex-shrink: 0;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          align-items: center;
          margin: 0.3rem 8.9rem 0.2rem 0rem;
          width: 8.1rem;
          position: relative;
          font-family: Outfit, 'Source Sans Pro';
          justify-content: center;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          line-height: 1.26;
          text-align: center;
          letter-spacing: 0.016rem;
        }
        .frame-708-AME {
          width: 6rem;
          overflow: hidden;
          font-weight: 400;
          letter-spacing: 0.016rem;
          white-space: nowrap;
          margin: 0.3rem 9.3rem 0.2rem 0rem;
          font-size: 1.6rem;
          line-height: 1.26;
          color: rgba(14, 173, 105, 0.8999999762);
          display: flex;
          align-items: center;
          position: relative;
          font-family: Outfit, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          height: calc(100% - 0.5rem);
        }
        .frame-707-qTN {
          box-sizing: border-box;
          padding: 0.2rem 1rem;
          width: 11.4rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .frame-1321314409-AVe {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .frame-3-7Qt {
              align-items: center;
              border: solid 0.0964rem #333333;
              width: 100%;
              position: relative;
              text-align: center;
              line-height: 1.5625000773;
              display: flex;
              height: 100%;
              font-size: 1.5422rem;
              font-family: Lato, 'Source Sans Pro';
              border-radius: 0.4819rem;
              font-weight: 800;
              white-space: nowrap;
              justify-content: center;
              box-sizing: border-box;
              background-color: #0ba7ff;
              overflow: hidden;
              color: #ffffff;
            }
          }
        }
      }
      .frame-705-r16 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.2rem 1.5rem 2.4rem;
        width: 100%;
        height: 5.6rem;

        .frame-696-9Vz {
          height: calc(100% - 0.5rem);
          overflow: hidden;
          line-height: 1.26;
          color: rgba(34, 34, 34, 0.8999999762);
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          margin: 0.3rem 22.1rem 0.2rem 0rem;
          width: 4.1rem;
          font-size: 1.6rem;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          position: relative;
          font-weight: 400;
          letter-spacing: 0.016rem;
        }
        .frame-697-pc8 {
          font-weight: 400;
          color: rgba(34, 34, 34, 0.8999999762);
          align-items: center;
          justify-content: center;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          position: relative;
          font-size: 1.6rem;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          display: flex;
          margin: 0.3rem 7.5rem 0.2rem 0rem;
          height: calc(100% - 0.5rem);
          font-family: Outfit, 'Source Sans Pro';
          flex-shrink: 0;
          width: 13.7rem;
        }
        .frame-698-6Ze {
          text-align: center;
          font-size: 1.6rem;
          margin: 0.3rem 10.5rem 0.2rem 0rem;
          position: relative;
          letter-spacing: 0.016rem;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.26;
          overflow: hidden;
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
          flex-shrink: 0;
          width: 7.3rem;
          height: calc(100% - 0.5rem);
        }
        .frame-699-aji {
          margin: 0.3rem 9.1rem 0.2rem 0rem;
          font-weight: 400;
          line-height: 1.26;
          color: rgba(34, 34, 34, 0.8999999762);
          font-size: 1.6rem;
          letter-spacing: 0.016rem;
          align-items: center;
          display: flex;
          flex-shrink: 0;
          width: 7.1rem;
          position: relative;
          text-align: center;
          font-family: Outfit, 'Source Sans Pro';
          height: calc(100% - 0.5rem);
          overflow: hidden;
          white-space: nowrap;
          justify-content: center;
        }
        .frame-708-5Ag {
          margin: 0.3rem 7.5rem 0.2rem 0rem;
          position: relative;
          align-items: center;
          font-weight: 400;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          flex-shrink: 0;
          width: 8.1rem;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          font-size: 1.6rem;
          line-height: 1.26;
          color: rgba(193, 11, 14, 0.8000000119);
          white-space: nowrap;
          display: flex;
          justify-content: center;
        }
        .frame-707-m3W {
          width: 11.4rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.2rem 1rem;

          .frame-1321314409-ufW {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .frame-3-Twv {
              font-size: 1.5422rem;
              color: #ffffff;
              white-space: nowrap;
              justify-content: center;
              width: 100%;
              line-height: 1.5625000773;
              display: flex;
              align-items: center;
              border: solid 0.0964rem #333333;
              overflow: hidden;
              position: relative;
              text-align: center;
              font-weight: 800;
              font-family: Lato, 'Source Sans Pro';
              height: 100%;
              box-sizing: border-box;
              background-color: #0ba7ff;
              border-radius: 0.4819rem;
            }
          }
        }
      }
      .frame-706-vKi {
        box-sizing: border-box;
        padding: 1.5rem 2.2rem 1.5rem 2.5rem;
        width: 100%;
        height: 5.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-696-FMz {
          width: 12rem;
          font-weight: 400;
          align-items: center;
          margin: 0.3rem 14.1rem 0.2rem 0rem;
          position: relative;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          line-height: 1.26;
          display: flex;
          justify-content: center;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          letter-spacing: 0.016rem;
          color: rgba(34, 34, 34, 0.8999999762);
        }
        .frame-697-vj2 {
          color: rgba(34, 34, 34, 0.8999999762);
          align-items: center;
          margin: 0.3rem 7.5rem 0.2rem 0rem;
          width: 13.7rem;
          position: relative;
          font-weight: 400;
          font-family: Outfit, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          height: calc(100% - 0.5rem);
          overflow: hidden;
          font-size: 1.6rem;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-698-oH2 {
          font-weight: 400;
          align-items: center;
          flex-shrink: 0;
          margin: 0.3rem 9.4rem 0.2rem 0rem;
          overflow: hidden;
          position: relative;
          letter-spacing: 0.016rem;
          color: rgba(34, 34, 34, 0.8999999762);
          display: flex;
          width: 7.3rem;
          text-align: center;
          justify-content: center;
          height: calc(100% - 0.5rem);
          font-size: 1.6rem;
          line-height: 1.26;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-699-gLp {
          overflow: hidden;
          position: relative;
          text-align: center;
          font-weight: 400;
          align-items: center;
          line-height: 1.26;
          justify-content: center;
          width: 9.3rem;
          height: calc(100% - 0.5rem);
          color: rgba(34, 34, 34, 0.8999999762);
          flex-shrink: 0;
          margin: 0.3rem 8rem 0.2rem 0rem;
          font-size: 1.6rem;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
        .frame-708-y52 {
          margin: 0.3rem 5.5rem 0.2rem 0rem;
          position: relative;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          color: rgba(35, 0, 255, 0.8000000119);
          font-family: Outfit, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          height: calc(100% - 0.5rem);
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          width: 10.1rem;
          overflow: hidden;
          font-size: 1.6rem;
        }
        .frame-707-SjJ {
          padding: 0.2rem 1rem;
          width: 11.4rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;

          .frame-1321314409-Bwn {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .frame-3-MLU {
              width: 100%;
              height: 100%;
              font-weight: 800;
              line-height: 1.5625000773;
              white-space: nowrap;
              box-sizing: border-box;
              font-size: 1.5422rem;
              align-items: center;
              background-color: #0ba7ff;
              border-radius: 0.4819rem;
              position: relative;
              color: #ffffff;
              justify-content: center;
              border: solid 0.0964rem #333333;
              overflow: hidden;
              text-align: center;
              font-family: Lato, 'Source Sans Pro';
              display: flex;
            }
          }
        }
      }
    }
  }
}
