
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-harga-1vg {
  background-color: #fafbff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .frame-1321314413-x5E {
    padding: 7rem 0rem 1.2rem 0rem;
    left: 0;
    overflow: hidden;
    top: 0;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
    box-sizing: border-box;
    width: 24.2rem;
    height: 102.2rem;
    position: absolute;

    .frame-54-4tx {
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      box-sizing: border-box;
      padding: 6.2rem 4rem 6.2rem 6.5rem;
      width: 100%;
      height: 100%;

      .frame-CEU {
        box-sizing: border-box;
        padding-bottom: 7.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 34.7rem;
        row-gap: 1.2rem;
        border-radius: 2rem;

        .text-888 {
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #1c1c1c;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          width: 100%;
          white-space: nowrap;
        }
        .content-bnQ {
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;

          .icon-text-Lzt {
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;

            .text-JB2 {
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
              width: 100%;
              height: 100%;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
        .content-mKW {
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;

          .text-KM2 {
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .content-oX6 {
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .text-MYc {
            margin-right: 0.8rem;
            width: 12.9rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
        .content-eXi {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 4.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;

          .text-bC4 {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .riwayat-barang-masuk-MBE {
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              max-width: 10.7rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
        .content-eRE {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 4.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-1Fn {
            margin-right: 2.5rem;
            width: 11.2rem;
            height: 100%;
            border-radius: 0.8rem;

            .buat-pesanan-ke-suplier-AeU {
              max-width: 11.2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .pesanan-aTJ {
    white-space: nowrap;
    width: 19.1rem;
    height: 6.3rem;
    left: 28.7rem;
    line-height: 1.26;
    color: rgba(73, 69, 79, 0.8000000119);
    font-family: Outfit, 'Source Sans Pro';
    position: absolute;
    top: 33rem;
    display: flex;
    font-size: 5rem;
    font-weight: 500;
  }
  .frame-695-4tG {
    box-sizing: border-box;
    height: 62.1rem;
    row-gap: 3.2rem;
    width: 113rem;
    position: absolute;
    overflow: hidden;
    border: solid 0.1rem #ebebee;
    border-radius: 1.2rem;
    padding-bottom: 21.3rem;
    left: 28.7rem;
    top: 40.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    .frame-702-xik {
      border: solid 0.1rem #cecece;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;

      .frame-696-75r {
        color: rgba(73, 69, 79, 0.8000000119);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.26;
        height: 100%;
        font-family: Outfit, 'Source Sans Pro';
        border: solid 0.1rem #cecece;
        white-space: nowrap;
        display: flex;
        width: 25rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .frame-697-nhn {
        width: 20.9rem;
        text-align: center;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        position: relative;
        font-size: 1.6rem;
        color: rgba(73, 69, 79, 0.8000000119);
        border: solid 0.1rem #cecece;
        box-sizing: border-box;
        font-weight: 400;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        overflow: hidden;
        line-height: 1.26;
        flex-shrink: 0;
      }
      .frame-698-4vC {
        white-space: nowrap;
        justify-content: center;
        display: flex;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.26;
        border: solid 0.1rem #cecece;
        box-sizing: border-box;
        width: 15rem;
        text-align: center;
        color: rgba(73, 69, 79, 0.8000000119);
        align-items: center;
      }
      .frame-699-jFe {
        position: relative;
        border: solid 0.1rem #cecece;
        box-sizing: border-box;
        width: 20.5rem;
        height: 100%;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(73, 69, 79, 0.8000000119);
        white-space: nowrap;
        letter-spacing: 0.016rem;
        align-items: center;
        font-weight: 400;
        line-height: 1.26;
        font-size: 1.6rem;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        overflow: hidden;
        text-align: center;
      }
      .auto-group-2zeg-B7e {
        box-sizing: border-box;
        padding: 1.8rem 4rem 1.7rem 3.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-708-gq6 {
          height: 100%;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          justify-content: center;
          width: 4.6rem;
          position: relative;
          font-weight: 400;
          display: flex;
          overflow: hidden;
          font-size: 1.6rem;
          color: rgba(73, 69, 79, 0.8999999762);
          align-items: center;
          margin-right: 11.6rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-709-nNL {
          letter-spacing: 0.016rem;
          white-space: nowrap;
          flex-shrink: 0;
          height: 100%;
          position: relative;
          font-weight: 400;
          justify-content: center;
          color: rgba(73, 69, 79, 0.8999999762);
          display: flex;
          align-items: center;
          overflow: hidden;
          font-family: Outfit, 'Source Sans Pro';
          width: 7.8rem;
          font-size: 1.6rem;
          line-height: 1.26;
        }
      }
    }
    .frame-703-GYQ {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;

      .frame-696-BvG {
        width: 5.8rem;
        position: relative;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        margin: 0.3rem 22.6rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        letter-spacing: 0.016rem;
        align-items: center;
        overflow: hidden;
        font-weight: 400;
        white-space: nowrap;
        line-height: 1.26;
        justify-content: center;
        flex-shrink: 0;
      }
      .frame-697-GRv {
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        overflow: hidden;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        display: flex;
        width: 10.3rem;
        height: calc(100% - 0.5rem);
        margin: 0.3rem 8.2rem 0.2rem 0rem;
        flex-shrink: 0;
        position: relative;
        justify-content: center;
      }
      .frame-698-xJk {
        position: relative;
        align-items: center;
        overflow: hidden;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        margin: 0.3rem 9.8rem 0.2rem 0rem;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        display: flex;
        width: 8.2rem;
        height: calc(100% - 0.5rem);
        text-align: center;
        font-weight: 400;
      }
      .frame-699-pLx {
        width: 7.7rem;
        height: calc(100% - 0.5rem);
        justify-content: center;
        position: relative;
        text-align: center;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        overflow: hidden;
        white-space: nowrap;
        margin: 0.3rem 9.4rem 0.2rem 0rem;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
      .frame-707-5Xn {
        height: calc(100% - 0.5rem);
        font-weight: 400;
        letter-spacing: 0.016rem;
        justify-content: center;
        flex-shrink: 0;
        width: 6.4rem;
        overflow: hidden;
        font-size: 1.6rem;
        font-family: Outfit, 'Source Sans Pro';
        margin: 0.3rem 8.6rem 0.2rem 0rem;
        color: #0978f2;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1.26;
        white-space: nowrap;
      }
      .frame-708-xrU {
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-1321314409-iqe {
          cursor: pointer;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          padding: 0.2rem 1rem;
          width: 100%;
          height: 100%;

          .frame-3-4uW {
            height: 100%;
            font-weight: 800;
            justify-content: center;
            width: 100%;
            line-height: 1.5625000773;
            align-items: center;
            border: solid 0.0964rem #333333;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            font-size: 1.5422rem;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
            display: flex;
            box-sizing: border-box;
            background-color: #0ba7ff;
            border-radius: 0.4819rem;
          }
        }
      }
    }
    .frame-704-9RA {
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-696-fuJ {
        margin: 0.3rem 21.8rem 0.2rem 0rem;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        justify-content: center;
        height: calc(100% - 0.5rem);
        position: relative;
        font-size: 1.6rem;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        align-items: center;
        width: 4.3rem;
        overflow: hidden;
        flex-shrink: 0;
        font-weight: 400;
      }
      .frame-697-kQx {
        overflow: hidden;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.26;
        white-space: nowrap;
        width: 13.8rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        margin: 0.3rem 7.9rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        font-weight: 400;
        letter-spacing: 0.016rem;
      }
      .frame-698-pvc {
        margin: 0.3rem 10.4rem 0.2rem 0rem;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
        width: 6.5rem;
        position: relative;
        letter-spacing: 0.016rem;
        align-items: center;
        font-weight: 400;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        justify-content: center;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .frame-699-WHe {
        height: calc(100% - 0.5rem);
        position: relative;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 0.016rem;
        justify-content: center;
        font-weight: 400;
        display: flex;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 8.9rem 0.2rem 0rem;
        width: 8.1rem;
        font-size: 1.6rem;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
      }
      .frame-708-BPn {
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        position: relative;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        color: rgba(14, 173, 105, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        width: 6rem;
        font-size: 1.6rem;
        display: flex;
        flex-shrink: 0;
        margin: 0.3rem 9.3rem 0.2rem 0rem;
        font-weight: 400;
      }
      .frame-707-4iU {
        padding: 0.2rem 1rem;
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;

        .frame-1321314409-QGY {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;

          .frame-3-mMz {
            background-color: #0ba7ff;
            text-align: center;
            font-weight: 800;
            white-space: nowrap;
            justify-content: center;
            position: relative;
            line-height: 1.5625000773;
            display: flex;
            color: #ffffff;
            border-radius: 0.4819rem;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 1.5422rem;
            font-family: Lato, 'Source Sans Pro';
            align-items: center;
            border: solid 0.0964rem #333333;
            box-sizing: border-box;
          }
        }
      }
    }
    .frame-705-egg {
      height: 5.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;

      .frame-696-Nsa {
        height: calc(100% - 0.5rem);
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-weight: 400;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        flex-shrink: 0;
        margin: 0.3rem 22.1rem 0.2rem 0rem;
        width: 4.1rem;
        font-size: 1.6rem;
        justify-content: center;
      }
      .frame-697-T8L {
        overflow: hidden;
        font-weight: 400;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        width: 13.7rem;
        height: calc(100% - 0.5rem);
        text-align: center;
        font-size: 1.6rem;
        white-space: nowrap;
        justify-content: center;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        position: relative;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
      }
      .frame-698-jLk {
        margin: 0.3rem 10.5rem 0.2rem 0rem;
        width: 7.3rem;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        overflow: hidden;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        height: calc(100% - 0.5rem);
        position: relative;
        letter-spacing: 0.016rem;
      }
      .frame-699-DWp {
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        margin: 0.3rem 9.1rem 0.2rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.26;
        display: flex;
        height: calc(100% - 0.5rem);
        font-family: Outfit, 'Source Sans Pro';
        width: 7.1rem;
        letter-spacing: 0.016rem;
        align-items: center;
      }
      .frame-708-WF2 {
        flex-shrink: 0;
        font-weight: 400;
        color: rgba(193, 11, 14, 0.8000000119);
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        position: relative;
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        display: flex;
      }
      .frame-707-y8c {
        box-sizing: border-box;
        padding: 0.2rem 1rem;
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-1321314409-i6C {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .frame-3-ry6 {
            font-size: 1.5422rem;
            color: #ffffff;
            width: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            border: solid 0.0964rem #333333;
            box-sizing: border-box;
            height: 100%;
            position: relative;
            display: flex;
            background-color: #0ba7ff;
            border-radius: 0.4819rem;
            font-weight: 800;
            line-height: 1.5625000773;
          }
        }
      }
    }
    .frame-706-kHn {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.5rem;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;

      .frame-696-sNQ {
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        align-items: center;
        justify-content: center;
        width: 12rem;
        font-family: Outfit, 'Source Sans Pro';
        overflow: hidden;
        position: relative;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
        height: calc(100% - 0.5rem);
        line-height: 1.26;
        display: flex;
        flex-shrink: 0;
        margin: 0.3rem 14.1rem 0.2rem 0rem;
      }
      .frame-697-952 {
        letter-spacing: 0.016rem;
        align-items: center;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        width: 13.7rem;
        overflow: hidden;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        height: calc(100% - 0.5rem);
        justify-content: center;
        font-family: Outfit, 'Source Sans Pro';
      }
      .frame-698-28p {
        font-weight: 400;
        display: flex;
        align-items: center;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        text-align: center;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.3rem 9.4rem 0.2rem 0rem;
        width: 7.3rem;
        position: relative;
        justify-content: center;
      }
      .frame-699-uCc {
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        height: calc(100% - 0.5rem);
        text-align: center;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        position: relative;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 8rem 0.2rem 0rem;
        width: 9.3rem;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
      }
      .frame-708-apY {
        height: calc(100% - 0.5rem);
        font-size: 1.6rem;
        display: flex;
        margin: 0.3rem 5.5rem 0.2rem 0rem;
        position: relative;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        width: 10.1rem;
        line-height: 1.26;
        color: rgba(35, 0, 255, 0.8000000119);
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 0.016rem;
        flex-shrink: 0;
      }
      .frame-707-U9E {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;
        width: 11.4rem;
        height: 100%;

        .frame-1321314409-R4U {
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 100%;

          .frame-3-n9v {
            overflow: hidden;
            text-align: center;
            color: #ffffff;
            align-items: center;
            border: solid 0.0964rem #333333;
            font-family: Lato, 'Source Sans Pro';
            background-color: #0ba7ff;
            border-radius: 0.4819rem;
            height: 100%;
            position: relative;
            font-size: 1.5422rem;
            line-height: 1.5625000773;
            white-space: nowrap;
            display: flex;
            box-sizing: border-box;
            width: 100%;
            font-weight: 800;
            justify-content: center;
          }
        }
      }
    }
  }
  .frame-1321314414-SEU {
    box-sizing: border-box;
    border: solid 0.1rem #f3f4f6;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #dcfaed;
    padding: 1.6rem 1.6rem 1.4rem 1.6rem;
    width: 32.8rem;
    height: 10.3rem;
    position: absolute;
    left: 61.2rem;
    top: 15.1rem;

    .harga-telur-perkg-wS8 {
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.016rem;
      color: rgba(34, 34, 34, 0.8999999762);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rp31000-GDW {
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.6rem;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.26;
      color: #0ead69;
    }
    .tekan-untuk-mengganti-harga-oUL {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.01rem;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .frame-1321314404-Jfz {
    padding: 1.6rem;
    left: 24.2rem;
    top: 15.1rem;
    overflow: hidden;
    background-color: #f5f6f8;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 32.8rem;
    height: 10.3rem;
    position: absolute;
    border: solid 0.1rem #f3f4f6;

    .telur-tersisa-peL {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.016rem;
      color: rgba(34, 34, 34, 0.8999999762);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
    }
    .kg-9Ap {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.5rem;
    }
    .tekan-untuk-menambah-stok-telur-t8Q {
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.01rem;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1rem;
    }
  }
  .desktop-1-yfe {
    background-color: rgba(0, 0, 0, 0.3000000119);
    box-sizing: border-box;
    padding: 37rem 44rem;
    position: absolute;
    top: 0;
    width: 144rem;
    height: 102.4rem;
    left: 0;
    overflow: hidden;

    .group-24-uZJ {
      width: 100%;
      height: 100%;
      position: relative;

      .group-Gek {
        object-fit: contain;
        vertical-align: top;
        width: 56rem;
        height: 28.4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .group-23-pRN {
        width: 34.2667rem;
        height: 21.1659rem;
        position: absolute;
        left: 9.3rem;
        top: 3.9rem;

        .edit-harga-YsA {
          white-space: nowrap;
          margin-bottom: 3.5rem;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.5;
          color: #4a4b4d;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-issi-VGc {
          display: flex;
          align-items: center;
          margin: 0rem 5.967rem 3.266rem 8.7rem;
          width: calc(100% - 14.6667rem);
          height: 5.4rem;

          .stylelayer-Cgp {
            flex-shrink: 0;
            margin: 0.2rem 0.433rem 0.4rem 0rem;
            width: 14.1667rem;
            height: calc(100% - 0.6rem);
            border: solid 0.1rem #232321;
            box-sizing: border-box;
            border-radius: 0.8rem;
          }
          .frame-1321314410-ubE {
            font-weight: 700;
            width: 5rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            align-items: center;
            line-height: 1.5;
            color: #4a4b4d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            display: flex;
            justify-content: center;
          }
        }
        .frame-2609075-ckY {
          width: calc(100% - 2.6rem);
          height: 4.8rem;
          display: flex;
          align-items: center;
          margin-left: 2.6rem;

          .button-A1N {
            margin-right: 3.3333rem;
            width: 14.1667rem;
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .stylelayer-i2t {
              text-transform: uppercase;
              border: solid 0.1rem #232321;
              box-sizing: border-box;
              width: 100%;
              font-size: 1.4rem;
              font-weight: 500;
              white-space: nowrap;
              display: flex;
              align-items: center;
              border-radius: 0.8rem;
              line-height: 1.185;
              letter-spacing: 0.025rem;
              height: 100%;
              color: #232321;
              font-family: Rubik, 'Source Sans Pro';
              justify-content: center;
            }
          }
          .button-BSG {
            width: 14.1667rem;
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .stylelayer-wAY {
              align-items: center;
              border-radius: 0.8rem;
              line-height: 1.185;
              letter-spacing: 0.025rem;
              text-transform: uppercase;
              color: #ffffff;
              background-color: #5bc237;
              height: 100%;
              font-size: 1.4rem;
              font-weight: 500;
              white-space: nowrap;
              justify-content: center;
              width: 100%;
              font-family: Rubik, 'Source Sans Pro';
              display: flex;
            }
          }
        }
      }
    }
  }
}
