
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-status-JFr {
  overflow: hidden;
  background-color: #fafbff;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .frame-1321314413-Scx {
    padding: 7rem 0rem 1.2rem 0rem;
    width: 24.2rem;
    height: 102.2rem;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    top: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);

    .frame-54-YR6 {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      box-sizing: border-box;
      padding: 6.2rem 4rem 6.2rem 6.5rem;

      .frame-sTN {
        flex-direction: column;
        border-radius: 2rem;
        width: 100%;
        height: 34.7rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 7.9rem;
        row-gap: 1.2rem;

        .text-beG {
          flex-shrink: 0;
          box-sizing: border-box;
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #1c1c1c;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
          padding: 0.4rem 1.2rem;
          width: 100%;
        }
        .content-hBW {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;

          .icon-text-FD2 {
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;

            .text-bng {
              font-weight: 400;
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 0.8rem;
              width: 100%;
            }
          }
        }
        .content-tFz {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-Eqe {
            margin-right: 0.8rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            width: 12.9rem;
            height: 100%;
            font-size: 1.4rem;
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
        .content-Y5e {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-t9W {
            margin-right: 0.8rem;
            width: 12.9rem;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .content-BeQ {
          height: 4.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .text-w7n {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .riwayat-barang-masuk-HxL {
              max-width: 10.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .content-C3i {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 4.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-LQp {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .buat-pesanan-ke-suplier-6Pz {
              max-width: 11.2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .pesanan-iRN {
    font-size: 5.5rem;
    font-weight: 500;
    height: 7rem;
    position: absolute;
    top: 27.65rem;
    display: flex;
    font-family: Outfit, 'Source Sans Pro';
    white-space: nowrap;
    width: 21rem;
    left: 27.8rem;
    line-height: 1.26;
    color: rgba(73, 69, 79, 0.8000000119);
  }
  .frame-695-Dsv {
    top: 36.5rem;
    align-items: center;
    background-color: #ffffff;
    width: 113rem;
    height: 40.6rem;
    border: solid 0.1rem #ebebee;
    padding-bottom: 11.3rem;
    overflow: hidden;
    row-gap: 2.3rem;
    flex-direction: column;
    border-radius: 1.2rem;
    box-sizing: border-box;
    position: absolute;
    left: 27.7rem;
    display: flex;

    .frame-702-w3E {
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #cecece;
      box-sizing: border-box;
      flex-shrink: 0;

      .frame-696-sxU {
        position: relative;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        white-space: nowrap;
        border: solid 0.1rem #cecece;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        color: rgba(73, 69, 79, 0.8000000119);
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        width: 25rem;
        overflow: hidden;
        text-align: center;
        line-height: 1.26;
      }
      .frame-697-kmN {
        letter-spacing: 0.016rem;
        box-sizing: border-box;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-weight: 400;
        line-height: 1.26;
        color: rgba(73, 69, 79, 0.8000000119);
        height: 100%;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 20.9rem;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #cecece;
        font-size: 1.6rem;
      }
      .frame-698-3kU {
        width: 15rem;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        justify-content: center;
        box-sizing: border-box;
        flex-shrink: 0;
        text-align: center;
        font-family: Outfit, 'Source Sans Pro';
        line-height: 1.26;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        color: rgba(73, 69, 79, 0.8000000119);
        border: solid 0.1rem #cecece;
      }
      .frame-699-x6k {
        position: relative;
        font-weight: 400;
        line-height: 1.26;
        box-sizing: border-box;
        flex-shrink: 0;
        border: solid 0.1rem #cecece;
        overflow: hidden;
        color: rgba(73, 69, 79, 0.8000000119);
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        width: 20.5rem;
        height: 100%;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
      }
      .auto-group-791z-38C {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.8rem 4rem 1.7rem 3.6rem;
        height: 100%;

        .frame-708-ZMS {
          color: rgba(73, 69, 79, 0.8999999762);
          display: flex;
          font-size: 1.6rem;
          line-height: 1.26;
          justify-content: center;
          height: 100%;
          overflow: hidden;
          position: relative;
          margin-right: 11.6rem;
          width: 4.6rem;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          font-weight: 400;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
        }
        .frame-709-f9a {
          height: 100%;
          color: rgba(73, 69, 79, 0.8999999762);
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          white-space: nowrap;
          flex-shrink: 0;
          width: 7.8rem;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          display: flex;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
        }
      }
    }
    .frame-703-M2Q {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;

      .frame-696-4xQ {
        margin: 0.3rem 22.6rem 0.2rem 0rem;
        position: relative;
        align-items: center;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        width: 5.8rem;
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        justify-content: center;
        height: calc(100% - 0.5rem);
        line-height: 1.26;
        display: flex;
        flex-shrink: 0;
      }
      .frame-697-k4Y {
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-weight: 400;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        width: 10.3rem;
        height: calc(100% - 0.5rem);
        letter-spacing: 0.016rem;
        flex-shrink: 0;
        margin: 0.3rem 8.2rem 0.2rem 0rem;
        line-height: 1.26;
      }
      .frame-698-2Xr {
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        margin: 0.3rem 9.8rem 0.2rem 0rem;
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
        height: calc(100% - 0.5rem);
        text-align: center;
        font-size: 1.6rem;
        align-items: center;
        flex-shrink: 0;
        width: 8.2rem;
        position: relative;
        font-weight: 400;
        justify-content: center;
      }
      .frame-699-ube {
        height: calc(100% - 0.5rem);
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
        margin: 0.3rem 9.4rem 0.2rem 0rem;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        overflow: hidden;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        width: 7.7rem;
        font-weight: 400;
        align-items: center;
        flex-shrink: 0;
      }
      .frame-707-bDa {
        display: flex;
        position: relative;
        letter-spacing: 0.016rem;
        font-size: 1.6rem;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.4rem;
        height: calc(100% - 0.5rem);
        line-height: 1.26;
        color: #0978f2;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 8.6rem 0.2rem 0rem;
        overflow: hidden;
        font-weight: 400;
        justify-content: center;
      }
      .frame-708-UYG {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;

        .frame-1321314409-E1e {
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 100%;

          .frame-3-yzp {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.4819rem;
            color: #ffffff;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-weight: 800;
            line-height: 1.5625000773;
            font-size: 1.5422rem;
            box-sizing: border-box;
            background-color: #0ba7ff;
            position: relative;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.0964rem #333333;
          }
        }
      }
    }
    .frame-704-sKW {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;

      .frame-696-oDA {
        white-space: nowrap;
        margin: 0.3rem 21.8rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        font-weight: 400;
        letter-spacing: 0.016rem;
        align-items: center;
        width: 4.3rem;
        overflow: hidden;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.26;
        flex-shrink: 0;
      }
      .frame-697-syi {
        text-align: center;
        letter-spacing: 0.016rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 7.9rem 0.2rem 0rem;
        width: 13.8rem;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        position: relative;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
      }
      .frame-698-9gL {
        width: 6.5rem;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 400;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.3rem 10.4rem 0.2rem 0rem;
        overflow: hidden;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        justify-content: center;
        height: calc(100% - 0.5rem);
        letter-spacing: 0.016rem;
      }
      .frame-699-dLc {
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        overflow: hidden;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        align-items: center;
        height: calc(100% - 0.5rem);
        text-align: center;
        justify-content: center;
        width: 8.1rem;
        position: relative;
        font-weight: 400;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        margin: 0.3rem 8.9rem 0.2rem 0rem;
      }
      .frame-708-uZ2 {
        font-weight: 400;
        letter-spacing: 0.016rem;
        display: flex;
        line-height: 1.26;
        color: rgba(14, 173, 105, 0.8999999762);
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        width: 6rem;
        height: calc(100% - 0.5rem);
        position: relative;
        font-size: 1.6rem;
        font-family: Outfit, 'Source Sans Pro';
        margin: 0.3rem 9.3rem 0.2rem 0rem;
        overflow: hidden;
        align-items: center;
      }
      .frame-707-BmS {
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;

        .frame-1321314409-j2G {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .frame-3-5rp {
            text-align: center;
            white-space: nowrap;
            justify-content: center;
            background-color: #0ba7ff;
            overflow: hidden;
            position: relative;
            font-weight: 800;
            color: #ffffff;
            line-height: 1.5625000773;
            font-family: Lato, 'Source Sans Pro';
            display: flex;
            align-items: center;
            border: solid 0.0964rem #333333;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.5422rem;
            border-radius: 0.4819rem;
            height: 100%;
          }
        }
      }
    }
    .frame-705-a2t {
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-696-u5A {
        height: calc(100% - 0.5rem);
        position: relative;
        align-items: center;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        margin: 0.3rem 22.1rem 0.2rem 0rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        width: 4.1rem;
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
        flex-shrink: 0;
        overflow: hidden;
        font-size: 1.6rem;
        line-height: 1.26;
      }
      .frame-697-BYU {
        width: 13.7rem;
        font-weight: 400;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        text-align: center;
        letter-spacing: 0.016rem;
        overflow: hidden;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        height: calc(100% - 0.5rem);
        position: relative;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
      }
      .frame-698-rPi {
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.26;
        width: 7.3rem;
        overflow: hidden;
        font-family: Outfit, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        margin: 0.3rem 10.5rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        display: flex;
        text-align: center;
        font-weight: 400;
        align-items: center;
      }
      .frame-699-jTW {
        width: 7.1rem;
        text-align: center;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        margin: 0.3rem 9.1rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
      }
      .frame-708-Crt {
        line-height: 1.26;
        white-space: nowrap;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.016rem;
        display: flex;
        justify-content: center;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        overflow: hidden;
        position: relative;
        color: rgba(193, 11, 14, 0.8000000119);
        width: 8.1rem;
        height: calc(100% - 0.5rem);
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .frame-707-gGG {
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;
        width: 11.4rem;

        .frame-1321314409-pdN {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .frame-3-Net {
            width: 100%;
            color: #ffffff;
            justify-content: center;
            border-radius: 0.4819rem;
            height: 100%;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            border: solid 0.0964rem #333333;
            box-sizing: border-box;
            background-color: #0ba7ff;
            text-align: center;
            font-size: 1.5422rem;
            font-weight: 800;
            line-height: 1.5625000773;
            align-items: center;
            overflow: hidden;
            position: relative;
          }
        }
      }
    }
  }
  .frame-1321314404-pFz {
    height: 10.3rem;
    position: absolute;
    left: 29rem;
    overflow: hidden;
    border: solid 0.1rem #f3f4f6;
    background-color: #f5f6f8;
    border-radius: 0.5rem;
    padding: 1.6rem;
    width: 32.8rem;
    top: 12.9rem;
    box-sizing: border-box;

    .telur-tersisa-8Xa {
      line-height: 1.26;
      letter-spacing: 0.016rem;
      color: rgba(34, 34, 34, 0.8999999762);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .kg-f1i {
      margin-bottom: 0.5rem;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tekan-untuk-menambah-stok-telur-ns2 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.01rem;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .frame-1321314405-672 {
    border: solid 0.1rem #f3f4f6;
    box-sizing: border-box;
    position: absolute;
    top: 13.2rem;
    overflow: hidden;
    background-color: #dcfaed;
    border-radius: 0.5rem;
    padding: 1.6rem 1.6rem 1.4rem 1.6rem;
    width: 32.8rem;
    height: 10.3rem;
    left: 63.1rem;

    .harga-telur-perkg-bZa {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.016rem;
      color: rgba(34, 34, 34, 0.8999999762);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.5rem;
    }
    .rp31000-vLx {
      font-weight: 500;
      line-height: 1.26;
      color: #0ead69;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.6rem;
      font-size: 2.2rem;
    }
    .tekan-untuk-mengganti-harga-4CG {
      letter-spacing: 0.01rem;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.26;
    }
  }
  .desktop-1-Z92 {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3000000119);

    .button-hW8 {
      top: 73.1rem;
      width: 14.1667rem;
      height: 4.8rem;
      cursor: pointer;
      position: absolute;
      left: 49.3rem;

      .stylelayer-EW4 {
        display: flex;
        border: solid 0.1rem #232321;
        font-weight: 500;
        line-height: 1.185;
        text-transform: uppercase;
        letter-spacing: 0.025rem;
        font-family: Rubik, 'Source Sans Pro';
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        border-radius: 0.8rem;
        color: #232321;
        white-space: nowrap;
        align-items: center;
      }
    }
    .group-24-8LY {
      width: 56rem;
      height: 44.4rem;
      position: absolute;
      left: 46.2rem;
      top: 36.9rem;

      .group-epg {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 56rem;
        height: 44.4rem;
        position: absolute;
      }
      .frame-23-P1a {
        top: 5.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 44.5667rem;
        height: 35.8rem;
        position: absolute;
        left: 5.7rem;

        .edit-status-W6C {
          margin: 0rem 0.767rem 3.5rem 0rem;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.5;
          color: #4a4b4d;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-c1kl-pcg {
          width: 100%;
          height: 4.8rem;
          display: flex;
          column-gap: 1.0333rem;
          align-items: center;
          flex-shrink: 0;

          .button-kmE {
            background-color: #06bbf4;
            flex-shrink: 0;
            width: 14.1667rem;
            height: 100%;
            border: solid 0.1rem #000000;
            box-sizing: border-box;

            .stylelayer-iTA {
              font-family: Rubik, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              letter-spacing: 0.025rem;
              line-height: 1.185;
              display: flex;
              border-radius: 0.8rem;
              width: 100%;
              font-weight: 500;
              color: #ffffff;
              white-space: nowrap;
              height: 100%;
              text-transform: uppercase;
            }
          }
          .button-zfa {
            flex-shrink: 0;
            width: 14.1667rem;
            height: 100%;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ff0000;

            .stylelayer-MW8 {
              display: flex;
              text-transform: uppercase;
              white-space: nowrap;
              width: 100%;
              font-size: 1.4rem;
              color: #ffffff;
              align-items: center;
              justify-content: center;
              border-radius: 0.8rem;
              height: 100%;
              line-height: 1.185;
              font-family: Rubik, 'Source Sans Pro';
              font-weight: 500;
              letter-spacing: 0.025rem;
            }
          }
          .button-SnU {
            width: 14.1667rem;
            height: 100%;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #2ccf46;
            flex-shrink: 0;

            .stylelayer-od2 {
              font-family: Rubik, 'Source Sans Pro';
              border-radius: 0.8rem;
              width: 100%;
              font-size: 1.4rem;
              font-weight: 500;
              text-transform: uppercase;
              line-height: 1.185;
              letter-spacing: 0.025rem;
              align-items: center;
              justify-content: center;
              height: 100%;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
            }
          }
        }
        .auto-group-t4ic-hCc {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.2rem 0rem 0rem 15.2rem;
          width: 100%;
          align-items: center;
          display: flex;

          .button-pY8 {
            width: 14.1667rem;
            height: 4.8rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #2400ff;
            flex-shrink: 0;
            margin: 0rem 15.2rem 9.5rem 0rem;

            .stylelayer-Yyv {
              height: 100%;
              font-size: 1.4rem;
              align-items: center;
              width: 100%;
              font-weight: 500;
              justify-content: center;
              line-height: 1.185;
              letter-spacing: 0.025rem;
              display: flex;
              border-radius: 0.8rem;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-2609075-3fn {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 4.8rem;

            .button-Pje {
              cursor: pointer;
              flex-shrink: 0;
              margin-right: 1.0333rem;
              width: 14.1667rem;
              height: 100%;

              .stylelayer-9Tv {
                text-transform: uppercase;
                align-items: center;
                justify-content: center;
                border-radius: 0.8rem;
                height: 100%;
                font-weight: 500;
                line-height: 1.185;
                letter-spacing: 0.025rem;
                white-space: nowrap;
                background-color: #5bc237;
                width: 100%;
                font-size: 1.4rem;
                color: #ffffff;
                font-family: Rubik, 'Source Sans Pro';
                display: flex;
              }
            }
            .button-FWx {
              width: 14.1667rem;
              height: 100%;
              cursor: pointer;
              flex-shrink: 0;

              .stylelayer-1m2 {
                width: 100%;
                font-weight: 500;
                letter-spacing: 0.025rem;
                justify-content: center;
                height: 100%;
                line-height: 1.185;
                white-space: nowrap;
                border-radius: 0.8rem;
                color: #ffffff;
                font-size: 1.4rem;
                text-transform: uppercase;
                font-family: Rubik, 'Source Sans Pro';
                display: flex;
                align-items: center;
                background-color: #e61313;
              }
            }
          }
        }
      }
    }
  }
}
