
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-stok-ywe {
  position: relative;
  overflow: hidden;
  background-color: #fafbff;
  width: 100%;
  height: 102.4rem;

  .frame-1321314413-hse {
    position: absolute;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
    box-sizing: border-box;
    padding: 7rem 0rem 1.2rem 0rem;
    width: 24.2rem;
    height: 102.2rem;
    left: 0;
    top: 0;

    .frame-54-cji {
      box-sizing: border-box;
      padding: 6.2rem 4rem 6.2rem 6.5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);

      .frame-9je {
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        box-sizing: border-box;
        padding-bottom: 7.9rem;
        width: 100%;
        height: 34.7rem;
        align-items: center;

        .text-H5A {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          white-space: nowrap;
          border-radius: 0.8rem;
          flex-shrink: 0;
          padding: 0.4rem 1.2rem;
          width: 100%;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          color: #1c1c1c;
        }
        .content-BAY {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;

          .icon-text-vtp {
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;

            .text-frQ {
              font-size: 1.4rem;
              color: #0f0000;
              white-space: nowrap;
              width: 100%;
              height: 100%;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
              font-weight: 400;
              line-height: 1.4285714286;
            }
          }
        }
        .content-ZB6 {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-uVr {
            white-space: nowrap;
            margin-right: 0.8rem;
            width: 12.9rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            height: 100%;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 0.8rem;
          }
        }
        .content-bNg {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .text-YHv {
            margin-right: 0.8rem;
            height: 100%;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            width: 12.9rem;
            font-size: 1.4rem;
          }
        }
        .content-dKN {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 4.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;

          .text-xsS {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .riwayat-barang-masuk-81E {
              font-family: Inter, 'Source Sans Pro';
              max-width: 10.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
            }
          }
        }
        .content-pek {
          width: 100%;
          height: 4.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;

          .text-BEQ {
            margin-right: 2.5rem;
            width: 11.2rem;
            height: 100%;
            border-radius: 0.8rem;

            .buat-pesanan-ke-suplier-8vL {
              font-family: Inter, 'Source Sans Pro';
              max-width: 11.2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
            }
          }
        }
      }
    }
  }
  .pesanan-AME {
    width: 19.1rem;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1.26;
    color: rgba(73, 69, 79, 0.8000000119);
    height: 6.3rem;
    position: absolute;
    left: 28.7rem;
    top: 33rem;
    display: flex;
    font-size: 5rem;
    font-family: Outfit, 'Source Sans Pro';
  }
  .frame-695-rUx {
    padding-bottom: 21.3rem;
    row-gap: 3.2rem;
    box-sizing: border-box;
    top: 40.3rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 1.2rem;
    height: 62.1rem;
    left: 28.7rem;
    overflow: hidden;
    border: solid 0.1rem #ebebee;
    width: 113rem;
    position: absolute;
    flex-direction: column;

    .frame-702-Ycg {
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #cecece;

      .frame-696-HqA {
        font-weight: 400;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.26;
        color: rgba(73, 69, 79, 0.8000000119);
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 25rem;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        border: solid 0.1rem #cecece;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
      }
      .frame-697-Nbi {
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #cecece;
        overflow: hidden;
        font-size: 1.6rem;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        position: relative;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.016rem;
        flex-shrink: 0;
        height: 100%;
        color: rgba(73, 69, 79, 0.8000000119);
        white-space: nowrap;
        box-sizing: border-box;
        width: 20.9rem;
        line-height: 1.26;
      }
      .frame-698-4UY {
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
        color: rgba(73, 69, 79, 0.8000000119);
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        border: solid 0.1rem #cecece;
        width: 15rem;
        overflow: hidden;
        position: relative;
        text-align: center;
        flex-shrink: 0;
      }
      .frame-699-MiY {
        box-sizing: border-box;
        flex-shrink: 0;
        overflow: hidden;
        text-align: center;
        font-weight: 400;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        width: 20.5rem;
        font-size: 1.6rem;
        line-height: 1.26;
        color: rgba(73, 69, 79, 0.8000000119);
        justify-content: center;
        border: solid 0.1rem #cecece;
      }
      .auto-group-ejwr-rfJ {
        box-sizing: border-box;
        padding: 1.8rem 4rem 1.7rem 3.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-708-ZZi {
          margin-right: 11.6rem;
          height: 100%;
          overflow: hidden;
          line-height: 1.26;
          white-space: nowrap;
          width: 4.6rem;
          font-size: 1.6rem;
          letter-spacing: 0.016rem;
          font-family: Outfit, 'Source Sans Pro';
          align-items: center;
          font-weight: 400;
          color: rgba(73, 69, 79, 0.8999999762);
          flex-shrink: 0;
          position: relative;
          display: flex;
          justify-content: center;
        }
        .frame-709-FxL {
          font-size: 1.6rem;
          color: rgba(73, 69, 79, 0.8999999762);
          white-space: nowrap;
          position: relative;
          display: flex;
          flex-shrink: 0;
          width: 7.8rem;
          height: 100%;
          overflow: hidden;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          justify-content: center;
          font-weight: 400;
          font-family: Outfit, 'Source Sans Pro';
          align-items: center;
        }
      }
    }
    .frame-703-YgY {
      height: 5.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;

      .frame-696-sip {
        width: 5.8rem;
        overflow: hidden;
        line-height: 1.26;
        flex-shrink: 0;
        margin: 0.3rem 22.6rem 0.2rem 0rem;
        position: relative;
        font-weight: 400;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        height: calc(100% - 0.5rem);
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        align-items: center;
      }
      .frame-697-xEU {
        margin: 0.3rem 8.2rem 0.2rem 0rem;
        position: relative;
        font-size: 1.6rem;
        display: flex;
        width: 10.3rem;
        font-weight: 400;
        justify-content: center;
        flex-shrink: 0;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        height: calc(100% - 0.5rem);
        overflow: hidden;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        align-items: center;
      }
      .frame-698-qp4 {
        text-align: center;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        display: flex;
        margin: 0.3rem 9.8rem 0.2rem 0rem;
        width: 8.2rem;
        height: calc(100% - 0.5rem);
        position: relative;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(34, 34, 34, 0.8999999762);
        flex-shrink: 0;
        overflow: hidden;
        line-height: 1.26;
        align-items: center;
      }
      .frame-699-WfJ {
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        justify-content: center;
        width: 7.7rem;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        margin: 0.3rem 9.4rem 0.2rem 0rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        height: calc(100% - 0.5rem);
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.26;
      }
      .frame-707-z4g {
        width: 6.4rem;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        overflow: hidden;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.26;
        white-space: nowrap;
        display: flex;
        letter-spacing: 0.016rem;
        color: #0978f2;
        justify-content: center;
        margin: 0.3rem 8.6rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        position: relative;
        font-size: 1.6rem;
      }
      .frame-708-rcg {
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .frame-1321314409-R9z {
          height: 100%;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          padding: 0.2rem 1rem;
          width: 100%;

          .frame-3-ki4 {
            height: 100%;
            font-size: 1.5422rem;
            font-weight: 800;
            line-height: 1.5625000773;
            font-family: Lato, 'Source Sans Pro';
            text-align: center;
            white-space: nowrap;
            display: flex;
            background-color: #0ba7ff;
            overflow: hidden;
            color: #ffffff;
            border: solid 0.0964rem #333333;
            box-sizing: border-box;
            border-radius: 0.4819rem;
            width: 100%;
            position: relative;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .frame-704-SKz {
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-696-ZfW {
        align-items: center;
        flex-shrink: 0;
        width: 4.3rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        letter-spacing: 0.016rem;
        overflow: hidden;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.26;
        justify-content: center;
        white-space: nowrap;
        display: flex;
        margin: 0.3rem 21.8rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        font-weight: 400;
      }
      .frame-697-eBA {
        width: 13.8rem;
        line-height: 1.26;
        white-space: nowrap;
        justify-content: center;
        margin: 0.3rem 7.9rem 0.2rem 0rem;
        color: rgba(34, 34, 34, 0.8999999762);
        position: relative;
        text-align: center;
        letter-spacing: 0.016rem;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 0.5rem);
        overflow: hidden;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Outfit, 'Source Sans Pro';
      }
      .frame-698-iwi {
        margin: 0.3rem 10.4rem 0.2rem 0rem;
        width: 6.5rem;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.26;
        justify-content: center;
        height: calc(100% - 0.5rem);
        position: relative;
        text-align: center;
        align-items: center;
        overflow: hidden;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .frame-699-RLL {
        height: calc(100% - 0.5rem);
        position: relative;
        white-space: nowrap;
        display: flex;
        align-items: center;
        width: 8.1rem;
        overflow: hidden;
        color: rgba(34, 34, 34, 0.8999999762);
        flex-shrink: 0;
        text-align: center;
        font-weight: 400;
        line-height: 1.26;
        font-family: Outfit, 'Source Sans Pro';
        justify-content: center;
        margin: 0.3rem 8.9rem 0.2rem 0rem;
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
      }
      .frame-708-uWQ {
        align-items: center;
        font-weight: 400;
        overflow: hidden;
        font-family: Outfit, 'Source Sans Pro';
        width: 6rem;
        position: relative;
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
        justify-content: center;
        flex-shrink: 0;
        height: calc(100% - 0.5rem);
        line-height: 1.26;
        color: rgba(14, 173, 105, 0.8999999762);
        white-space: nowrap;
        display: flex;
        margin: 0.3rem 9.3rem 0.2rem 0rem;
      }
      .frame-707-bu2 {
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;

        .frame-1321314409-MNQ {
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 100%;

          .frame-3-vAc {
            font-family: Lato, 'Source Sans Pro';
            justify-content: center;
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            line-height: 1.5625000773;
            background-color: #0ba7ff;
            text-align: center;
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
            color: #ffffff;
            border: solid 0.0964rem #333333;
            border-radius: 0.4819rem;
            font-size: 1.5422rem;
            font-weight: 800;
            white-space: nowrap;
          }
        }
      }
    }
    .frame-705-c3S {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.6rem;

      .frame-696-vpp {
        font-weight: 400;
        letter-spacing: 0.016rem;
        color: rgba(34, 34, 34, 0.8999999762);
        white-space: nowrap;
        justify-content: center;
        height: calc(100% - 0.5rem);
        position: relative;
        font-family: Outfit, 'Source Sans Pro';
        margin: 0.3rem 22.1rem 0.2rem 0rem;
        align-items: center;
        flex-shrink: 0;
        width: 4.1rem;
        overflow: hidden;
        font-size: 1.6rem;
        line-height: 1.26;
        display: flex;
      }
      .frame-697-DZ2 {
        font-weight: 400;
        letter-spacing: 0.016rem;
        white-space: nowrap;
        align-items: center;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-family: Outfit, 'Source Sans Pro';
        height: calc(100% - 0.5rem);
        width: 13.7rem;
        justify-content: center;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .frame-698-WHE {
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 7.3rem;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        margin: 0.3rem 10.5rem 0.2rem 0rem;
        position: relative;
        flex-shrink: 0;
        height: calc(100% - 0.5rem);
        letter-spacing: 0.016rem;
        font-weight: 400;
        line-height: 1.26;
        align-items: center;
      }
      .frame-699-zTJ {
        color: rgba(34, 34, 34, 0.8999999762);
        margin: 0.3rem 9.1rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        line-height: 1.26;
        white-space: nowrap;
        width: 7.1rem;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        display: flex;
        align-items: center;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        justify-content: center;
      }
      .frame-708-HBW {
        display: flex;
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        font-size: 1.6rem;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.1rem;
        color: rgba(193, 11, 14, 0.8000000119);
        align-items: center;
        flex-shrink: 0;
        overflow: hidden;
        font-weight: 400;
        justify-content: center;
        height: calc(100% - 0.5rem);
        position: relative;
        line-height: 1.26;
        letter-spacing: 0.016rem;
      }
      .frame-707-wWx {
        width: 11.4rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;

        .frame-1321314409-UWt {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .frame-3-Ekx {
            background-color: #0ba7ff;
            border-radius: 0.4819rem;
            width: 100%;
            text-align: center;
            font-size: 1.5422rem;
            border: solid 0.0964rem #333333;
            overflow: hidden;
            position: relative;
            align-items: center;
            line-height: 1.5625000773;
            justify-content: center;
            white-space: nowrap;
            display: flex;
            box-sizing: border-box;
            height: 100%;
            font-weight: 800;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
          }
        }
      }
    }
    .frame-706-ig8 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 2.2rem 1.5rem 2.5rem;
      width: 100%;
      height: 5.6rem;

      .frame-696-eJt {
        align-items: center;
        width: 12rem;
        display: flex;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
        height: calc(100% - 0.5rem);
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0.3rem 14.1rem 0.2rem 0rem;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
        position: relative;
        letter-spacing: 0.016rem;
      }
      .frame-697-w36 {
        overflow: hidden;
        text-align: center;
        letter-spacing: 0.016rem;
        display: flex;
        width: 13.7rem;
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Outfit, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: 400;
        line-height: 1.26;
        color: rgba(34, 34, 34, 0.8999999762);
        margin: 0.3rem 7.5rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
      }
      .frame-698-RU4 {
        margin: 0.3rem 9.4rem 0.2rem 0rem;
        text-align: center;
        font-size: 1.6rem;
        color: rgba(34, 34, 34, 0.8999999762);
        align-items: center;
        height: calc(100% - 0.5rem);
        font-weight: 400;
        display: flex;
        flex-shrink: 0;
        width: 7.3rem;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        overflow: hidden;
        position: relative;
      }
      .frame-699-tMe {
        color: rgba(34, 34, 34, 0.8999999762);
        display: flex;
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
        overflow: hidden;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        width: 9.3rem;
        height: calc(100% - 0.5rem);
        line-height: 1.26;
        justify-content: center;
        align-items: center;
        margin: 0.3rem 8rem 0.2rem 0rem;
        position: relative;
        letter-spacing: 0.016rem;
        white-space: nowrap;
      }
      .frame-708-Apx {
        font-family: Outfit, 'Source Sans Pro';
        overflow: hidden;
        position: relative;
        color: rgba(35, 0, 255, 0.8000000119);
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: 0.016rem;
        justify-content: center;
        width: 10.1rem;
        height: calc(100% - 0.5rem);
        font-size: 1.6rem;
        align-items: center;
        margin: 0.3rem 5.5rem 0.2rem 0rem;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
      }
      .frame-707-Tp4 {
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 1rem;
        width: 11.4rem;
        height: 100%;
        overflow: hidden;

        .frame-1321314409-cgx {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .frame-3-nLY {
            background-color: #0ba7ff;
            font-size: 1.5422rem;
            font-weight: 800;
            white-space: nowrap;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            border-radius: 0.4819rem;
            position: relative;
            line-height: 1.5625000773;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
            border: solid 0.0964rem #333333;
            height: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  .frame-1321314414-EyE {
    position: absolute;
    left: 61.2rem;
    top: 15.1rem;
    border: solid 0.1rem #f3f4f6;
    background-color: #dcfaed;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1.6rem 1.6rem 1.4rem 1.6rem;
    overflow: hidden;
    width: 32.8rem;
    height: 10.3rem;

    .harga-telur-perkg-wck {
      color: rgba(34, 34, 34, 0.8999999762);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.016rem;
    }
    .rp31000-Tqz {
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.6rem;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.26;
      color: #0ead69;
    }
    .tekan-untuk-mengganti-harga-1Mi {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.01rem;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .frame-1321314404-WJU {
    padding: 1.6rem;
    position: absolute;
    border: solid 0.1rem #f3f4f6;
    background-color: #f5f6f8;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 10.3rem;
    left: 24.2rem;
    top: 15.1rem;
    overflow: hidden;
    width: 32.8rem;

    .telur-tersisa-RwE {
      letter-spacing: 0.016rem;
      color: rgba(34, 34, 34, 0.8999999762);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.26;
    }
    .kg-N5n {
      white-space: nowrap;
      margin-bottom: 0.5rem;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
    }
    .tekan-untuk-menambah-stok-telur-WSt {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.26;
      letter-spacing: 0.01rem;
      color: rgba(73, 69, 79, 0.8000000119);
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .desktop-1-QHN {
    top: 0;
    padding: 37rem 44rem;
    width: 144rem;
    height: 102.4rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3000000119);
    box-sizing: border-box;
    position: absolute;
    left: 0;

    .group-24-9Ex {
      width: 100%;
      height: 100%;
      position: relative;

      .group-6vt {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 56rem;
        height: 28.4rem;
        position: absolute;
        left: 0;
      }
      .group-23-3r8 {
        height: 21.1659rem;
        position: absolute;
        left: 9.3rem;
        top: 3.9rem;
        width: 34.2667rem;

        .edit-stok-NdW {
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.5;
          color: #4a4b4d;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.5rem;
        }
        .auto-group-mvtg-WDv {
          height: 5.4rem;
          display: flex;
          align-items: center;
          margin: 0rem 5.967rem 3.266rem 8.7rem;
          width: calc(100% - 14.6667rem);

          .stylelayer-pVW {
            height: calc(100% - 0.6rem);
            border: solid 0.1rem #232321;
            box-sizing: border-box;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin: 0.2rem 0.433rem 0.4rem 0rem;
            width: 14.1667rem;
          }
          .frame-1321314410-8FJ {
            width: 5rem;
            overflow: hidden;
            font-size: 3.6rem;
            font-weight: 700;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            line-height: 1.5;
            display: flex;
            justify-content: center;
            position: relative;
            color: #4a4b4d;
            align-items: center;
            flex-shrink: 0;
          }
        }
        .frame-2609075-S16 {
          margin-left: 2.6rem;
          width: calc(100% - 2.6rem);
          height: 4.8rem;
          display: flex;
          align-items: center;

          .button-NQY {
            margin-right: 3.3333rem;
            width: 14.1667rem;
            height: 100%;
            cursor: pointer;
            flex-shrink: 0;

            .stylelayer-Kqa {
              width: 100%;
              line-height: 1.185;
              white-space: nowrap;
              display: flex;
              font-family: Rubik, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              font-weight: 500;
              letter-spacing: 0.025rem;
              color: #232321;
              border-radius: 0.8rem;
              height: 100%;
              font-size: 1.4rem;
              text-transform: uppercase;
              border: solid 0.1rem #232321;
              box-sizing: border-box;
            }
          }
          .button-pGY {
            flex-shrink: 0;
            width: 14.1667rem;
            height: 100%;
            cursor: pointer;

            .stylelayer-mha {
              font-size: 1.4rem;
              width: 100%;
              font-weight: 500;
              line-height: 1.185;
              background-color: #5bc237;
              height: 100%;
              text-transform: uppercase;
              color: #ffffff;
              white-space: nowrap;
              justify-content: center;
              border-radius: 0.8rem;
              letter-spacing: 0.025rem;
              font-family: Rubik, 'Source Sans Pro';
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
