
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.informasi-akun-kEk {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');

  .header-top-63i {
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    margin-bottom: 0.4rem;
    padding: 0rem 2.2rem 0rem 4.3rem;
    display: flex;
    background-size: 100% 100%;
    background-position: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    height: 8rem;

    .rectangle-56-mvY {
      margin: 0rem 58.4rem 1rem 0rem;
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .your-account-items-Upx {
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;
      column-gap: 1.6rem;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-6-nKr {
        line-height: 1.3999999653;
        justify-content: center;
        border-radius: 2.5rem;
        position: relative;
        font-size: 1.1rem;
        white-space: nowrap;
        flex-shrink: 0;
        overflow: hidden;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        background-color: #60fd00;
        display: flex;
        margin-top: 0.1rem;
        width: 20.2rem;
        height: 2.4rem;
        font-weight: 400;
        color: #23263b;
      }
      .frame-3-esr {
        overflow: hidden;
        white-space: nowrap;
        flex-shrink: 0;
        height: 2.2rem;
        position: relative;
        font-weight: 800;
        line-height: 2.4097223282;
        background-color: #556ab7;
        box-sizing: border-box;
        margin-top: 0.05rem;
        text-align: center;
        font-size: 1rem;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        border-radius: 0.4819rem;
        padding: 0 4.2rem;
      }
      .frame-3-Kyz {
        box-sizing: border-box;
        cursor: pointer;
        color: #ffffff;
        background-color: #ff0000;
        height: 2.2rem;
        position: relative;
        text-align: center;
        font-size: 1rem;
        line-height: 2.4097223282;
        padding: 0 3.8rem;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.4819rem;
        overflow: hidden;
        font-weight: 800;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-cpuu-bAp {
    margin-right: 38.2rem;
    width: calc(100% - 38.2rem);
    height: 94.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-2609093-X4U {
      height: 100%;
      position: relative;
      overflow: hidden;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      flex-shrink: 0;
      margin-right: 32.9rem;
      width: 24.2rem;

      .frame-Tip {
        display: flex;
        box-sizing: border-box;
        position: absolute;
        top: 6.9rem;
        row-gap: 0.4rem;
        align-items: center;
        flex-direction: column;
        border-radius: 2rem;
        padding-bottom: 22.3rem;
        width: 13.7rem;
        height: 34.7rem;
        left: 6.6rem;

        .text-A7S {
          padding: 0.4rem 1.2rem;
          width: 100%;
          color: rgba(28, 28, 28, 0.400000006);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          border-radius: 0.8rem;
          flex-shrink: 0;
        }
        .content-rkx {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .icon-text-cEL {
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;

            .text-Ydn {
              font-weight: 400;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              width: 100%;
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              white-space: nowrap;
              border-radius: 0.8rem;
            }
          }
        }
        .content-3qS {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-Qfz {
            width: 12.9rem;
            line-height: 1.4285714286;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .content-v8Y {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          background-color: rgba(2, 2, 2, 0.0599999987);
          border-radius: 0.8rem;

          .text-5GL {
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 0.8rem;
            width: 12.9rem;
            font-weight: 400;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
      }
      .frame-54-B4U {
        left: 0;
        background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
        box-sizing: border-box;
        padding: 6.9rem 3.9rem 6.9rem 6.6rem;
        width: 24.2rem;
        position: absolute;
        height: 94rem;
        top: 7rem;
        overflow: hidden;

        .frame-hYc {
          box-sizing: border-box;
          width: 100%;
          height: 34.7rem;
          flex-direction: column;
          border-radius: 2rem;
          padding-bottom: 22.3rem;
          row-gap: 0.4rem;
          align-items: center;
          display: flex;

          .text-qPv {
            padding: 0.4rem 1.2rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #1c1c1c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
          }
          .content-MdA {
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;

            .icon-text-uua {
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;
              border-radius: 0.8rem;

              .text-sLc {
                width: 100%;
                font-size: 1.4rem;
                line-height: 1.4285714286;
                white-space: nowrap;
                border-radius: 0.8rem;
                height: 100%;
                font-weight: 400;
                color: #0f0000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .content-ZjE {
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;

            .text-vJt {
              height: 100%;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              white-space: nowrap;
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              width: 12.9rem;
            }
          }
          .content-p9N {
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;

            .text-NAt {
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.4rem;
              font-weight: 400;
              border-radius: 0.8rem;
            }
          }
        }
      }
    }
    .frame-8-a24 {
      flex-shrink: 0;
      margin: 23.5rem 0rem 32.5rem 0rem;
      padding: 4rem 4.5rem 4.9rem 4.5rem;
      width: 48.7rem;
      height: calc(100% - 56rem);
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      box-sizing: border-box;
      box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
      border-radius: 2.5rem;

      .informasi-akun-fpC {
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        line-height: 1.3333333333;
        letter-spacing: 0.01rem;
        margin-bottom: 3.6rem;
        font-size: 2.4rem;
        font-weight: 700;
      }
      .nama-supplier--zba {
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7142857143;
        letter-spacing: 0.02rem;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
      }
      .inputform-control-8Bz {
        overflow: hidden;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        border: solid 0.1rem #e6e6e6;
        width: 25.7rem;
        position: relative;
        line-height: 1.7142857143;
        white-space: nowrap;
        border-radius: 0.5rem;
        margin-bottom: 1.6rem;
        padding: 1rem 1.5rem;
        letter-spacing: 0.02rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        font-weight: 400;
        background-color: #f8f8f8;
      }
      .email--PNp {
        font-weight: 400;
        line-height: 1.7142857143;
        letter-spacing: 0.02rem;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
      }
      .inputform-control-vde {
        width: 25.7rem;
        font-weight: 400;
        border: solid 0.1rem #e6e6e6;
        background-color: #f8f8f8;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        position: relative;
        letter-spacing: 0.02rem;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.7142857143;
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
        color: #000000;
      }
      .btn-bzg {
        background-color: #ff7a00;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        font-size: 2.1rem;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        width: 20rem;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
        line-height: 1.5;
        color: #ffffff;
        justify-content: center;
        height: 3.3rem;
        font-weight: 700;
        align-items: center;
      }
    }
  }
}
