
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.informasi-akun-vsJ {
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-bottom: 0.3rem;
  width: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');

  .header-top-rW4 {
    margin-bottom: 0.1rem;
    box-sizing: border-box;
    padding: 0rem 2.2rem 0rem 4.3rem;
    width: 100%;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    flex-shrink: 0;
    height: 8rem;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    .rectangle-56-mN8 {
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 58.4rem 1rem 0rem;
    }
    .your-account-items-5Np {
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;
      column-gap: 1.6rem;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-6-aqN {
        justify-content: center;
        border-radius: 2.5rem;
        line-height: 1.3999999653;
        color: #23263b;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        height: 2.4rem;
        overflow: hidden;
        position: relative;
        margin-top: 0.1rem;
        font-size: 1.1rem;
        white-space: nowrap;
        background-color: #60fd00;
        flex-shrink: 0;
        width: 20.2rem;
        font-weight: 400;
        align-items: center;
      }
      .frame-3-S6t {
        padding: 0 4.2rem;
        text-align: center;
        white-space: nowrap;
        border-radius: 0.4819rem;
        margin-top: 0.05rem;
        line-height: 2.4097223282;
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        font-size: 1rem;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        background-color: #556ab7;
        height: 2.2rem;
        font-weight: 800;
      }
      .frame-3-iKJ {
        padding: 0 3.8rem;
        height: 2.2rem;
        font-weight: 800;
        line-height: 2.4097223282;
        color: #ffffff;
        font-size: 1rem;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        text-align: center;
        border-radius: 0.4819rem;
        overflow: hidden;
        background-color: #ff0000;
      }
    }
  }
  .auto-group-ac2u-Awz {
    margin-right: 38.2rem;
    width: calc(100% - 38.2rem);
    height: 94rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-55-u8t {
      margin-right: 32.9rem;
      width: 24.2rem;
      height: 100%;
      position: relative;
      overflow: hidden;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      flex-shrink: 0;

      .frame-FCk {
        padding-bottom: 22.3rem;
        width: 13.7rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 34.7rem;
        left: 6.6rem;
        top: 6.9rem;
        row-gap: 0.4rem;
        align-items: center;
        border-radius: 2rem;

        .text-9Z2 {
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 100%;
          line-height: 1.4285714286;
          color: rgba(28, 28, 28, 0.400000006);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .content-E4g {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .icon-text-xWU {
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;

            .text-6Mn {
              width: 100%;
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #0f0000;
              white-space: nowrap;
              border-radius: 0.8rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .content-o1J {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-M2p {
            line-height: 1.4285714286;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 0.8rem;
            height: 100%;
            width: 12.9rem;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            margin-right: 0.8rem;
          }
        }
        .content-4C8 {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          background-color: rgba(2, 2, 2, 0.0599999987);
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-cDe {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            height: 100%;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #0f0000;
            width: 12.9rem;
            font-size: 1.4rem;
          }
        }
      }
      .frame-54-W48 {
        box-sizing: border-box;
        padding: 6.9rem 3.9rem 6.9rem 6.6rem;
        width: 24.2rem;
        height: 94rem;
        position: absolute;
        left: 0;
        top: 7rem;
        overflow: hidden;
        background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);

        .frame-fbE {
          box-sizing: border-box;
          width: 100%;
          row-gap: 0.4rem;
          align-items: center;
          border-radius: 2rem;
          padding-bottom: 19.1rem;
          height: 34.7rem;
          display: flex;
          flex-direction: column;

          .text-ztQ {
            padding: 0.4rem 1.2rem;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            box-sizing: border-box;
            color: #1c1c1c;
            white-space: nowrap;
            border-radius: 0.8rem;
          }
          .content-v1N {
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;

            .icon-text-fje {
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;

              .text-cun {
                font-weight: 400;
                line-height: 1.4285714286;
                color: #0f0000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                border-radius: 0.8rem;
                height: 100%;
                font-size: 1.4rem;
                width: 100%;
              }
            }
          }
          .content-75r {
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;

            .text-rZE {
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;
              font-weight: 400;
              white-space: nowrap;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
            }
          }
          .content-9HS {
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;

            .text-hZr {
              line-height: 1.4285714286;
              color: #0f0000;
              white-space: nowrap;
              border-radius: 0.8rem;
              width: 12.9rem;
              height: 100%;
              font-weight: 400;
              margin-right: 0.8rem;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .content-nLQ {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;

            .text-jFe {
              margin-right: 0.8rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              width: 12.9rem;
              height: 100%;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 0.8rem;
            }
          }
        }
      }
    }
    .frame-8-YD6 {
      height: calc(100% - 55.4rem);
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
      box-sizing: border-box;
      width: 48.7rem;
      background-color: #ffffff;
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin: 23.8rem 0rem 31.6rem 0rem;
      padding: 4rem 4.5rem 4.9rem 4.5rem;

      .informasi-akun-S3a {
        margin-bottom: 3.6rem;
        width: 100%;
        font-weight: 700;
        letter-spacing: 0.01rem;
        white-space: nowrap;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
      }
      .nama--x1v {
        font-weight: 400;
        line-height: 1.7142857143;
        letter-spacing: 0.02rem;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
      }
      .inputform-control-UW4 {
        padding: 1rem 1.5rem;
        line-height: 1.7142857143;
        letter-spacing: 0.02rem;
        white-space: nowrap;
        border-radius: 0.5rem;
        box-sizing: border-box;
        overflow: hidden;
        font-family: Lato, 'Source Sans Pro';
        background-color: #f8f8f8;
        margin-bottom: 1.6rem;
        width: 25.7rem;
        position: relative;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        border: solid 0.1rem #e6e6e6;
      }
      .email--YF2 {
        font-weight: 400;
        line-height: 1.7142857143;
        letter-spacing: 0.02rem;
        color: #000000;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
      }
      .inputform-control-4z4 {
        margin-bottom: 1.6rem;
        padding: 1rem 1.5rem;
        overflow: hidden;
        font-size: 1.4rem;
        letter-spacing: 0.02rem;
        font-family: Lato, 'Source Sans Pro';
        border-radius: 0.5rem;
        position: relative;
        font-weight: 400;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        width: 25.7rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.7142857143;
        background-color: #f8f8f8;
      }
      .btn-wY4 {
        font-size: 2.1rem;
        font-weight: 700;
        font-family: Lato, 'Source Sans Pro';
        width: 20rem;
        cursor: pointer;
        color: #ffffff;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
        background-color: #ff7a00;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        height: 3.3rem;
        display: flex;
        line-height: 1.5;
        white-space: nowrap;
      }
    }
  }
}
