
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.keranjang-EKS {
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');
  box-sizing: border-box;
  padding-bottom: 0.4rem;
  flex-direction: column;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;

  .header-top-NRe {
    width: 100%;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 2.2rem 0rem 4.3rem;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    height: 8rem;
    display: flex;

    .rectangle-56-VmA {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 58.4rem 1rem 0rem;
      width: 34.1rem;
      height: 7rem;
    }
    .your-account-items-DBN {
      height: calc(100% - 5.5rem);
      display: flex;
      column-gap: 1.6rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 2.3rem 0rem 3.2rem 0rem;

      .frame-6-XSx {
        height: 2.4rem;
        white-space: nowrap;
        justify-content: center;
        background-color: #60fd00;
        font-size: 1.1rem;
        line-height: 1.3999999653;
        color: #23263b;
        display: flex;
        flex-shrink: 0;
        width: 20.2rem;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        border-radius: 2.5rem;
        margin-top: 0.1rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
      .frame-3-Qme {
        padding: 0 4.2rem;
        font-size: 1rem;
        color: #ffffff;
        border-radius: 0.4819rem;
        flex-shrink: 0;
        margin-top: 0.05rem;
        cursor: pointer;
        text-align: center;
        line-height: 2.4097223282;
        font-family: Lato, 'Source Sans Pro';
        background-color: #556ab7;
        box-sizing: border-box;
        overflow: hidden;
        font-weight: 800;
        height: 2.2rem;
        position: relative;
        white-space: nowrap;
      }
      .frame-3-VHJ {
        border-radius: 0.4819rem;
        height: 2.2rem;
        position: relative;
        font-size: 1rem;
        background-color: #ff0000;
        padding: 0 3.8rem;
        overflow: hidden;
        line-height: 2.4097223282;
        font-family: Lato, 'Source Sans Pro';
        box-sizing: border-box;
        text-align: center;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 800;
        color: #ffffff;
        white-space: nowrap;
      }
    }
  }
  .auto-group-uvvp-xRn {
    margin-right: 6.3rem;
    width: calc(100% - 6.3rem);
    height: 94rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-54-tKS {
      overflow: hidden;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      flex-shrink: 0;
      margin-right: 5rem;
      width: 24.2rem;
      height: 100%;
      position: relative;

      .frame-E8Q {
        width: 13.7rem;
        height: 34.7rem;
        left: 6.6rem;
        top: 6.9rem;
        align-items: center;
        border-radius: 2rem;
        box-sizing: border-box;
        padding-bottom: 22.3rem;
        position: absolute;
        row-gap: 0.4rem;
        display: flex;
        flex-direction: column;

        .text-j5A {
          flex-shrink: 0;
          padding: 0.4rem 1.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          width: 100%;
          color: rgba(28, 28, 28, 0.400000006);
          white-space: nowrap;
          border-radius: 0.8rem;
        }
        .content-Rig {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .icon-text-BSx {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .text-jUU {
              font-size: 1.4rem;
              white-space: nowrap;
              width: 100%;
              height: 100%;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
            }
          }
        }
        .content-S7z {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;

          .text-nxY {
            width: 12.9rem;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            height: 100%;
            font-weight: 400;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .content-5we {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          background-color: rgba(2, 2, 2, 0.0599999987);
          border-radius: 0.8rem;

          .text-F5S {
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            line-height: 1.4285714286;
          }
        }
      }
      .frame-54-Xoe {
        padding: 6.9rem 3.9rem 6.9rem 6.6rem;
        position: absolute;
        background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
        box-sizing: border-box;
        width: 24.2rem;
        height: 94rem;
        left: 0;
        top: 7rem;
        overflow: hidden;

        .frame-Fje {
          box-sizing: border-box;
          row-gap: 0.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 2rem;
          padding-bottom: 19.1rem;
          width: 100%;
          height: 34.7rem;

          .text-bHi {
            white-space: nowrap;
            border-radius: 0.8rem;
            flex-shrink: 0;
            padding: 0.4rem 1.2rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #1c1c1c;
            font-family: Inter, 'Source Sans Pro';
            box-sizing: border-box;
            width: 100%;
            font-size: 1.4rem;
          }
          .content-iNL {
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;

            .icon-text-foN {
              height: 100%;
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              width: 12.9rem;

              .text-dEQ {
                font-size: 1.4rem;
                color: #0f0000;
                border-radius: 0.8rem;
                line-height: 1.4285714286;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                height: 100%;
                font-weight: 400;
              }
            }
          }
          .content-7QU {
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;

            .text-s8k {
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              width: 12.9rem;
              font-weight: 400;
            }
          }
          .content-Xyz {
            width: 100%;
            height: 2.8rem;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;

            .text-VR2 {
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              white-space: nowrap;
              margin-right: 0.8rem;
              width: 12.9rem;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
            }
          }
          .content-Boe {
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;

            .text-YPJ {
              margin-right: 0.8rem;
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 12.9rem;
              line-height: 1.4285714286;
              border-radius: 0.8rem;
            }
          }
        }
      }
    }
    .auto-group-ns5n-ZZJ {
      position: relative;
      flex-shrink: 0;
      margin: 2.2rem 0rem 1.4rem 0rem;
      width: 108.5rem;
      height: calc(100% - 3.6rem);

      .frame-52-tba {
        position: absolute;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 12.6rem 8.2rem;
        width: 108.2rem;
        height: 90.4rem;
        left: 0.3rem;
        top: 0;
        background-color: #ffffff;

        .frame-1321314408-DNx {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          width: 66.9rem;
          height: 38.8rem;

          .frame-2609097-kNt {
            margin-right: 5.3rem;
            width: 32.8rem;
            overflow: hidden;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.3rem 2rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .product-card-5g4 {
              align-items: center;
              flex-direction: column;
              width: 100%;
              height: 100%;
              display: flex;
              box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
              background-color: #cee3cb;
              border-radius: 1.2rem;
              box-sizing: border-box;
              padding: 0.8rem 0.3rem 1.1rem 1.2rem;

              .frame-7-p7r {
                background-color: #ffffff;
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 0rem 0.9rem 0.2rem 0rem;
                overflow: hidden;
                position: relative;

                .image-2-9fv {
                  object-fit: cover;
                  vertical-align: top;
                  width: 26.4rem;
                  height: 26.4rem;
                }
              }
              .frame-15-53n {
                margin-left: 0.8rem;
                width: 26.5rem;
                flex-shrink: 0;

                .kg-pGG {
                  font-family: Basic, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.9rem;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #00171f;
                }
                .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-M1J {
                  margin-bottom: 0.781rem;
                  font-weight: 400;
                  display: flex;
                  font-size: 1.1rem;
                  line-height: 1.3636363636;
                  color: rgba(0, 23, 31, 0.4799999893);
                  font-family: Alatsi, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: baseline;

                  .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-M1J-sub-0 {
                  }
                  .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-M1J-sub-1 {
                    font-size: 1.1rem;
                    font-weight: 400;
                    line-height: 2.1818181818;
                    color: rgba(0, 23, 31, 0.4799999893);
                    font-family: Alatsi, 'Source Sans Pro';
                  }
                  .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-M1J-sub-2 {
                  }
                }
                .auto-group-ptxx-nkp {
                  margin: 0rem 2rem 0rem 0.05rem;
                  width: calc(100% - 2.05rem);
                  height: 2.219rem;
                  display: flex;
                  align-items: center;

                  .frame-15-uqS {
                    box-sizing: border-box;
                    background-color: #ff0000;
                    border-radius: 0.4819rem;
                    font-size: 1.5422rem;
                    font-weight: 800;
                    line-height: 1.5625000773;
                    flex-shrink: 0;
                    padding: 0 2.5rem;
                    height: calc(100% - 0.019rem);
                    position: relative;
                    text-align: center;
                    color: #ffffff;
                    border: solid 0.0964rem #333333;
                    margin: 0rem 5.65rem 0.019rem 0rem;
                    overflow: hidden;
                    font-family: Lato, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .frame-16-xoi {
                    height: calc(100% - 0.019rem);
                    text-align: center;
                    font-size: 1.5422rem;
                    font-family: Lato, 'Source Sans Pro';
                    background-color: #55b76b;
                    margin-top: 0.019rem;
                    box-sizing: border-box;
                    padding: 0 2.65rem;
                    cursor: pointer;
                    font-weight: 800;
                    border-radius: 0.4819rem;
                    flex-shrink: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    line-height: 1.5625000773;
                    color: #ffffff;
                    border: solid 0.0964rem #333333;
                  }
                }
              }
            }
          }
          .product-card-ZYc {
            display: flex;
            flex-direction: column;
            background-color: #cee3cb;
            flex-shrink: 0;
            box-sizing: border-box;
            height: calc(100% - 0.6rem);
            align-items: center;
            border-radius: 1.2rem;
            margin: 0.3rem 0;
            padding: 0.8rem 0.8rem 1.4rem 1.2rem;
            box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);

            .frame-7-5Wx {
              background-color: #ffffff;
              border-radius: 1rem;
              flex-shrink: 0;
              margin: 0rem 0.4rem 0.8rem 0rem;
              overflow: hidden;
              position: relative;

              .image-2-D7N {
                width: 26.4rem;
                height: 26.4rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .frame-15-8k8 {
              flex-shrink: 0;
              margin-left: 0.9rem;
              width: 25.9rem;

              .kg-tDW {
                line-height: 1.5;
                color: #00171f;
                font-family: Basic, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 4.2rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .auto-group-kiwz-pN4 {
                width: 100%;
                height: 2.2rem;
                display: flex;
                align-items: center;

                .frame-15-N8g {
                  border-radius: 0.4819rem;
                  margin-right: 7.1rem;
                  padding: 0 2.5rem;
                  position: relative;
                  background-color: #ff0000;
                  flex-shrink: 0;
                  height: 100%;
                  text-align: center;
                  white-space: nowrap;
                  font-size: 1.5422rem;
                  font-weight: 800;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  border: solid 0.0964rem #333333;
                  box-sizing: border-box;
                  overflow: hidden;
                  line-height: 1.5625000773;
                }
                .frame-3-2yv {
                  overflow: hidden;
                  font-size: 1.5422rem;
                  justify-content: center;
                  border: solid 0.0964rem #333333;
                  height: 100%;
                  position: relative;
                  line-height: 1.5625000773;
                  align-items: center;
                  box-sizing: border-box;
                  background-color: #55b76b;
                  width: 9.4rem;
                  color: #ffffff;
                  font-family: Lato, 'Source Sans Pro';
                  border-radius: 0.4819rem;
                  flex-shrink: 0;
                  text-align: center;
                  font-weight: 800;
                  white-space: nowrap;
                  display: flex;
                }
              }
            }
          }
        }
      }
      .frame-1321314409-ri4 {
        height: 9.6rem;
        top: 0.1rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        white-space: nowrap;
        border-radius: 2rem;
        line-height: 0.5;
        background-color: #f9faf8;
        padding: 2.8rem 10.85rem 4.8rem 10.85rem;
        left: 0;
        letter-spacing: 0.02rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        box-sizing: border-box;
        width: 108.5rem;
        position: absolute;
        overflow: hidden;
      }
    }
  }
}
