
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.kirim-telur-XPW {
  flex-direction: column;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');
  width: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .header-top-5A8 {
    width: 100%;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 2.2rem 0rem 4.3rem;
    height: 8rem;
    background-repeat: no-repeat;

    .rectangle-56-znt {
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 58.4rem 1rem 0rem;
    }
    .your-account-items-7sW {
      flex-shrink: 0;
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;
      column-gap: 1.6rem;
      align-items: flex-start;

      .frame-6-d5A {
        line-height: 1.3999999653;
        white-space: nowrap;
        align-items: center;
        background-color: #60fd00;
        border-radius: 2.5rem;
        position: relative;
        font-size: 1.1rem;
        font-weight: 400;
        overflow: hidden;
        color: #23263b;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 20.2rem;
        height: 2.4rem;
      }
      .frame-3-HfW {
        white-space: nowrap;
        background-color: #556ab7;
        text-align: center;
        font-size: 1rem;
        flex-shrink: 0;
        margin-top: 0.05rem;
        position: relative;
        border-radius: 0.4819rem;
        cursor: pointer;
        overflow: hidden;
        font-weight: 800;
        line-height: 2.4097223282;
        color: #ffffff;
        box-sizing: border-box;
        padding: 0 4.2rem;
        height: 2.2rem;
        font-family: Lato, 'Source Sans Pro';
      }
      .frame-3-NS4 {
        padding: 0 3.8rem;
        cursor: pointer;
        position: relative;
        font-weight: 800;
        font-family: Lato, 'Source Sans Pro';
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 0.4819rem;
        height: 2.2rem;
        overflow: hidden;
        line-height: 2.4097223282;
        white-space: nowrap;
        box-sizing: border-box;
        text-align: center;
        font-size: 1rem;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-jj9a-qqS {
    flex-shrink: 0;
    margin-right: 46.4rem;
    width: calc(100% - 46.4rem);
    height: 94.6rem;
    display: flex;
    align-items: center;

    .frame-2609093-yRr {
      position: relative;
      overflow: hidden;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      flex-shrink: 0;
      margin-right: 22.2rem;
      width: 24.2rem;
      height: 100%;

      .frame-ND6 {
        padding-bottom: 22.3rem;
        position: absolute;
        left: 6.6rem;
        top: 6.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 13.7rem;
        height: 34.7rem;
        row-gap: 0.4rem;
        border-radius: 2rem;

        .text-TVS {
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          font-weight: 400;
          font-size: 1.4rem;
          color: rgba(28, 28, 28, 0.400000006);
          white-space: nowrap;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
        }
        .content-xSC {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-text-usE {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .text-rXa {
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              width: 100%;
              color: #0f0000;
              white-space: nowrap;
              border-radius: 0.8rem;
            }
          }
        }
        .content-xqW {
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;

          .text-KAG {
            width: 12.9rem;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            border-radius: 0.8rem;
            white-space: nowrap;
            margin-right: 0.8rem;
            height: 100%;
            font-weight: 400;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .content-dAx {
          background-color: rgba(2, 2, 2, 0.0599999987);
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;

          .text-NuE {
            margin-right: 0.8rem;
            width: 12.9rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
          }
        }
      }
      .frame-54-USU {
        height: 94rem;
        position: absolute;
        top: 7rem;
        overflow: hidden;
        background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
        box-sizing: border-box;
        padding: 6.9rem 3.9rem 6.9rem 6.6rem;
        width: 24.2rem;
        left: 0;

        .frame-oDr {
          align-items: center;
          padding-bottom: 22.3rem;
          width: 100%;
          height: 34.7rem;
          flex-direction: column;
          border-radius: 2rem;
          box-sizing: border-box;
          row-gap: 0.4rem;
          display: flex;

          .text-8G8 {
            width: 100%;
            color: #1c1c1c;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 0.4rem 1.2rem;
            flex-shrink: 0;
          }
          .content-FLk {
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;

            .icon-text-QDe {
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;
              border-radius: 0.8rem;

              .text-MPn {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                white-space: nowrap;
                border-radius: 0.8rem;
                width: 100%;
                height: 100%;
                color: #0f0000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
          .content-FVA {
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .text-CvC {
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              width: 12.9rem;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              height: 100%;
              font-weight: 400;
              color: #0f0000;
              white-space: nowrap;
            }
          }
          .content-t2L {
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .text-pwa {
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              width: 12.9rem;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              color: #0f0000;
              height: 100%;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .payment-e9v {
      padding: 6.4rem 4.1rem;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 7.3rem 0rem 9.7rem 0rem;
      box-sizing: border-box;
      width: 51.2rem;
      height: calc(100% - 17rem);
      align-items: center;
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;

      .product-card-XzQ {
        flex-shrink: 0;
        margin-bottom: 6.7rem;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
        background-color: #fcfcfc;
        border-radius: 1.2rem;
        padding: 0.8rem 0rem 0.5rem 0.8rem;
        display: flex;
        flex-direction: column;

        .frame-7-f52 {
          width: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.2rem;

          .image-2-pCp {
            width: 42.2rem;
            height: 26.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .frame-15-k6U {
          margin-left: 1.3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .kirim-telur-dengan-jumlah-diinginkan-Jdn {
            margin-bottom: 1.5rem;
            max-width: 23.8rem;
            line-height: 1.2;
            color: #00171f;
            display: flex;
            font-size: 2rem;
            font-weight: 400;
            font-family: Basic, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .auto-group-mfax-1o6 {
            width: 22.4rem;
            height: 18.9rem;
            position: relative;
            flex-shrink: 0;

            .frame-2609047-xiL {
              width: 22.4rem;
              height: 11.1rem;
              position: absolute;
              left: 0;
              top: 7.8rem;

              .harga-yang-harus-dibayar-VyA {
                margin-bottom: 1.5rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.26;
                color: #232321;
                font-family: Basic, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-1429-pEk {
                width: 22.1rem;
                height: 7rem;

                .input-initial-ApQ {
                  box-sizing: border-box;
                  color: #1f1a24;
                  border-radius: 0.8rem;
                  margin-bottom: 2.2rem;
                  height: 4.8rem;
                  font-size: 1.6rem;
                  white-space: nowrap;
                  width: 100%;
                  font-weight: 400;
                  line-height: 1.2125;
                  padding: 1.45rem 1.6rem 1.35rem 1.6rem;
                  letter-spacing: 0.05rem;
                  font-family: Inter, 'Source Sans Pro';
                  border: solid 0.1rem #232321;
                }
              }
            }
            .kg-DGt {
              position: absolute;
              top: 0.9rem;
              font-size: 2rem;
              font-weight: 400;
              width: 2.3rem;
              height: 2.6rem;
              left: 14.4rem;
              line-height: 1.26;
              color: #232321;
              font-family: Basic, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-1429-ijS {
              width: 13.3rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;

              .input-initial-54C {
                padding: 0.8rem 1.6rem;
                width: 100%;
                height: 4.8rem;
                border: solid 0.1rem #232321;
                border-radius: 0.8rem;
                margin-bottom: 2.2rem;
                box-sizing: border-box;

                .placeholder-p1n {
                  color: rgba(31, 26, 36, 0.5);
                  font-family: Inter, 'Source Sans Pro';
                  max-width: 6.7rem;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: 0.05rem;
                }
              }
            }
          }
        }
      }
      .auto-group-rq68-3fE {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 1.8rem;
        width: calc(100% - 1.8rem);
        height: 5rem;

        .frame-116-NxQ {
          margin-right: 3rem;
          width: 19.1rem;
          line-height: 1.5625000773;
          white-space: nowrap;
          border: solid 0.0964rem #333333;
          box-sizing: border-box;
          height: 100%;
          text-align: center;
          justify-content: center;
          overflow: hidden;
          font-size: 1.5422rem;
          font-weight: 800;
          color: #ffffff;
          background-color: #ff0000;
          cursor: pointer;
          position: relative;
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          align-items: center;
          border-radius: 0.4819rem;
          flex-shrink: 0;
        }
        .frame-115-euv {
          width: 19.1rem;
          align-items: center;
          flex-shrink: 0;
          cursor: pointer;
          position: relative;
          text-align: center;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          background-color: #43c522;
          font-size: 1.5422rem;
          font-weight: 800;
          color: #ffffff;
          border-radius: 0.4819rem;
          font-family: Lato, 'Source Sans Pro';
          border: solid 0.0964rem #333333;
          height: 100%;
          overflow: hidden;
          line-height: 1.5625000773;
        }
      }
    }
  }
}
