
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-Hx4 {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  .r-1-pwz {
    position: absolute;
    left: 0.7rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 143.3rem;
    height: 102.7rem;
  }
  .frame-5-kak {
    align-items: center;
    box-sizing: border-box;
    height: 12.9rem;
    position: absolute;
    left: 0;
    top: 89.5rem;
    overflow: hidden;
    padding: 0.3rem 1.3rem 0.3rem 0.85rem;
    width: 144.1rem;
    display: flex;
    background: linear-gradient(180deg, #ffeee5 -0%, #0093ff 100%);

    .ggggggggg-removebg-preview-1-Ant {
      flex-shrink: 0;
      margin: 0rem 8.85rem 1.2rem 0rem;
      width: 23.2rem;
      height: 5.7158rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-cb2p-YoS {
      margin: 0rem 6rem 1.1rem 0rem;
      width: 54rem;
      height: 11.2rem;
      position: relative;
      flex-shrink: 0;

      .alamat-jlki-suro-rt-02-rw-01-kecamatan-pasekankabupaten-indramayujawa-barat-kode-pos-45227-416 {
        color: #23263b;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        width: 44.4rem;
        line-height: 1.3999999762;
        left: 0;
        top: 0;
        font-size: 1.6rem;
        font-weight: 400;
        height: 11.2rem;
        position: absolute;
      }
      .frame-10-sz8 {
        position: absolute;
        left: 44rem;
        top: 0.6rem;
        overflow: hidden;
        width: 10rem;
        height: 10rem;
      }
      .frame-11-CWc {
        left: 44rem;
        top: 0.6rem;
        overflow: hidden;
        width: 10rem;
        height: 10rem;
        position: absolute;
      }
    }
    .tentang-kami-kami-menyediakan-telur-ayam-yang-bermutu-dan-segar-serta-kami-telah-mendistribusikan-telur-ayam-ke-berbagi-tempat-vSc {
      color: #23263b;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      max-width: 49.9rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
    }
  }
  .frame-8-mTE {
    height: 60.9rem;
    top: 18.3rem;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    width: 63.9rem;
    position: absolute;
    flex-direction: column;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
    border-radius: 2.5rem;
    box-sizing: border-box;
    padding: 9.3rem 7.8rem 3.741rem 4.6rem;
    left: 40.4rem;
    display: flex;

    .login-qxt {
      margin: 0rem 37.3rem 3.1rem 0rem;
      line-height: 1.3333333333;
      color: #000000;
      white-space: nowrap;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: 0.01rem;
      font-family: Moul, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .email--Xap {
      margin: 0rem 38.9rem 0.9rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7142857143;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Moul, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .inputform-control-ccG {
      flex-shrink: 0;
      margin: 0rem 0rem 2.8rem 3.2rem;
      height: 4.4rem;
      overflow: hidden;
      position: relative;
      border: solid 0.1rem #e6e6e6;
      width: 48.3rem;
      box-sizing: border-box;
      background-color: #f8f8f8;
      border-radius: 0.5rem;
    }
    .password--Tsn {
      font-size: 1.4rem;
      line-height: 1.7142857143;
      font-family: Moul, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 35.8rem 2.8rem 0rem;
      font-weight: 400;
      letter-spacing: 0.02rem;
      color: #000000;
      flex-shrink: 0;
    }
    .inputform-control-n9N {
      margin: 0rem 0rem 2.9rem 3rem;
      height: 4.4rem;
      overflow: hidden;
      box-sizing: border-box;
      background-color: #f8f8f8;
      border-radius: 0.5rem;
      width: 48.3rem;
      position: relative;
      border: solid 0.1rem #e6e6e6;
      flex-shrink: 0;
    }
    .frame-3-tCQ {
      justify-content: center;
      cursor: pointer;
      position: relative;
      font-weight: 800;
      display: flex;
      border-radius: 0.4819rem;
      margin: 0rem 0rem 2.8rem 3rem;
      width: 48.3rem;
      background-color: #55b758;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.2rem;
      overflow: hidden;
      text-align: center;
      font-size: 1.5422rem;
      line-height: 1.5625000773;
      align-items: center;
      flex-shrink: 0;
    }
    .lupa-password-L4Q {
      color: #01a3ff;
      font-family: Montaga, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2.1rem 5.7rem;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5714285714;
      flex-shrink: 0;
      text-align: center;
      letter-spacing: 0.02rem;
    }
    .belum-punya-akundaftar-D8C {
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.4rem;
      line-height: 1.5714285714;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      align-items: baseline;
      margin: 0rem 0rem 2rem 5.5rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.02rem;

      .belum-punya-akundaftar-D8C-sub-0 {
      }
      .belum-punya-akundaftar-D8C-sub-1 {
        color: #0090e1;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5714285714;
        letter-spacing: 0.02rem;
      }
    }
    .frame-1321314410-esi {
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 41.2rem;
      width: calc(100% - 41.2rem);
      overflow: hidden;

      .group-120-PKW {
        width: 3.0795rem;
        height: 3.0593rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.1205rem;
      }
      .kembali-Wuv {
        margin-bottom: 0.0593rem;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.02rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        line-height: 1.5714285714;
        color: #000000;
        font-family: Moul, 'Source Sans Pro';
      }
    }
  }
  .header-top-C24 {
    background-position: center;
    padding: 0rem 2.4rem 0rem 4.3rem;
    width: 144rem;
    height: 8rem;
    position: absolute;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    box-sizing: border-box;
    left: 0;
    top: 0;
    background-repeat: no-repeat;

    .rectangle-56-5rY {
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 70.6rem 1rem 0rem;
      width: 34.1rem;
    }
    .your-account-items-Ad6 {
      margin: 3.2rem 0rem 2.35rem 0rem;
      height: calc(100% - 5.55rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-6-HSp {
        justify-content: center;
        background-color: #60fd00;
        border-radius: 2.5rem;
        margin: 0.05rem 1.6rem 0rem 0rem;
        height: 2.4rem;
        white-space: nowrap;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        overflow: hidden;
        position: relative;
        font-size: 1.1rem;
        font-weight: 400;
        width: 20.2rem;
        line-height: 1.3999999653;
        color: #23263b;
        flex-shrink: 0;
      }
      .frame-3-kbJ {
        padding: 0 2.5rem;
        flex-shrink: 0;
        font-family: Lato, 'Source Sans Pro';
        background-color: #556ab7;
        font-size: 1rem;
        box-sizing: border-box;
        height: 2.2rem;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-weight: 800;
        line-height: 2.4097223282;
        color: #ffffff;
        white-space: nowrap;
        border-radius: 0.4819rem;
      }
    }
  }
}
