
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pesan-ke-suplier-RZ2 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0.2rem 18.1rem 0rem 0rem;
  width: 100%;

  .frame-1321314413-8iL {
    width: 24.2rem;
    height: 102.2rem;
    overflow: hidden;
    margin-right: 10.2rem;
    box-sizing: border-box;
    padding: 7rem 0rem 1.2rem 0rem;
    position: relative;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
    flex-shrink: 0;

    .frame-54-eAt {
      box-sizing: border-box;
      padding: 6.2rem 4rem 6.2rem 6.5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);

      .frame-n2C {
        width: 100%;
        row-gap: 1.2rem;
        border-radius: 2rem;
        box-sizing: border-box;
        padding-bottom: 7.9rem;
        height: 34.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .text-JWL {
          white-space: nowrap;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          width: 100%;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          color: #1c1c1c;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 400;
          border-radius: 0.8rem;
          flex-shrink: 0;
        }
        .content-ztx {
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .icon-text-k7S {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .text-gmn {
              white-space: nowrap;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
              width: 100%;
              height: 100%;
            }
          }
        }
        .content-Zqa {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;

          .text-iTa {
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            line-height: 1.4285714286;
            color: #0f0000;
          }
        }
        .content-oE8 {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-k9N {
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            width: 12.9rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: #0f0000;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
          }
        }
        .content-qwW {
          height: 4.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .text-PTE {
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;
            margin-right: 0.8rem;

            .riwayat-barang-masuk-wDr {
              font-family: Inter, 'Source Sans Pro';
              max-width: 10.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
            }
          }
        }
        .content-2m6 {
          height: 4.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .text-Pbe {
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;

            .buat-pesanan-ke-suplier-9qi {
              font-family: Inter, 'Source Sans Pro';
              max-width: 11.2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
            }
          }
        }
      }
    }
  }
  .auto-group-a6gg-Mgt {
    position: relative;
    flex-shrink: 0;
    margin-top: 2.2rem;
    width: 91.5rem;
    height: 97rem;

    .payment-6eU {
      overflow: hidden;
      background-color: #ffffff;
      border-radius: 2rem;
      width: 90.5rem;
      height: 97rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-3-2o2 {
        height: 99rem;
        position: absolute;
        left: 1rem;
        top: 6.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 3rem;
        width: 90.5rem;
      }
      .metode-pembayaran-kj2 {
        position: absolute;
        left: 3.6rem;
        top: 17.7rem;
        font-size: 1.8rem;
        width: 19.4rem;
        font-weight: 500;
        line-height: 1.2175;
        letter-spacing: 0.02rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.2rem;
      }
      .payment-methods-Eu6 {
        left: 3.6rem;
        top: 22.9rem;
        display: flex;
        align-items: center;
        width: 31.3511rem;
        height: 6.6rem;
        position: absolute;

        .payment-1-AXr {
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 0.9489rem;
          box-sizing: border-box;
          padding: 0.8rem 1.499rem 0.8rem 1.713rem;

          .credit-card-V4L {
            width: 6.6388rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .payment-2-P9i {
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 0.8489rem;
          box-sizing: border-box;
          padding: 0.8rem 2.679rem 0.8rem 2.883rem;
          height: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;

          .paypal-uNx {
            vertical-align: top;
            width: 4.2891rem;
            height: 5rem;
            object-fit: contain;
          }
        }
        .payment-3-coA {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 0.86rem 0.8rem 0.9rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 0.8rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .dan-mAG {
            width: 8.0908rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .nomor-rekening-nomor-dana-syz {
        top: 31.3rem;
        line-height: 1.2175;
        color: #3a3c3f;
        font-family: Montserrat, 'Source Sans Pro';
        width: 16.3rem;
        height: 4.4rem;
        left: 3.5rem;
        position: absolute;
        font-size: 1.8rem;
        font-weight: 500;
      }
      .rectangle-24-BDz {
        width: 36rem;
        height: 5.5rem;
        position: absolute;
        left: 3.8rem;
        top: 36.8rem;
        background-color: #eef1f4;
        border-radius: 0.8rem;
      }
      .card-number-6br {
        top: 43.5rem;
        border-radius: 0.8rem;
        width: 35.7rem;
        height: 9.25rem;
        position: absolute;
        left: 3.9rem;

        .nama-pemesan-supplier-ETA {
          font-weight: 500;
          line-height: 1.2175;
          color: #3a3c3f;
          font-family: Montserrat, 'Source Sans Pro';
          margin: 0rem 0rem 0.1rem 0.1rem;
          max-width: 15.3rem;
          font-size: 1.8rem;
        }
        .rectangle-24-YTr {
          width: 100%;
          height: 4.75rem;
          background-color: #eef1f4;
          border-radius: 0.8rem;
        }
      }
      .expiry-date-HgL {
        width: 35.1rem;
        height: 8.6rem;
        position: absolute;
        left: 3.9rem;
        top: 54.2rem;
        border-radius: 0.8rem;

        .nomor-telp-wa-cic {
          color: #3a3c3f;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.9rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2175;
        }
        .rectangle-25-YMN {
          background-color: #eef1f4;
          border-radius: 0.8rem;
          width: 100%;
          height: 5.5rem;
        }
      }
      .cvv-UVv {
        width: 36rem;
        height: 12.1672rem;
        position: absolute;
        left: 3.1rem;
        top: 67.4rem;
        border-radius: 0.8rem;

        .alamat-pJt {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #3a3c3f;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.6rem 0.6rem;
        }
        .rectangle-26-AGG {
          border-radius: 0.8rem;
          width: 100%;
          height: 9.3672rem;
          background-color: #eef1f4;
        }
      }
      .product-card-6vc {
        background-color: #fcfcfc;
        box-sizing: border-box;
        padding: 0.8rem 1.6rem 0.5rem 0.8rem;
        width: 28.8rem;
        height: 53.1rem;
        top: 14.3rem;
        flex-direction: column;
        position: absolute;
        left: 51.5rem;
        align-items: center;
        display: flex;
        box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
        border-radius: 1.2rem;

        .frame-7-zm6 {
          margin-bottom: 0.2rem;
          width: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;

          .image-2-kkG {
            width: 26.4rem;
            height: 26.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .frame-15-tLg {
          flex-shrink: 0;
          margin: 0rem 0.7rem 0rem 1.3rem;
          width: calc(100% - 2rem);
          display: flex;
          flex-direction: column;

          .pesan-telur-dengan-jumlah-diinginkan-DNx {
            flex-shrink: 0;
            display: flex;
            line-height: 1.2;
            font-size: 2rem;
            font-weight: 400;
            color: #00171f;
            font-family: Basic, 'Source Sans Pro';
            margin-bottom: 1.5rem;
            max-width: 24.4rem;
          }
          .auto-group-t6ti-iqW {
            width: 22.4rem;
            height: 18.9rem;
            position: relative;
            flex-shrink: 0;

            .frame-2609047-UJt {
              width: 22.4rem;
              height: 11.1rem;
              position: absolute;
              left: 0;
              top: 7.8rem;

              .harga-yang-harus-dibayar-1pc {
                font-family: Basic, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.5rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.26;
                color: #232321;
              }
              .frame-1429-Lbz {
                width: 13.3rem;
                height: 7rem;

                .input-initial-HXE {
                  align-items: center;
                  border: solid 0.1rem #232321;
                  box-sizing: border-box;
                  line-height: 1.2125;
                  letter-spacing: 0.05rem;
                  color: #1f1a24;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  justify-content: center;
                  margin-bottom: 2.2rem;
                  width: 100%;
                  height: 4.8rem;
                  font-weight: 400;
                  font-size: 1.6rem;
                  display: flex;
                  border-radius: 0.8rem;
                }
              }
            }
            .kg-Yi4 {
              color: #232321;
              top: 0.9rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.26;
              font-family: Basic, 'Source Sans Pro';
              white-space: nowrap;
              width: 2.3rem;
              height: 2.6rem;
              position: absolute;
              left: 14.4rem;
            }
            .frame-1429-Ta8 {
              width: 13.3rem;
              height: 7rem;
              position: absolute;
              left: 0;
              top: 0;

              .input-initial-PTn {
                border-radius: 0.8rem;
                margin-bottom: 2.2rem;
                box-sizing: border-box;
                padding: 0.8rem 1.6rem;
                width: 100%;
                height: 4.8rem;
                border: solid 0.1rem #232321;

                .placeholder-KMS {
                  max-width: 6.7rem;
                  font-size: 1.3rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  letter-spacing: 0.05rem;
                  color: rgba(31, 26, 36, 0.5);
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
        }
      }
      .frame-115-XiQ {
        background-color: #43c522;
        height: 5rem;
        line-height: 1.5625000773;
        color: #ffffff;
        display: flex;
        white-space: nowrap;
        border: solid 0.0964rem #333333;
        box-sizing: border-box;
        border-radius: 0.4819rem;
        cursor: pointer;
        position: absolute;
        left: 25.1rem;
        text-align: center;
        width: 19.1rem;
        overflow: hidden;
        font-family: Lato, 'Source Sans Pro';
        justify-content: center;
        top: 81.5rem;
        font-size: 1.5422rem;
        font-weight: 800;
        align-items: center;
      }
      .frame-116-7gc {
        line-height: 1.5625000773;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #ff0000;
        border-radius: 0.4819rem;
        overflow: hidden;
        text-align: center;
        font-weight: 800;
        font-family: Lato, 'Source Sans Pro';
        display: flex;
        width: 19.1rem;
        height: 5rem;
        cursor: pointer;
        left: 3.1rem;
        font-size: 1.5422rem;
        color: #ffffff;
        border: solid 0.0964rem #333333;
        position: absolute;
        top: 81.5rem;
        white-space: nowrap;
      }
    }
    .title-page-xSL {
      left: 1rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.02rem;
      white-space: nowrap;
      padding: 5.5rem 5.5rem 2rem 5.5rem;
      height: 9.5rem;
      position: absolute;
      line-height: 0.5;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 90.5rem;
      font-size: 4rem;
      font-family: Montserrat, 'Source Sans Pro';
      top: 0;
      color: #000000;
    }
  }
}
