
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.riwayat-EhE {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');

  .header-top-zRW {
    width: 100%;
    height: 8rem;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 2.2rem 0rem 4.3rem;
    display: flex;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');

    .rectangle-56-icQ {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 58.4rem 1rem 0rem;
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
    }
    .your-account-items-qh2 {
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;
      column-gap: 1.6rem;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-6-MfN {
        font-weight: 400;
        line-height: 1.3999999653;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        overflow: hidden;
        justify-content: center;
        background-color: #60fd00;
        border-radius: 2.5rem;
        height: 2.4rem;
        width: 20.2rem;
        color: #23263b;
        margin-top: 0.1rem;
        font-size: 1.1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: relative;
      }
      .frame-3-SB2 {
        box-sizing: border-box;
        padding: 0 4.2rem;
        position: relative;
        text-align: center;
        background-color: #556ab7;
        border-radius: 0.4819rem;
        white-space: nowrap;
        margin-top: 0.05rem;
        height: 2.2rem;
        overflow: hidden;
        color: #ffffff;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 800;
        line-height: 2.4097223282;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .frame-3-hse {
        font-size: 1rem;
        color: #ffffff;
        background-color: #ff0000;
        padding: 0 3.8rem;
        cursor: pointer;
        text-align: center;
        font-weight: 800;
        border-radius: 0.4819rem;
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 2.2rem;
        position: relative;
        line-height: 2.4097223282;
        font-family: Lato, 'Source Sans Pro';
        overflow: hidden;
      }
    }
  }
  .auto-group-kcmv-Nyn {
    flex-shrink: 0;
    margin-right: 4.6rem;
    width: calc(100% - 4.6rem);
    height: 94.6rem;
    display: flex;
    align-items: center;

    .frame-2609093-uip {
      height: 100%;
      position: relative;
      overflow: hidden;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      flex-shrink: 0;
      margin-right: 4.4rem;
      width: 24.2rem;

      .frame-3KE {
        row-gap: 0.4rem;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 22.3rem;
        width: 13.7rem;
        height: 34.7rem;
        left: 6.6rem;
        border-radius: 2rem;
        position: absolute;
        top: 6.9rem;
        display: flex;

        .text-kDe {
          color: rgba(28, 28, 28, 0.400000006);
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
        }
        .content-FRJ {
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;

          .icon-text-QJC {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .text-x4p {
              border-radius: 0.8rem;
              width: 100%;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
        .content-rR6 {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .text-or8 {
            width: 12.9rem;
            height: 100%;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #0f0000;
            white-space: nowrap;
          }
        }
        .content-iiC {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          background-color: rgba(2, 2, 2, 0.0599999987);

          .text-t6t {
            font-size: 1.4rem;
            line-height: 1.4285714286;
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            font-weight: 400;
            color: #0f0000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .frame-54-NGx {
        box-sizing: border-box;
        top: 7rem;
        background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
        padding: 6.9rem 3.9rem 6.9rem 6.6rem;
        width: 24.2rem;
        height: 94rem;
        position: absolute;
        left: 0;
        overflow: hidden;

        .frame-tm6 {
          box-sizing: border-box;
          height: 34.7rem;
          flex-direction: column;
          border-radius: 2rem;
          padding-bottom: 22.3rem;
          width: 100%;
          row-gap: 0.4rem;
          align-items: center;
          display: flex;

          .text-dig {
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 0.8rem;
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 1.2rem;
            width: 100%;
            font-size: 1.4rem;
            color: #1c1c1c;
          }
          .content-9h2 {
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;

            .icon-text-hTe {
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;

              .text-eNt {
                width: 100%;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4285714286;
                color: #0f0000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                border-radius: 0.8rem;
              }
            }
          }
          .content-wct {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;
            height: 2.8rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;

            .text-JCY {
              margin-right: 0.8rem;
              width: 12.9rem;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
              height: 100%;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              white-space: nowrap;
            }
          }
          .content-zLG {
            height: 2.8rem;
            border: solid 0.1rem #000000;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0;
            width: 100%;

            .text-YMn {
              line-height: 1.4285714286;
              color: #0f0000;
              white-space: nowrap;
              margin-right: 0.8rem;
              width: 12.9rem;
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.8rem;
            }
          }
        }
      }
    }
    .frame-2609092-YWC {
      padding: 7.3rem 6.9rem 8rem 6.8rem;
      align-items: center;
      flex-shrink: 0;
      height: calc(100% - 11.9rem);
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 2rem;
      margin: 3.8rem 0rem 8.1rem 0rem;
      box-sizing: border-box;
      width: 110.8rem;

      .riwayat-pengiriman-eJL {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
        line-height: 0.5;
        letter-spacing: 0.02rem;
        color: #000000;
        margin: 0rem 0.4rem 7.3rem 0rem;
        font-size: 4rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .frame-695-MCk {
        padding-bottom: 4.1rem;
        width: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;
        background-color: #ffffff;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #ebebee;

        .frame-702-6g8 {
          margin-bottom: 1.1rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 7.6rem;
          width: 100%;
          height: 5.6rem;
          border: solid 0.1rem #cecece;

          .frame-696-q7v {
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 0.016rem;
            align-items: center;
            justify-content: center;
            border: solid 0.1rem #cecece;
            box-sizing: border-box;
            width: 25rem;
            color: rgba(73, 69, 79, 0.8000000119);
            font-family: Outfit, 'Source Sans Pro';
            position: relative;
            line-height: 1.26;
            white-space: nowrap;
            display: flex;
            margin-right: 6.8rem;
            height: 100%;
            overflow: hidden;
            font-weight: 400;
            flex-shrink: 0;
          }
          .frame-697-hfv {
            width: 20.9rem;
            line-height: 1.26;
            align-items: center;
            border: solid 0.1rem #cecece;
            margin-right: 6.8rem;
            font-weight: 400;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            box-sizing: border-box;
            flex-shrink: 0;
            font-size: 1.6rem;
            overflow: hidden;
            position: relative;
            text-align: center;
            display: flex;
            height: 100%;
            color: rgba(73, 69, 79, 0.8000000119);
            letter-spacing: 0.016rem;
          }
          .frame-698-bFW {
            align-items: center;
            margin-right: 10.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: rgba(73, 69, 79, 0.8000000119);
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            width: 15rem;
            position: relative;
            text-align: center;
            letter-spacing: 0.016rem;
            justify-content: center;
            box-sizing: border-box;
            height: 100%;
            border: solid 0.1rem #cecece;
            overflow: hidden;
            line-height: 1.26;
            display: flex;
            flex-shrink: 0;
          }
          .frame-708-5Ra {
            overflow: hidden;
            position: relative;
            line-height: 1.26;
            justify-content: center;
            flex-shrink: 0;
            margin: 1.8rem 0rem 1.7rem 0rem;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Outfit, 'Source Sans Pro';
            width: 4.6rem;
            color: rgba(73, 69, 79, 0.8999999762);
            white-space: nowrap;
            height: calc(100% - 3.5rem);
            letter-spacing: 0.016rem;
            display: flex;
            align-items: center;
          }
        }
        .frame-703-LsJ {
          padding: 1.8rem 7.4rem 1.7rem 2.4rem;
          width: 100%;
          height: 5.6rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          box-sizing: border-box;

          .frame-696-UCp {
            white-space: nowrap;
            display: flex;
            margin-right: 26.4rem;
            width: 8.8rem;
            overflow: hidden;
            font-size: 1.6rem;
            line-height: 1.26;
            color: rgba(34, 34, 34, 0.8999999762);
            height: 100%;
            font-weight: 400;
            justify-content: center;
            letter-spacing: 0.016rem;
            flex-shrink: 0;
            position: relative;
            font-family: Outfit, 'Source Sans Pro';
            align-items: center;
          }
          .frame-697-Zk4 {
            align-items: center;
            justify-content: center;
            height: 100%;
            letter-spacing: 0.016rem;
            margin-right: 15.4rem;
            position: relative;
            font-weight: 400;
            line-height: 1.26;
            color: rgba(34, 34, 34, 0.8999999762);
            font-family: Outfit, 'Source Sans Pro';
            display: flex;
            flex-shrink: 0;
            overflow: hidden;
            font-size: 1.6rem;
            width: 9rem;
            white-space: nowrap;
          }
          .frame-698-TaY {
            line-height: 1.26;
            color: rgba(34, 34, 34, 0.8999999762);
            display: flex;
            font-weight: 400;
            align-items: center;
            justify-content: center;
            margin-right: 11.6rem;
            overflow: hidden;
            position: relative;
            text-align: center;
            height: 100%;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 10.1rem;
            font-size: 1.6rem;
            letter-spacing: 0.016rem;
          }
          .frame-707-Zda {
            color: rgba(14, 173, 105, 0.8999999762);
            justify-content: center;
            width: 6rem;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
            font-weight: 400;
            letter-spacing: 0.016rem;
            font-family: Outfit, 'Source Sans Pro';
            position: relative;
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.26;
          }
        }
        .frame-707-4KS {
          height: 5.6rem;
          align-items: center;
          padding: 1.8rem 5.4rem 1.7rem 2.4rem;
          width: 100%;
          display: flex;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          margin-bottom: 31.3rem;
          box-sizing: border-box;

          .frame-696-BQ4 {
            width: 8.2rem;
            height: 100%;
            font-weight: 400;
            color: rgba(34, 34, 34, 0.8999999762);
            align-items: center;
            flex-shrink: 0;
            position: relative;
            font-family: Outfit, 'Source Sans Pro';
            justify-content: center;
            margin-right: 26.2rem;
            overflow: hidden;
            font-size: 1.6rem;
            line-height: 1.26;
            white-space: nowrap;
            display: flex;
            letter-spacing: 0.016rem;
          }
          .frame-697-VQk {
            margin-right: 15.3rem;
            font-family: Outfit, 'Source Sans Pro';
            justify-content: center;
            flex-shrink: 0;
            position: relative;
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 0.016rem;
            color: rgba(34, 34, 34, 0.8999999762);
            width: 10.8rem;
            height: 100%;
            overflow: hidden;
            font-weight: 400;
            line-height: 1.26;
            display: flex;
            white-space: nowrap;
            align-items: center;
          }
          .frame-698-zsJ {
            overflow: hidden;
            letter-spacing: 0.016rem;
            color: rgba(34, 34, 34, 0.8999999762);
            flex-shrink: 0;
            justify-content: center;
            margin-right: 12.7rem;
            width: 8.1rem;
            height: 100%;
            font-weight: 400;
            font-family: Outfit, 'Source Sans Pro';
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            position: relative;
            line-height: 1.26;
            white-space: nowrap;
          }
          .frame-708-7S8 {
            line-height: 1.26;
            letter-spacing: 0.016rem;
            font-family: Outfit, 'Source Sans Pro';
            height: 100%;
            white-space: nowrap;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            position: relative;
            overflow: hidden;
            color: rgba(193, 11, 14, 0.8000000119);
            width: 8rem;
          }
        }
        .pagination-opk {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.8rem 0rem 79rem;
          box-sizing: border-box;
          padding: 1.16rem 1.8rem 1.16rem 2.057rem;
          width: calc(100% - 81.8rem);
          display: flex;

          .bold-arrows-alt-arrow-left-86L {
            height: 2.48rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 8.8714rem;
            width: 1.3714rem;
          }
          .bold-arrows-alt-arrow-right-eKa {
            width: 1.2rem;
            height: 2.48rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
