
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.riwayat-pesanan-Ri8 {
  padding-right: 4.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fafbff;
  box-sizing: border-box;

  .frame-1321314413-kkQ {
    position: relative;
    margin: 0rem 2.1rem 0.2rem 0rem;
    padding: 7rem 0rem 1.2rem 0rem;
    height: 102.2rem;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
    flex-shrink: 0;
    box-sizing: border-box;
    width: 24.2rem;

    .frame-54-FSG {
      padding: 6.2rem 4rem 6.2rem 6.5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
      box-sizing: border-box;

      .frame-zPr {
        padding-bottom: 9.9rem;
        width: 100%;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        height: 34.7rem;
        row-gap: 1.2rem;
        display: flex;
        border-radius: 2rem;

        .text-v2c {
          color: #1c1c1c;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 100%;
          font-weight: 400;
          line-height: 1.4285714286;
        }
        .content-1pk {
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-text-mJ8 {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .text-hxU {
              height: 100%;
              font-weight: 400;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              border-radius: 0.8rem;
            }
          }
        }
        .content-zAt {
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;

          .text-YTJ {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            height: 100%;
            font-size: 1.4rem;
            color: #0f0000;
            width: 12.9rem;
            font-weight: 400;
            line-height: 1.4285714286;
          }
        }
        .content-pvc {
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .text-z4Q {
            margin-right: 0.8rem;
            height: 100%;
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            width: 12.9rem;
            font-size: 1.4rem;
            color: #0f0000;
          }
        }
        .content-5be {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 4.8rem;
          cursor: pointer;
          border: solid 0.1rem #000000;

          .text-dNG {
            margin-right: 0.8rem;
            width: 12.9rem;
            height: 100%;
            border-radius: 0.8rem;

            .riwayat-barang-masuk-Beg {
              max-width: 10.7rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4285714286;
              color: #0f0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .content-Utg {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0;
          width: 100%;
          height: 2.8rem;
          border: solid 0.1rem #000000;

          .text-qjE {
            white-space: nowrap;
            border-radius: 0.8rem;
            margin-right: 0.8rem;
            width: 12.9rem;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.4285714286;
            color: #0f0000;
            height: 100%;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .auto-group-6irn-SDE {
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 5.7rem;
    display: flex;

    .auto-group-neks-nH6 {
      height: 10.6rem;
      display: flex;
      column-gap: 5.4rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 7.1rem;

      .frame-58-Wit {
        width: 22.1rem;
        overflow: hidden;
        border: solid 0.1rem #f3f4f6;
        position: relative;
        background-color: #dcfaed;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        box-sizing: border-box;
        padding: 1.6rem 1.6rem 2.4rem 1.6rem;

        .total-pendapatan-2x8 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
        }
        .rp100000000-Yfa {
          line-height: 1.26;
          color: #0ead69;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.2rem;
          font-weight: 500;
        }
      }
      .frame-1321314409-qPn {
        display: flex;
        border-radius: 0.5rem;
        margin: 0.2rem 0rem 0.1rem 0rem;
        padding: 1.6rem 1.1rem 2.4rem 1.6rem;
        position: relative;
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #f3f4f6;
        background-color: #dcfaed;
        flex-shrink: 0;
        box-sizing: border-box;
        height: calc(100% - 0.3rem);
        overflow: hidden;

        .total-pendapatan-bulan-ini-Bc4 {
          white-space: nowrap;
          font-size: 1.6rem;
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
          letter-spacing: 0.016rem;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          font-weight: 400;
          line-height: 1.26;
        }
        .rp100000000-Hf6 {
          margin-right: 2.9rem;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.26;
          color: #0ead69;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .frame-1321314410-CGG {
        padding: 1.6rem 2.1rem 2.4rem 1.6rem;
        border-radius: 0.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #f3f4f6;
        margin-top: 0.3rem;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        background-color: #dcfaed;
        flex-shrink: 0;

        .total-pendapatan-hari-ini-78L {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.26;
          letter-spacing: 0.016rem;
          white-space: nowrap;
          margin-bottom: 1.4rem;
          color: rgba(34, 34, 34, 0.8999999762);
          font-family: Outfit, 'Source Sans Pro';
        }
        .rp100000000-dMa {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.9rem;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.26;
          color: #0ead69;
          font-family: Outfit, 'Source Sans Pro';
        }
      }
    }
    .frame-1321314411-vrU {
      margin-left: 0.6rem;
      width: 113rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .riwayat-pesanan-GvL {
        line-height: 1.26;
        color: rgba(73, 69, 79, 0.8000000119);
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.2rem;
        display: flex;
        font-size: 5rem;
        font-weight: 500;
      }
      .frame-695-o9a {
        overflow: hidden;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 1.2rem;
        background-color: #ffffff;
        width: 100%;
        position: relative;
        align-items: center;
        display: flex;
        border: solid 0.1rem #ebebee;

        .frame-702-kac {
          box-sizing: border-box;
          padding-right: 31.6rem;
          width: 100%;
          height: 5.6rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #cecece;
          flex-shrink: 0;

          .frame-696-5sn {
            width: 25rem;
            font-size: 1.6rem;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            text-align: center;
            font-weight: 400;
            line-height: 1.26;
            letter-spacing: 0.016rem;
            color: rgba(73, 69, 79, 0.8000000119);
            white-space: nowrap;
            display: flex;
            justify-content: center;
            border: solid 0.1rem #cecece;
            align-items: center;
            height: 100%;
            font-family: Outfit, 'Source Sans Pro';
            box-sizing: border-box;
          }
          .frame-697-kj2 {
            width: 20.9rem;
            text-align: center;
            box-sizing: border-box;
            font-family: Outfit, 'Source Sans Pro';
            border: solid 0.1rem #cecece;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 100%;
            line-height: 1.26;
            letter-spacing: 0.016rem;
            font-weight: 400;
            color: rgba(73, 69, 79, 0.8000000119);
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            font-size: 1.6rem;
          }
          .frame-698-qEg {
            font-weight: 400;
            display: flex;
            border: solid 0.1rem #cecece;
            text-align: center;
            font-size: 1.6rem;
            font-family: Outfit, 'Source Sans Pro';
            align-items: center;
            box-sizing: border-box;
            color: rgba(73, 69, 79, 0.8000000119);
            white-space: nowrap;
            flex-shrink: 0;
            letter-spacing: 0.016rem;
            justify-content: center;
            width: 15rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            line-height: 1.26;
          }
          .frame-699-vmv {
            overflow: hidden;
            color: rgba(73, 69, 79, 0.8000000119);
            font-family: Outfit, 'Source Sans Pro';
            box-sizing: border-box;
            height: 100%;
            font-size: 1.6rem;
            font-weight: 400;
            display: flex;
            justify-content: center;
            position: relative;
            text-align: center;
            white-space: nowrap;
            flex-shrink: 0;
            width: 20.5rem;
            line-height: 1.26;
            letter-spacing: 0.016rem;
            align-items: center;
            border: solid 0.1rem #cecece;
          }
        }
        .auto-group-chwv-1oN {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 0rem 27.5rem 0rem;
          width: 100%;
          row-gap: 3.2rem;
          display: flex;
          flex-direction: column;

          .frame-703-YHW {
            box-sizing: border-box;
            padding: 1.8rem 6.4rem 1.7rem 2.4rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .frame-696-TfN {
              font-weight: 400;
              color: rgba(34, 34, 34, 0.8999999762);
              display: flex;
              letter-spacing: 0.016rem;
              font-family: Outfit, 'Source Sans Pro';
              align-items: center;
              margin-right: 22.6rem;
              width: 5.8rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              font-size: 1.6rem;
              line-height: 1.26;
              justify-content: center;
              white-space: nowrap;
            }
            .frame-697-ZCc {
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              line-height: 1.26;
              color: rgba(34, 34, 34, 0.8999999762);
              font-family: Outfit, 'Source Sans Pro';
              margin-right: 8.2rem;
              height: 100%;
              overflow: hidden;
              letter-spacing: 0.016rem;
              position: relative;
              display: flex;
              flex-shrink: 0;
              width: 10.3rem;
              font-size: 1.6rem;
            }
            .frame-698-SXJ {
              letter-spacing: 0.016rem;
              color: rgba(34, 34, 34, 0.8999999762);
              position: relative;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 8.2rem;
              font-weight: 400;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 9.8rem;
              height: 100%;
              overflow: hidden;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1.26;
            }
            .frame-699-Y4Y {
              line-height: 1.26;
              align-items: center;
              width: 7.7rem;
              overflow: hidden;
              position: relative;
              font-size: 1.6rem;
              font-weight: 400;
              color: rgba(34, 34, 34, 0.8999999762);
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
              letter-spacing: 0.016rem;
              justify-content: center;
              height: 100%;
              text-align: center;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-704-eNU {
            padding: 1.8rem 6.2rem 1.7rem 2.4rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-696-B7W {
              line-height: 1.26;
              color: rgba(34, 34, 34, 0.8999999762);
              font-family: Outfit, 'Source Sans Pro';
              height: 100%;
              font-weight: 400;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              overflow: hidden;
              letter-spacing: 0.016rem;
              white-space: nowrap;
              margin-right: 21.8rem;
              width: 4.3rem;
              position: relative;
              font-size: 1.6rem;
            }
            .frame-697-gKA {
              width: 13.8rem;
              font-weight: 400;
              line-height: 1.26;
              color: rgba(34, 34, 34, 0.8999999762);
              justify-content: center;
              flex-shrink: 0;
              position: relative;
              text-align: center;
              font-size: 1.6rem;
              white-space: nowrap;
              display: flex;
              align-items: center;
              margin-right: 7.9rem;
              height: 100%;
              overflow: hidden;
              letter-spacing: 0.016rem;
              font-family: Outfit, 'Source Sans Pro';
            }
            .frame-698-Ak8 {
              margin-right: 10.4rem;
              height: 100%;
              text-align: center;
              overflow: hidden;
              font-weight: 400;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              width: 6.5rem;
              font-size: 1.6rem;
              letter-spacing: 0.016rem;
              display: flex;
              position: relative;
              line-height: 1.26;
              color: rgba(34, 34, 34, 0.8999999762);
              justify-content: center;
              flex-shrink: 0;
            }
            .frame-699-TjE {
              text-align: center;
              letter-spacing: 0.016rem;
              color: rgba(34, 34, 34, 0.8999999762);
              font-family: Outfit, 'Source Sans Pro';
              width: 8.1rem;
              position: relative;
              line-height: 1.26;
              white-space: nowrap;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              overflow: hidden;
              font-size: 1.6rem;
              font-weight: 400;
              display: flex;
              justify-content: center;
            }
          }
          .frame-705-ZnG {
            padding: 1.8rem 6.7rem 1.7rem 2.4rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-696-hNg {
              flex-shrink: 0;
              margin-right: 22.1rem;
              width: 4.1rem;
              height: 100%;
              font-size: 1.6rem;
              font-family: Outfit, 'Source Sans Pro';
              justify-content: center;
              position: relative;
              line-height: 1.26;
              display: flex;
              overflow: hidden;
              white-space: nowrap;
              align-items: center;
              font-weight: 400;
              letter-spacing: 0.016rem;
              color: rgba(34, 34, 34, 0.8999999762);
            }
            .frame-697-zsa {
              justify-content: center;
              margin-right: 7.5rem;
              position: relative;
              color: rgba(34, 34, 34, 0.8999999762);
              line-height: 1.26;
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 13.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              overflow: hidden;
              text-align: center;
              white-space: nowrap;
              height: 100%;
              letter-spacing: 0.016rem;
            }
            .frame-698-uUk {
              height: 100%;
              position: relative;
              letter-spacing: 0.016rem;
              justify-content: center;
              width: 7.3rem;
              font-size: 1.6rem;
              line-height: 1.26;
              color: rgba(34, 34, 34, 0.8999999762);
              margin-right: 10.5rem;
              overflow: hidden;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
              align-items: center;
            }
            .frame-699-cPA {
              font-family: Outfit, 'Source Sans Pro';
              justify-content: center;
              line-height: 1.26;
              letter-spacing: 0.016rem;
              flex-shrink: 0;
              width: 7.1rem;
              white-space: nowrap;
              height: 100%;
              font-weight: 400;
              text-align: center;
              font-size: 1.6rem;
              color: rgba(34, 34, 34, 0.8999999762);
              display: flex;
              align-items: center;
              overflow: hidden;
              position: relative;
            }
          }
        }
      }
    }
  }
}
