
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tampilan-setelah-login-uHz {
  flex-direction: column;
  width: 100%;
  position: relative;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');
  overflow: hidden;
  align-items: flex-end;

  .header-top-39J {
    padding: 0rem 2.4rem 0rem 4.3rem;
    display: flex;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    align-items: center;

    .rectangle-56-kpQ {
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 47.2rem 1rem 0rem;
      width: 34.1rem;
    }
    .your-account-items-5Lt {
      margin: 2.3rem 0rem 3.2rem 0rem;
      height: calc(100% - 5.5rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-6-zTr {
        font-size: 1.1rem;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        background-color: #60fd00;
        width: 20.2rem;
        overflow: hidden;
        border-radius: 2.5rem;
        height: 2.4rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.1rem 1.6rem 0rem 0rem;
        line-height: 1.3999999653;
        white-space: nowrap;
        position: relative;
        color: #23263b;
      }
      .frame-3-Feg {
        position: relative;
        font-weight: 800;
        background-color: #556ab7;
        flex-shrink: 0;
        height: 2.2rem;
        font-family: Lato, 'Source Sans Pro';
        border-radius: 0.4819rem;
        margin: 0.05rem 0.9rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0 4.2rem;
        text-align: center;
        font-size: 1rem;
        color: #ffffff;
        cursor: pointer;
        overflow: hidden;
        line-height: 2.4097223282;
        white-space: nowrap;
      }
      .frame-7-PeQ {
        cursor: pointer;
        font-size: 1rem;
        border-radius: 0.4819rem;
        overflow: hidden;
        position: relative;
        font-weight: 800;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        padding: 0 2.8rem;
        height: 2.2rem;
        line-height: 2.4097223282;
        color: #ffffff;
        margin-right: 0.9rem;
        box-sizing: border-box;
        text-align: center;
        background-color: #3b9e74;
      }
      .frame-3-UA4 {
        cursor: pointer;
        border-radius: 0.4819rem;
        padding: 0 3.85rem;
        position: relative;
        text-align: center;
        font-size: 1rem;
        font-weight: 800;
        line-height: 2.4097223282;
        background-color: #ff0000;
        flex-shrink: 0;
        overflow: hidden;
        color: #ffffff;
        height: 2.2rem;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
      }
    }
  }
  .auto-group-nvoj-XPE {
    box-sizing: border-box;
    padding: 6.2rem 13.7rem 2.3rem 9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .frame-7-TGt {
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 7.3rem;
      width: 53.4rem;
      height: 45.7rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;

      .maroon-and-white-photo-heavy-faminepoverty-crisis-hub-facebook-post-1-bdz {
        object-fit: contain;
        vertical-align: top;
        width: 70.9rem;
        height: 50.1rem;
      }
    }
    .frame-4-J2c {
      position: relative;
      border-radius: 1rem;
      flex-shrink: 0;
      align-items: center;
      margin-left: 4.7rem;
      box-sizing: border-box;
      padding: 1.3rem 7.8rem 1.619rem 7.8rem;
      height: 20rem;
      overflow: hidden;
      display: flex;
      column-gap: 15.55rem;
      background-color: #ffffff;

      .group-111-MFn {
        flex-direction: column;
        flex-shrink: 0;
        width: 23.3rem;
        height: 100%;
        align-items: center;
        display: flex;

        .rectangle-49-5xU {
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          width: 23.3rem;
          height: 7rem;
        }
        .telur-ayam-pQG {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 700;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          margin: 0rem 0.229rem 0.2rem 0rem;
          text-align: center;
          line-height: 1.5;
        }
        .kg-vCQ {
          font-family: Montserrat, 'Source Sans Pro';
          margin: 0rem 0.794rem 1.181rem 0rem;
          text-align: center;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          color: #727272;
          white-space: nowrap;
        }
        .frame-3-poa {
          justify-content: center;
          background-color: #55b76b;
          margin: 0rem 7.05rem 0rem 6.85rem;
          height: 2.2rem;
          text-align: center;
          box-sizing: border-box;
          flex-shrink: 0;
          font-size: 1.5422rem;
          font-weight: 800;
          font-family: Lato, 'Source Sans Pro';
          line-height: 1.5625000773;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          align-items: center;
          width: calc(100% - 13.9rem);
          overflow: hidden;
          position: relative;
          border: solid 0.0964rem #333333;
          border-radius: 0.4819rem;
        }
      }
      .group-112-TrY {
        flex-direction: column;
        flex-shrink: 0;
        width: 23.3rem;
        height: 100%;
        align-items: center;
        display: flex;

        .rectangle-49-ofW {
          border-radius: 2rem;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          width: 23.3rem;
          height: 7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .telur-ayam-6uW {
          text-align: center;
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.229rem 0.2rem 0rem;
          font-size: 1.6rem;
          font-weight: 700;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .kg-zEC {
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.4rem;
          color: #727272;
          font-weight: 700;
          line-height: 1.7142857143;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          margin: 0rem 0.794rem 1.181rem 0rem;
          text-align: center;
        }
        .frame-3-tqN {
          display: flex;
          font-weight: 800;
          position: relative;
          font-size: 1.5422rem;
          line-height: 1.5625000773;
          margin: 0rem 7.05rem 0rem 6.85rem;
          text-align: center;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          align-items: center;
          border: solid 0.0964rem #333333;
          border-radius: 0.4819rem;
          height: 2.2rem;
          overflow: hidden;
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
          background-color: #55b76b;
          flex-shrink: 0;
          width: calc(100% - 13.9rem);
        }
      }
      .group-113-ksa {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 23.3rem;
        height: 100%;
        align-items: center;

        .rectangle-49-ukU {
          height: 7rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          width: 23.3rem;
        }
        .telur-ayam-FZS {
          font-size: 1.6rem;
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.229rem 0.2rem 0rem;
          text-align: center;
          font-weight: 700;
          white-space: nowrap;
        }
        .kg-mXn {
          letter-spacing: 0.02rem;
          white-space: nowrap;
          font-weight: 700;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.7142857143;
          color: #727272;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.794rem 1.181rem 0rem;
        }
        .frame-3-Fhr {
          overflow: hidden;
          text-align: center;
          display: flex;
          height: 2.2rem;
          width: calc(100% - 13.9rem);
          font-size: 1.5422rem;
          line-height: 1.5625000773;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          margin: 0rem 7.05rem 0rem 6.85rem;
          box-sizing: border-box;
          justify-content: center;
          font-weight: 800;
          border: solid 0.0964rem #333333;
          background-color: #55b76b;
          border-radius: 0.4819rem;
          flex-shrink: 0;
          position: relative;
        }
      }
    }
  }
  .frame-5-sjE {
    flex-shrink: 0;
    position: relative;
    align-items: center;
    background: linear-gradient(180deg, #ffeee5 -0%, #0093ff 100%);
    height: 12.9rem;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    padding: 0.3rem 1.6rem 0.3rem 0.85rem;
    width: 144.4rem;

    .ggggggggg-removebg-preview-1-o76 {
      margin: 0rem 8.85rem 1.2rem 0rem;
      width: 23.2rem;
      height: 5.7158rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .alamat-jlki-suro-rt-02-rw-01-kecamatan-pasekankabupaten-indramayujawa-barat-kode-pos-45227-KLL {
      margin: 0rem 15.6rem 1.1rem 0rem;
      max-width: 44.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #23263b;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .tentang-kami-kami-menyediakan-telur-ayam-yang-bermutu-dan-segar-serta-kami-telah-mendistribusikan-telur-ayam-ke-berbagi-tempat-BdS {
      font-weight: 400;
      line-height: 1.3999999762;
      color: #23263b;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      max-width: 49.9rem;
      font-size: 1.6rem;
    }
  }
}
