
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.tampilan-sebelumlogin-hEG {
  overflow: hidden;
  display: flex;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:e2356f3cd6c83ef92164ecdb72e569d35079ab32');
  width: 100%;
  position: relative;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;

  .header-top-JUx {
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e4e5497f9e4aa3725588fee338b8441a5237b0ef');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 2.4rem 0rem 4.3rem;
    height: 8rem;
    display: flex;
    background-size: 100% 100%;
    margin-bottom: 6.2rem;
    width: 100%;

    .rectangle-56-HEQ {
      margin: 0rem 70.6rem 1rem 0rem;
      width: 34.1rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .your-account-items-Zhi {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 3.2rem 0rem 2.35rem 0rem;
      height: calc(100% - 5.55rem);
      display: flex;

      .frame-6-VLU {
        margin: 0.05rem 1.6rem 0rem 0rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        width: 20.2rem;
        overflow: hidden;
        position: relative;
        font-weight: 400;
        line-height: 1.3999999653;
        align-items: center;
        background-color: #60fd00;
        height: 2.4rem;
        color: #23263b;
        white-space: nowrap;
        justify-content: center;
        font-size: 1.1rem;
        border-radius: 2.5rem;
      }
      .frame-3-srp {
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-weight: 800;
        font-family: Lato, 'Source Sans Pro';
        cursor: pointer;
        font-size: 1rem;
        color: #ffffff;
        background-color: #556ab7;
        box-sizing: border-box;
        height: 2.2rem;
        line-height: 2.4097223282;
        border-radius: 0.4819rem;
        padding: 0 2.5rem;
      }
    }
  }
  .frame-7-rik {
    background-color: #ffffff;
    border-radius: 2rem;
    flex-shrink: 0;
    margin: 0rem 0rem 29.6rem 9rem;
    width: 53.4rem;
    height: 45.7rem;
    overflow: hidden;
    position: relative;

    .maroon-and-white-photo-heavy-faminepoverty-crisis-hub-facebook-post-1-aek {
      width: 70.9rem;
      height: 50.1rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .frame-5-G1n {
    height: 12.9rem;
    overflow: hidden;
    display: flex;
    background: linear-gradient(180deg, #ffeee5 -0%, #0093ff 100%);
    box-sizing: border-box;
    padding: 0.3rem 1.6rem 0.3rem 0.85rem;
    width: 144.4rem;
    position: relative;
    align-items: center;
    flex-shrink: 0;

    .ggggggggg-removebg-preview-1-AN4 {
      height: 5.7158rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 8.85rem 1.2rem 0rem;
      width: 23.2rem;
    }
    .alamat-jlki-suro-rt-02-rw-01-kecamatan-pasekankabupaten-indramayujawa-barat-kode-pos-45227-Gfz {
      color: #23263b;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 15.6rem 1.1rem 0rem;
      max-width: 44.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
    }
    .tentang-kami-kami-menyediakan-telur-ayam-yang-bermutu-dan-segar-serta-kami-telah-mendistribusikan-telur-ayam-ke-berbagi-tempat-vEk {
      margin-bottom: 1.1rem;
      max-width: 49.9rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3999999762;
      color: #23263b;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
}
