
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dasbor-xPi {
  box-sizing: border-box;
  padding-right: 2.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #fafbff;
}
.dasbor-xPi .frame-1321314413-Hwn {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 7rem 0rem 1.2rem 0rem;
  width: 24.2rem;
  height: 102.2rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor {
  box-sizing: border-box;
  padding: 6.2rem 4rem 6.2rem 6.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC {
  box-sizing: border-box;
  padding-bottom: 7.9rem;
  width: 100%;
  height: 34.7rem;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .text-UWU {
  box-sizing: border-box;
  padding: 0.4rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #1c1c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-kyn {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4rem;
  border: solid 0.1rem #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-kyn .icon-text-Wi4 {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-kyn .icon-text-Wi4 .text-fax {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-kcQ {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-kcQ .text-7Sx {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-zWk {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-zWk .text-YYG {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-eLQ {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-eLQ .text-bFe {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-eLQ .text-bFe .riwayat-barang-masuk-MEp {
  max-width: 10.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-eji {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-eji .text-1KN {
  margin-right: 2.5rem;
  width: 11.2rem;
  height: 100%;
  border-radius: 0.8rem;
}
.dasbor-xPi .frame-1321314413-Hwn .frame-54-Cor .frame-9UC .content-eji .text-1KN .buat-pesanan-ke-suplier-Mu2 {
  max-width: 11.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.dasbor-xPi .auto-group-ycji-aFz {
  width: 117.5rem;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak {
  margin: 0rem 47.7rem 7.6rem 0rem;
  width: calc(100% - 47.7rem);
  height: 10.3rem;
  display: flex;
  align-items: center;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314404-qxc {
  margin-right: 4.2rem;
  box-sizing: border-box;
  padding: 1.6rem;
  width: 32.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #f3f4f6;
  background-color: #f5f6f8;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314404-qxc .telur-tersisa-NSk {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314404-qxc .kg-67r {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314404-qxc .tekan-untuk-menambah-stok-telur-q5S {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314414-iQ8 {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.4rem 1.6rem;
  width: 32.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314414-iQ8 .harga-telur-perkg-dmz {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314414-iQ8 .rp31000-LgQ {
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .auto-group-kke8-vak .frame-1321314414-iQ8 .tekan-untuk-mengganti-harga-swE {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .pesanan-xhn {
  margin: 0rem 0rem 1rem 4.5rem;
  display: flex;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.26;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY {
  margin-left: 4.5rem;
  box-sizing: border-box;
  padding-bottom: 21.3rem;
  width: 113rem;
  overflow: hidden;
  position: relative;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ebebee;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .frame-696-91a {
  width: 25rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .frame-697-Dn8 {
  width: 20.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .frame-698-K4U {
  width: 15rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .frame-699-Ce4 {
  width: 20.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .auto-group-dztg-hKv {
  box-sizing: border-box;
  padding: 1.8rem 4rem 1.7rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .auto-group-dztg-hKv .frame-708-Rmi {
  margin-right: 11.6rem;
  width: 4.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-702-Po6 .auto-group-dztg-hKv .frame-709-K6Q {
  width: 7.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-696-Kkc {
  margin: 0.3rem 22.6rem 0.2rem 0rem;
  width: 5.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-697-bi8 {
  margin: 0.3rem 8.2rem 0.2rem 0rem;
  width: 10.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-698-HL4 {
  margin: 0.3rem 9.8rem 0.2rem 0rem;
  width: 8.2rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-699-yCt {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-707-4EL {
  margin: 0.3rem 8.6rem 0.2rem 0rem;
  width: 6.4rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: #0978f2;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-708-8zt {
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-708-8zt .frame-1321314409-tz4 {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-703-CR6 .frame-708-8zt .frame-1321314409-tz4 .frame-3-Skg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-696-SeC {
  margin: 0.3rem 21.8rem 0.2rem 0rem;
  width: 4.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-697-vpG {
  margin: 0.3rem 7.9rem 0.2rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-698-cSC {
  margin: 0.3rem 10.4rem 0.2rem 0rem;
  width: 6.5rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-699-VVz {
  margin: 0.3rem 8.9rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-708-AME {
  margin: 0.3rem 9.3rem 0.2rem 0rem;
  width: 6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(14, 173, 105, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-707-qTN {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-707-qTN .frame-1321314409-AVe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-704-X1S .frame-707-qTN .frame-1321314409-AVe .frame-3-7Qt {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-696-9Vz {
  margin: 0.3rem 22.1rem 0.2rem 0rem;
  width: 4.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-697-pc8 {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-698-6Ze {
  margin: 0.3rem 10.5rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-699-aji {
  margin: 0.3rem 9.1rem 0.2rem 0rem;
  width: 7.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-708-5Ag {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(193, 11, 14, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-707-m3W {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-707-m3W .frame-1321314409-ufW {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-705-r16 .frame-707-m3W .frame-1321314409-ufW .frame-3-Twv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.5rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-696-FMz {
  margin: 0.3rem 14.1rem 0.2rem 0rem;
  width: 12rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-697-vj2 {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-698-oH2 {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-699-gLp {
  margin: 0.3rem 8rem 0.2rem 0rem;
  width: 9.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-708-y52 {
  margin: 0.3rem 5.5rem 0.2rem 0rem;
  width: 10.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(35, 0, 255, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-707-SjJ {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-707-SjJ .frame-1321314409-Bwn {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.dasbor-xPi .auto-group-ycji-aFz .frame-695-tLY .frame-706-vKi .frame-707-SjJ .frame-1321314409-Bwn .frame-3-MLU {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
