
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.daftar-telur-2v4 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/daftar-telur-bg.png');
}
.daftar-telur-2v4 .header-top-Nyv {
  box-sizing: border-box;
  padding: 0rem 2.2rem 0rem 4.3rem;
  width: 144rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/header-top-bg-3SY.png');
}
.daftar-telur-2v4 .header-top-Nyv .rectangle-56-VYk {
  margin: 0rem 58.4rem 1rem 0rem;
  width: 34.1rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.daftar-telur-2v4 .header-top-Nyv .your-account-items-RBW {
  margin: 2.3rem 0rem 3.2rem 0rem;
  height: calc(100% - 5.5rem);
  display: flex;
  column-gap: 1.6rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.daftar-telur-2v4 .header-top-Nyv .your-account-items-RBW .frame-6-vtx {
  margin-top: 0.1rem;
  width: 20.2rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3999999653;
  color: #23263b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #60fd00;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .header-top-Nyv .your-account-items-RBW .frame-3-nwA {
  margin-top: 0.05rem;
  box-sizing: border-box;
  padding: 0 4.2rem;
  height: 2.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  line-height: 2.4097223282;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #556ab7;
  border-radius: 0.4819rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .header-top-Nyv .your-account-items-RBW .frame-3-QxY {
  box-sizing: border-box;
  padding: 0 3.8rem;
  height: 2.2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  line-height: 2.4097223282;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ff0000;
  border-radius: 0.4819rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 {
  box-sizing: border-box;
  padding: 5.1rem 5.3rem 4.4rem 5.3rem;
  width: 108.2rem;
  height: 74.9rem;
  position: absolute;
  left: 30.4rem;
  top: 15.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa {
  margin-bottom: 6rem;
  width: 100%;
  height: 54.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 5.6rem;
  align-items: center;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU {
  width: 28.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 1.3rem 0.3rem 1.2rem 1.3rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #cee3ca;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-7-xuW {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 25.6119rem;
  height: 13rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-7-xuW .image-2-cMn {
  width: 26.4rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E {
  box-sizing: border-box;
  padding: 0rem 0rem 0.2rem 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .pesan-telur-dengan-jumlah-bebas-4Ug {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00171f;
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3636363636;
  color: rgba(0, 23, 31, 0.4799999893);
  font-family: Alatsi, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE-sub-0 {
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.1818181818;
  color: rgba(0, 23, 31, 0.4799999893);
  font-family: Alatsi, 'Source Sans Pro';
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE .anda-dapat-mengatur-berapa-jumlah-yang-ingin-dipesan-9FE-sub-2 {
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .frame-1321314406-Br8 {
  margin-left: 0.3rem;
  width: 9.4rem;
  height: 2.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-W1v .frame-15-85E .frame-1321314406-Br8 .frame-15-KhS {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #55b76b;
  border-radius: 0.4819rem;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN {
  box-sizing: border-box;
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #cee3cb;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN .frame-7-TSG {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 13rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN .frame-7-TSG .image-2-b2g {
  width: 26.4rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN .frame-15-82c {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN .frame-15-82c .kg-rjJ {
  margin-bottom: 2.9rem;
  max-width: 4.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.75;
  color: #00171f;
  font-family: Basic, 'Source Sans Pro';
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN .frame-15-82c .frame-1321314406-yJ8 {
  margin-left: 0.2rem;
  width: 9.4rem;
  height: 2.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-w5qc-ZcU .product-card-9wN .frame-15-82c .frame-1321314406-yJ8 .frame-15-7QL {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #55b76b;
  border-radius: 0.4819rem;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY {
  width: 28.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 0.8rem 1.2rem 1.8rem 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #cee3cb;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc .frame-7-ax8 {
  margin: 0rem 0rem 0.7rem 0.4rem;
  height: 13rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc .frame-7-ax8 .image-2-hWx {
  width: 26.4rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc .frame-15-EFz {
  width: 11.4rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc .frame-15-EFz .kg-n2c {
  margin: 0rem 0rem 2.1rem 1.3rem;
  max-width: 4.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.75;
  color: #00171f;
  font-family: Basic, 'Source Sans Pro';
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc .frame-15-EFz .auto-group-gy28-trL {
  box-sizing: border-box;
  padding: 0.4rem 0.7rem 0rem 1.3rem;
  width: 100%;
  height: 2.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-1321314406.png');
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-tJc .frame-15-EFz .auto-group-gy28-trL .frame-15-2he {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #55b76b;
  border-radius: 0.4819rem;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz {
  box-sizing: border-box;
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #cee3cb;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz .frame-7-DGL {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 13rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz .frame-7-DGL .image-2-MdS {
  width: 26.4rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz .frame-15-rq6 {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz .frame-15-rq6 .kg-BsN {
  margin-bottom: 2.9rem;
  max-width: 4.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.75;
  color: #00171f;
  font-family: Basic, 'Source Sans Pro';
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz .frame-15-rq6 .frame-1321314406-v4G {
  margin-left: 0.2rem;
  width: 9.4rem;
  height: 2.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-2tra-YkY .product-card-Gbz .frame-15-rq6 .frame-1321314406-v4G .frame-15-f1r {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #55b76b;
  border-radius: 0.4819rem;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN {
  width: 28.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #cee3cb;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e .frame-7-PMA {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 13rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e .frame-7-PMA .image-2-LGQ {
  width: 26.4rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e .frame-15-ent {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e .frame-15-ent .kg-x2t {
  margin-bottom: 2.9rem;
  max-width: 4.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.75;
  color: #00171f;
  font-family: Basic, 'Source Sans Pro';
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e .frame-15-ent .frame-1321314406-UX2 {
  margin-left: 0.2rem;
  width: 9.4rem;
  height: 2.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-G1e .frame-15-ent .frame-1321314406-UX2 .frame-15-ct8 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #55b76b;
  border-radius: 0.4819rem;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA {
  box-sizing: border-box;
  padding: 0.8rem 1.2rem 1.2rem 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 2.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #cee3cb;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA .frame-7-DN8 {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 13rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA .frame-7-DN8 .image-2-meY {
  width: 26.4rem;
  height: 26.4rem;
  object-fit: cover;
  vertical-align: top;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA .frame-15-ho6 {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 0rem 1rem 0.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA .frame-15-ho6 .kg-DmS {
  margin-bottom: 2.9rem;
  max-width: 4.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.75;
  color: #00171f;
  font-family: Basic, 'Source Sans Pro';
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA .frame-15-ho6 .frame-1321314406-iCQ {
  margin-left: 0.2rem;
  width: 9.4rem;
  height: 2.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .frame-1321314407-qRa .auto-group-qecx-WHN .product-card-sZA .frame-15-ho6 .frame-1321314406-iCQ .frame-15-3Eg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #55b76b;
  border-radius: 0.4819rem;
}
.daftar-telur-2v4 .frame-55-536 .pagination-UKz {
  margin: 0rem 41.2rem 0rem 41.1rem;
  box-sizing: border-box;
  padding: 1.16rem 1.8rem 1.16rem 2.057rem;
  width: calc(100% - 82.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .pagination-UKz .bold-arrows-alt-arrow-left-n5n {
  margin-right: 8.8714rem;
  width: 1.3714rem;
  height: 2.48rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-55-536 .pagination-UKz .bold-arrows-alt-arrow-right-6sA {
  width: 1.2rem;
  height: 2.48rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 {
  width: 24.2rem;
  height: 95.4rem;
  position: absolute;
  left: 0;
  top: 7rem;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk {
  box-sizing: border-box;
  padding-bottom: 22.3rem;
  width: 13.7rem;
  height: 34.7rem;
  position: absolute;
  left: 6.6rem;
  top: 6.9rem;
  row-gap: 0.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .text-2PS {
  box-sizing: border-box;
  padding: 0.4rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: rgba(28, 28, 28, 0.400000006);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-K7e {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-K7e .icon-text-s9A {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-K7e .icon-text-s9A .text-RAg {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-ifa {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-ifa .text-Gwz {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-z7J {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  background-color: rgba(2, 2, 2, 0.0599999987);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-Zkk .content-z7J .text-LS4 {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ {
  box-sizing: border-box;
  padding: 6.9rem 3.9rem 6.9rem 6.6rem;
  width: 24.2rem;
  height: 94rem;
  position: absolute;
  left: 0;
  top: 7rem;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt {
  box-sizing: border-box;
  padding-bottom: 19.1rem;
  width: 100%;
  height: 34.7rem;
  row-gap: 0.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .text-EQx {
  box-sizing: border-box;
  padding: 0.4rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #1c1c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-kPJ {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-kPJ .icon-text-uGC {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-kPJ .icon-text-uGC .text-Fqr {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-M8C {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-M8C .text-VEQ {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-b2Y {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-b2Y .text-vac {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-Pj6 {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.daftar-telur-2v4 .frame-56-2F2 .frame-54-1HJ .frame-trt .content-Pj6 .text-k3r {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
