
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-status-JFr {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #fafbff;
}
.edit-status-JFr .frame-1321314413-Scx {
  box-sizing: border-box;
  padding: 7rem 0rem 1.2rem 0rem;
  width: 24.2rem;
  height: 102.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 {
  box-sizing: border-box;
  padding: 6.2rem 4rem 6.2rem 6.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN {
  box-sizing: border-box;
  padding-bottom: 7.9rem;
  width: 100%;
  height: 34.7rem;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .text-beG {
  box-sizing: border-box;
  padding: 0.4rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #1c1c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-hBW {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-hBW .icon-text-FD2 {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-hBW .icon-text-FD2 .text-bng {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-tFz {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-tFz .text-Eqe {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-Y5e {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-Y5e .text-t9W {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-BeQ {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-BeQ .text-w7n {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-BeQ .text-w7n .riwayat-barang-masuk-HxL {
  max-width: 10.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-C3i {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-C3i .text-LQp {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-status-JFr .frame-1321314413-Scx .frame-54-YR6 .frame-sTN .content-C3i .text-LQp .buat-pesanan-ke-suplier-6Pz {
  max-width: 11.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.edit-status-JFr .pesanan-iRN {
  width: 21rem;
  height: 7rem;
  position: absolute;
  left: 27.8rem;
  top: 27.65rem;
  display: flex;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.26;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .frame-695-Dsv {
  box-sizing: border-box;
  padding-bottom: 11.3rem;
  width: 113rem;
  height: 40.6rem;
  position: absolute;
  left: 27.7rem;
  top: 36.5rem;
  overflow: hidden;
  row-gap: 2.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ebebee;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .frame-696-sxU {
  width: 25rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .frame-697-kmN {
  width: 20.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .frame-698-3kU {
  width: 15rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .frame-699-x6k {
  width: 20.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .auto-group-791z-38C {
  box-sizing: border-box;
  padding: 1.8rem 4rem 1.7rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .auto-group-791z-38C .frame-708-ZMS {
  margin-right: 11.6rem;
  width: 4.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-702-w3E .auto-group-791z-38C .frame-709-f9a {
  width: 7.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-696-4xQ {
  margin: 0.3rem 22.6rem 0.2rem 0rem;
  width: 5.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-697-k4Y {
  margin: 0.3rem 8.2rem 0.2rem 0rem;
  width: 10.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-698-2Xr {
  margin: 0.3rem 9.8rem 0.2rem 0rem;
  width: 8.2rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-699-ube {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-707-bDa {
  margin: 0.3rem 8.6rem 0.2rem 0rem;
  width: 6.4rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: #0978f2;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-708-UYG {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-708-UYG .frame-1321314409-E1e {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-status-JFr .frame-695-Dsv .frame-703-M2Q .frame-708-UYG .frame-1321314409-E1e .frame-3-yzp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-696-oDA {
  margin: 0.3rem 21.8rem 0.2rem 0rem;
  width: 4.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-697-syi {
  margin: 0.3rem 7.9rem 0.2rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-698-9gL {
  margin: 0.3rem 10.4rem 0.2rem 0rem;
  width: 6.5rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-699-dLc {
  margin: 0.3rem 8.9rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-708-uZ2 {
  margin: 0.3rem 9.3rem 0.2rem 0rem;
  width: 6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(14, 173, 105, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-707-BmS {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-707-BmS .frame-1321314409-j2G {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-status-JFr .frame-695-Dsv .frame-704-sKW .frame-707-BmS .frame-1321314409-j2G .frame-3-5rp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-696-u5A {
  margin: 0.3rem 22.1rem 0.2rem 0rem;
  width: 4.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-697-BYU {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-698-rPi {
  margin: 0.3rem 10.5rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-699-jTW {
  margin: 0.3rem 9.1rem 0.2rem 0rem;
  width: 7.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-708-Crt {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(193, 11, 14, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-707-gGG {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-707-gGG .frame-1321314409-pdN {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-status-JFr .frame-695-Dsv .frame-705-a2t .frame-707-gGG .frame-1321314409-pdN .frame-3-Net {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-status-JFr .frame-1321314404-pFz {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 32.8rem;
  height: 10.3rem;
  position: absolute;
  left: 29rem;
  top: 12.9rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #f5f6f8;
  border-radius: 0.5rem;
}
.edit-status-JFr .frame-1321314404-pFz .telur-tersisa-8Xa {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .frame-1321314404-pFz .kg-f1i {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .frame-1321314404-pFz .tekan-untuk-menambah-stok-telur-ns2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .frame-1321314405-672 {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.4rem 1.6rem;
  width: 32.8rem;
  height: 10.3rem;
  position: absolute;
  left: 63.1rem;
  top: 13.2rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
}
.edit-status-JFr .frame-1321314405-672 .harga-telur-perkg-bZa {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .frame-1321314405-672 .rp31000-vLx {
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .frame-1321314405-672 .tekan-untuk-mengganti-harga-4CG {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-status-JFr .desktop-1-Z92 {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.edit-status-JFr .desktop-1-Z92 .button-hW8 {
  width: 14.1667rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 49.3rem;
  top: 73.1rem;
}
.edit-status-JFr .desktop-1-Z92 .button-hW8 .stylelayer-EW4 {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #232321;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #232321;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY {
  width: 56rem;
  height: 44.4rem;
  position: absolute;
  left: 46.2rem;
  top: 36.9rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .group-epg {
  width: 56rem;
  height: 44.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a {
  width: 44.5667rem;
  height: 35.8rem;
  position: absolute;
  left: 5.7rem;
  top: 5.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .edit-status-W6C {
  margin: 0rem 0.767rem 3.5rem 0rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4a4b4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg {
  width: 100%;
  height: 4.8rem;
  display: flex;
  column-gap: 1.0333rem;
  align-items: center;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg .button-kmE {
  width: 14.1667rem;
  height: 100%;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #06bbf4;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg .button-kmE .stylelayer-iTA {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg .button-zfa {
  width: 14.1667rem;
  height: 100%;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ff0000;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg .button-zfa .stylelayer-MW8 {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg .button-SnU {
  width: 14.1667rem;
  height: 100%;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #2ccf46;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-c1kl-pcg .button-SnU .stylelayer-od2 {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc {
  box-sizing: border-box;
  padding: 4.2rem 0rem 0rem 15.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .button-pY8 {
  margin: 0rem 15.2rem 9.5rem 0rem;
  width: 14.1667rem;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #2400ff;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .button-pY8 .stylelayer-Yyv {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .frame-2609075-3fn {
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .frame-2609075-3fn .button-Pje {
  margin-right: 1.0333rem;
  width: 14.1667rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .frame-2609075-3fn .button-Pje .stylelayer-9Tv {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bc237;
  border-radius: 0.8rem;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .frame-2609075-3fn .button-FWx {
  width: 14.1667rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.edit-status-JFr .desktop-1-Z92 .group-24-8LY .frame-23-P1a .auto-group-t4ic-hCc .frame-2609075-3fn .button-FWx .stylelayer-1m2 {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e61313;
  border-radius: 0.8rem;
}
