
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-stok-ywe {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #fafbff;
}
.edit-stok-ywe .frame-1321314413-hse {
  box-sizing: border-box;
  padding: 7rem 0rem 1.2rem 0rem;
  width: 24.2rem;
  height: 102.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji {
  box-sizing: border-box;
  padding: 6.2rem 4rem 6.2rem 6.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ffffff 32.95%, rgba(40, 186, 218, 0) 100%);
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je {
  box-sizing: border-box;
  padding-bottom: 7.9rem;
  width: 100%;
  height: 34.7rem;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .text-H5A {
  box-sizing: border-box;
  padding: 0.4rem 1.2rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #1c1c1c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-BAY {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-BAY .icon-text-vtp {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-BAY .icon-text-vtp .text-frQ {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-ZB6 {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-ZB6 .text-uVr {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-bNg {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-bNg .text-YHv {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-dKN {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-dKN .text-xsS {
  margin-right: 0.8rem;
  width: 12.9rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-dKN .text-xsS .riwayat-barang-masuk-81E {
  max-width: 10.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-pek {
  box-sizing: border-box;
  padding: 0.4rem 0;
  width: 100%;
  height: 4.8rem;
  border: solid 0.1rem #000000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-pek .text-BEQ {
  margin-right: 2.5rem;
  width: 11.2rem;
  height: 100%;
  border-radius: 0.8rem;
}
.edit-stok-ywe .frame-1321314413-hse .frame-54-cji .frame-9je .content-pek .text-BEQ .buat-pesanan-ke-suplier-8vL {
  max-width: 11.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #0f0000;
  font-family: Inter, 'Source Sans Pro';
}
.edit-stok-ywe .pesanan-AME {
  width: 19.1rem;
  height: 6.3rem;
  position: absolute;
  left: 28.7rem;
  top: 33rem;
  display: flex;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.26;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .frame-695-rUx {
  box-sizing: border-box;
  padding-bottom: 21.3rem;
  width: 113rem;
  height: 62.1rem;
  position: absolute;
  left: 28.7rem;
  top: 40.3rem;
  overflow: hidden;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ebebee;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .frame-696-HqA {
  width: 25rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .frame-697-Nbi {
  width: 20.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .frame-698-4UY {
  width: 15rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .frame-699-MiY {
  width: 20.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cecece;
  box-sizing: border-box;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .auto-group-ejwr-rfJ {
  box-sizing: border-box;
  padding: 1.8rem 4rem 1.7rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .auto-group-ejwr-rfJ .frame-708-ZZi {
  margin-right: 11.6rem;
  width: 4.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-702-Ycg .auto-group-ejwr-rfJ .frame-709-FxL {
  width: 7.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(73, 69, 79, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-696-sip {
  margin: 0.3rem 22.6rem 0.2rem 0rem;
  width: 5.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-697-xEU {
  margin: 0.3rem 8.2rem 0.2rem 0rem;
  width: 10.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-698-qp4 {
  margin: 0.3rem 9.8rem 0.2rem 0rem;
  width: 8.2rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-699-WfJ {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-707-z4g {
  margin: 0.3rem 8.6rem 0.2rem 0rem;
  width: 6.4rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: #0978f2;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-708-rcg {
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-708-rcg .frame-1321314409-R9z {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.edit-stok-ywe .frame-695-rUx .frame-703-YgY .frame-708-rcg .frame-1321314409-R9z .frame-3-ki4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-696-ZfW {
  margin: 0.3rem 21.8rem 0.2rem 0rem;
  width: 4.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-697-eBA {
  margin: 0.3rem 7.9rem 0.2rem 0rem;
  width: 13.8rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-698-iwi {
  margin: 0.3rem 10.4rem 0.2rem 0rem;
  width: 6.5rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-699-RLL {
  margin: 0.3rem 8.9rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-708-uWQ {
  margin: 0.3rem 9.3rem 0.2rem 0rem;
  width: 6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(14, 173, 105, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-707-bu2 {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-707-bu2 .frame-1321314409-MNQ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-stok-ywe .frame-695-rUx .frame-704-SKz .frame-707-bu2 .frame-1321314409-MNQ .frame-3-vAc {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.4rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-696-vpp {
  margin: 0.3rem 22.1rem 0.2rem 0rem;
  width: 4.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-697-DZ2 {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-698-WHE {
  margin: 0.3rem 10.5rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-699-zTJ {
  margin: 0.3rem 9.1rem 0.2rem 0rem;
  width: 7.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-708-HBW {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 8.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(193, 11, 14, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-707-wWx {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-707-wWx .frame-1321314409-UWt {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-stok-ywe .frame-695-rUx .frame-705-c3S .frame-707-wWx .frame-1321314409-UWt .frame-3-Ekx {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 {
  box-sizing: border-box;
  padding: 1.5rem 2.2rem 1.5rem 2.5rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-696-eJt {
  margin: 0.3rem 14.1rem 0.2rem 0rem;
  width: 12rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-697-w36 {
  margin: 0.3rem 7.5rem 0.2rem 0rem;
  width: 13.7rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-698-RU4 {
  margin: 0.3rem 9.4rem 0.2rem 0rem;
  width: 7.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-699-tMe {
  margin: 0.3rem 8rem 0.2rem 0rem;
  width: 9.3rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-708-Apx {
  margin: 0.3rem 5.5rem 0.2rem 0rem;
  width: 10.1rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(35, 0, 255, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-707-Tp4 {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  width: 11.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-707-Tp4 .frame-1321314409-cgx {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-stok-ywe .frame-695-rUx .frame-706-ig8 .frame-707-Tp4 .frame-1321314409-cgx .frame-3-nLY {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1.5422rem;
  font-weight: 800;
  line-height: 1.5625000773;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0964rem #333333;
  box-sizing: border-box;
  background-color: #0ba7ff;
  border-radius: 0.4819rem;
}
.edit-stok-ywe .frame-1321314414-EyE {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.4rem 1.6rem;
  width: 32.8rem;
  height: 10.3rem;
  position: absolute;
  left: 61.2rem;
  top: 15.1rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #dcfaed;
  border-radius: 0.5rem;
}
.edit-stok-ywe .frame-1321314414-EyE .harga-telur-perkg-wck {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .frame-1321314414-EyE .rp31000-Tqz {
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0ead69;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .frame-1321314414-EyE .tekan-untuk-mengganti-harga-1Mi {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .frame-1321314404-WJU {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 32.8rem;
  height: 10.3rem;
  position: absolute;
  left: 24.2rem;
  top: 15.1rem;
  overflow: hidden;
  border: solid 0.1rem #f3f4f6;
  background-color: #f5f6f8;
  border-radius: 0.5rem;
}
.edit-stok-ywe .frame-1321314404-WJU .telur-tersisa-RwE {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.016rem;
  color: rgba(34, 34, 34, 0.8999999762);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .frame-1321314404-WJU .kg-N5n {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.26;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .frame-1321314404-WJU .tekan-untuk-menambah-stok-telur-WSt {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.01rem;
  color: rgba(73, 69, 79, 0.8000000119);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .desktop-1-QHN {
  box-sizing: border-box;
  padding: 37rem 44rem;
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex {
  width: 100%;
  height: 100%;
  position: relative;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-6vt {
  width: 56rem;
  height: 28.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 {
  width: 34.2667rem;
  height: 21.1659rem;
  position: absolute;
  left: 9.3rem;
  top: 3.9rem;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .edit-stok-NdW {
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4a4b4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .auto-group-mvtg-WDv {
  margin: 0rem 5.967rem 3.266rem 8.7rem;
  width: calc(100% - 14.6667rem);
  height: 5.4rem;
  display: flex;
  align-items: center;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .auto-group-mvtg-WDv .stylelayer-pVW {
  margin: 0.2rem 0.433rem 0.4rem 0rem;
  width: 14.1667rem;
  height: calc(100% - 0.6rem);
  border: solid 0.1rem #232321;
  box-sizing: border-box;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .auto-group-mvtg-WDv .frame-1321314410-8FJ {
  width: 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #4a4b4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .frame-2609075-S16 {
  margin-left: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .frame-2609075-S16 .button-NQY {
  margin-right: 3.3333rem;
  width: 14.1667rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .frame-2609075-S16 .button-NQY .stylelayer-Kqa {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #232321;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #232321;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .frame-2609075-S16 .button-pGY {
  width: 14.1667rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.edit-stok-ywe .desktop-1-QHN .group-24-9Ex .group-23-3r8 .frame-2609075-S16 .button-pGY .stylelayer-mha {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.185;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5bc237;
  border-radius: 0.8rem;
}
