
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lupa-password-F8k {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/r-1-bg-xPi.png');
}
.lupa-password-F8k .header-top-zME {
  box-sizing: border-box;
  padding: 0rem 2.4rem 0rem 4.3rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/header-top-bg.png');
  flex-shrink: 0;
}
.lupa-password-F8k .header-top-zME .rectangle-56-WaU {
  margin: 0rem 70.6rem 1rem 0rem;
  width: 34.1rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lupa-password-F8k .header-top-zME .your-account-items-q6x {
  margin: 3.2rem 0rem 2.35rem 0rem;
  height: calc(100% - 5.55rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.lupa-password-F8k .header-top-zME .your-account-items-q6x .frame-6-ji8 {
  margin: 0.05rem 1.6rem 0rem 0rem;
  width: 20.2rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3999999653;
  color: #23263b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #60fd00;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.lupa-password-F8k .header-top-zME .your-account-items-q6x .frame-3-Lxp {
  box-sizing: border-box;
  padding: 0 2.5rem;
  height: 2.2rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  line-height: 2.4097223282;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #556ab7;
  border-radius: 0.4819rem;
  flex-shrink: 0;
}
.lupa-password-F8k .auto-group-d3yu-Qxg {
  box-sizing: border-box;
  padding: 10.4rem 40rem 10.4rem 40.1rem;
  width: 100%;
  height: 81.5rem;
  flex-shrink: 0;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .inputform-control-Hma {
  width: 48.3rem;
  height: 4.2rem;
  position: absolute;
  left: 7.8rem;
  top: 27.8rem;
  overflow: hidden;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .lupa-password-zR6 {
  width: 16.3rem;
  height: 3.2rem;
  position: absolute;
  left: 9.35rem;
  top: 7.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .email--szg {
  width: 4.4rem;
  height: 2.4rem;
  position: absolute;
  left: 7.8rem;
  top: 15.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .inputform-control-Y5E {
  width: 48.3rem;
  height: 4.2rem;
  position: absolute;
  left: 7.8rem;
  top: 18.9rem;
  overflow: hidden;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .password--dsN {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 7.8rem;
  top: 24.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .sudah-punya-akunlogin-8ZE {
  width: 19.2rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 24.45rem;
  top: 43.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .sudah-punya-akunlogin-8ZE .sudah-punya-akunlogin-8ZE-sub-0 {
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .sudah-punya-akunlogin-8ZE .sudah-punya-akunlogin-8ZE-sub-1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  letter-spacing: 0.02rem;
  color: #03a4ff;
  font-family: Montserrat, 'Source Sans Pro';
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .btn-Bvp {
  width: 45.5rem;
  height: 4.8rem;
  cursor: pointer;
  position: absolute;
  left: 9.2rem;
  top: 36.4rem;
  display: flex;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Montagu Slab, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.0099999998);
  background-color: #2deb29;
  border-radius: 0.5rem;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .auto-group-evsa-2Ak {
  width: 8.25rem;
  height: 3.0493rem;
  position: absolute;
  left: 5.7rem;
  top: 54.1rem;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .auto-group-evsa-2Ak .group-120-ksS {
  width: 3.0795rem;
  height: 3.0493rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.lupa-password-F8k .auto-group-d3yu-Qxg .frame-8-whi .auto-group-evsa-2Ak .kembali-hng {
  width: 5.2rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 3.05rem;
  top: 0.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: 0.02rem;
  color: #000000;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.lupa-password-F8k .frame-5-Zpt {
  box-sizing: border-box;
  padding: 0.3rem 1.3rem 0.3rem 0.85rem;
  width: 144.1rem;
  height: 12.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ffeee5 -0%, #0093ff 100%);
  flex-shrink: 0;
}
.lupa-password-F8k .frame-5-Zpt .ggggggggg-removebg-preview-1-sqa {
  margin: 0rem 8.85rem 1.2rem 0rem;
  width: 23.2rem;
  height: 5.7157rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lupa-password-F8k .frame-5-Zpt .auto-group-zb2q-nhe {
  margin: 0rem 6rem 1.1rem 0rem;
  width: 54rem;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.lupa-password-F8k .frame-5-Zpt .auto-group-zb2q-nhe .alamat-jlki-suro-rt-02-rw-01-kecamatan-pasekankabupaten-indramayujawa-barat-kode-pos-45227-6yE {
  width: 44.4rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #23263b;
  font-family: Inknut Antiqua, 'Source Sans Pro';
}
.lupa-password-F8k .frame-5-Zpt .auto-group-zb2q-nhe .frame-10-YKS {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 44rem;
  top: 0.6rem;
  overflow: hidden;
}
.lupa-password-F8k .frame-5-Zpt .auto-group-zb2q-nhe .frame-11-5aG {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 44rem;
  top: 0.6rem;
  overflow: hidden;
}
.lupa-password-F8k .frame-5-Zpt .tentang-kami-kami-menyediakan-telur-ayam-yang-bermutu-dan-segar-serta-kami-telah-mendistribusikan-telur-ayam-ke-berbagi-tempat-d5z {
  margin-bottom: 1.1rem;
  max-width: 49.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #23263b;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  flex-shrink: 0;
}
